@model CRM.Core.Entities.Service.Crm_Service
@using (Html.BeginForm("GridViewPartialUpdate", "Service", FormMethod.Post, new { id = "frmPerson" }))
{
<table style="border-spacing: 10px;">
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Name";
                s.Text = "Name";
            }).GetHtml()
        </td>
        <td>
           @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Name";
                s.ShowModelErrors = true;

            }).Bind(Model.Name).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
            s.AssociatedControlName = "Category";
            s.Text = "Category";
            }).GetHtml()
        </td>
        <td>
           @Html.Partial("CategoryPartial", Model)
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Usage Unit";
                s.Text = "Usage Unit";
            }).GetHtml()
        </td>
        <td>
           @Html.Partial("UnitPartial", Model)
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "NumberOfUnits";
                s.Text = "Number Of Units";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "NumberOfUnits";
                                settings.Properties.NumberType = SpinEditNumberType.Integer;
                                settings.Number = 0;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 1000000000;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.NumberOfUnits).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "SalesStartDate";
                s.Text = "Sales Start Date";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().DateEdit(s =>
            {
                s.Name = "SalesStartDate";
                s.ShowModelErrors = true;
            }).Bind(Model.SalesStartDate).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "SalesEndDate";
                s.Text = "Sales End Date";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().DateEdit(s =>
            {
                s.Name = "SalesEndDate";
                s.ShowModelErrors = true;
            }).Bind(Model.SalesEndDate).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "SupportStartDate";
                s.Text = "Support Start Date";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().DateEdit(s =>
            {
                s.Name = "SupportStartDate";
                s.ShowModelErrors = true;
            }).Bind(Model.SupportStartDate).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "SupportExpiryDate";
                s.Text = "SupportExpiryDate";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().DateEdit(s =>
            {
                s.Name = "SupportExpiryDate";
                s.ShowModelErrors = true;
            }).Bind(Model.SupportExpiryDate).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Website";
                s.Text = "Website";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Website";
                s.ShowModelErrors = true;

            }).Bind(Model.Website).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Price";
                s.Text = "Price";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "Price";
                                settings.Properties.DisplayFormatString = "C";
                                settings.Number = 799.95M;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 999;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.Price).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Currency";
                s.Text = "Currency";
            }).GetHtml()
        </td>
        <td>
            @Html.Partial("CurrencyPartial", Model)
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "CommissionRate";
                s.Text = "Commission Rate";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "CommissionRate";
                                settings.Properties.NumberType = SpinEditNumberType.Float;
                                settings.Number = 0;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 1000000000;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.CommissionRate).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "PercentVAT";
                s.Text = "PercentVAT";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "PercentVAT";
                                settings.Properties.NumberType = SpinEditNumberType.Float;
                                settings.Number = 0;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 1000000000;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.PercentVAT).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "PercentSales";
                s.Text = "Percent Sales";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "PercentSales";
                                settings.Properties.NumberType = SpinEditNumberType.Float;
                                settings.Number = 0;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 1000000000;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.PercentSales).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "PercentService";
                s.Text = "Percent Service";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "PercentService";
                                settings.Properties.NumberType = SpinEditNumberType.Float;
                                settings.Number = 0;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 1000000000;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.PercentService).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "PurchaseCost";
                s.Text = "Purchase Cost";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "PurchaseCost";
                                settings.Properties.NumberType = SpinEditNumberType.Float;
                                settings.Number = 0;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 1000000000;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.PurchaseCost).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
           @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Description";
                s.Text = "Description";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Memo(
            settings =>
            {
                settings.Name = "Description";
                settings.ControlStyle.CssClass = "editor";
                settings.Height = System.Web.UI.WebControls.Unit.Pixel(200);
                settings.Width = System.Web.UI.WebControls.Unit.Pixel(200);
          }
         ).Bind(Model.Description).GetHtml()
        </td>
        <td>
            
        </td>
        <td>
          
        </td>
    </tr>
   


    <tr class="spaceUnder">
        <td></td>
        <td></td>
        <td></td>
        <td>
            @if (ViewData["IsAuthorized"] != null && (bool) ViewData["IsAuthorized"])
            {
                @Html.DevExpress().HyperLink(s =>
                {
                    s.Name = "SaveProduct";
                    s.Properties.Text = "Save";
                    s.NavigateUrl = "javascript:UpdateGridView();";
                }).GetHtml()
            }
            

            @Html.DevExpress().HyperLink(s => {
            s.Name = "CancelProduct";
            s.Properties.Text = "Cancel";
            s.NavigateUrl = "javascript:GridView.CancelEdit();";
            }).GetHtml()
        </td>
    </tr>

</table>
}