@model CRM.Core.Entities.Service.Crm_Service
<script type="text/javascript">
    function PostEditForm() {

        SelectedId();
        var data = {
            param: $(this).serialize()
        };

        $.ajax({
            url: "/Service/GridViewPartialAddNew",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(data)
        });
    }
</script>
@*@using (Html.BeginForm("GridViewPartialAddNew", "Lead", FormMethod.Post, new {id = "frmTab"}))
{*@
    <section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-danger'>
                <div class='box-header'>
                    <h3 class='box-title'>Services Information<small></small></h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                    </div><!-- /. tools -->
                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <label style="width: 125px; height: 10px;">Service Name: </label>
                                </div>
                                @Html.DevExpress().TextBox(s =>
                                {
                                    s.Name = "Name";
                                    s.ShowModelErrors = true;
                                    s.ControlStyle.CssClass = "form-control";
                                }).Bind(Model.Name).GetHtml()
                            </div><!-- /.input group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;">Usage Unit:</label>
                                    </div>
                                    @Html.Partial("UnitPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;">Active:</label>
                                    </div>
                                    @Html.DevExpress().CheckBox(
                                        settings =>
                                        {
                                            settings.Name = "IsActive";
                                            settings.ControlStyle.CssClass = "form-control";
                                            settings.Width = 177;
                                            settings.Height = 35;
                                        }
                                        ).Bind(Model.IsActive).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;">Number Of Units:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                        settings =>
                                        {
                                            settings.Name = "NumberOfUnits";
                                            settings.Properties.NumberType = SpinEditNumberType.Integer;
                                            settings.Number = 0;
                                            settings.Properties.MinValue = 1;
                                            settings.Properties.MaxValue = 1000000000;
                                            settings.ShowModelErrors = true;
                                            settings.ControlStyle.CssClass = "form-control";
                                            settings.Width = 177;
                                        }
                                        ).Bind(Model.NumberOfUnits).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;">Website:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "Website";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.Website).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;">Category:</label>
                                    </div>
                                    @Html.Partial("CategoryPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;">Owner:</label>
                                    </div>
                                    @Html.Partial("AssignToPartial", Model)
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;">Sales Start Date:</label>
                                    </div>
                                    @Html.DevExpress().DateEdit(s =>
                                    {
                                        s.Name = "SalesStartDate";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";
                                        s.Width = 177;
                                    }).Bind(Model.SalesStartDate).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;">Sales End Date:</label>
                                    </div>
                                    @Html.DevExpress().DateEdit(s =>
                                    {
                                        s.Name = "SalesEndDate";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";
                                        s.Width = 177;
                                    }).Bind(Model.SalesEndDate).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;">Support Start Date:</label>
                                    </div>
                                    @Html.DevExpress().DateEdit(s =>
                                    {
                                        s.Name = "SupportStartDate";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";
                                        s.Width = 177;
                                    }).Bind(Model.SupportStartDate).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;">Support Expiry Date:</label>
                                    </div>
                                    @Html.DevExpress().DateEdit(s =>
                                    {
                                        s.Name = "SupportExpiryDate";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";
                                        s.Width = 177;
                                    }).Bind(Model.SupportExpiryDate).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section><!-- /.content -->
    <!-- /.content -->
@*}*@