@model IList<CRM.Core.Entities.PriceBook.Crm_PriceBook>
                                                                                                                    @{

    var grid = Html.DevExpress().GridView(settings =>
    {
    settings.Name = "GridView";
    settings.SettingsEditing.ShowModelErrorsForEditors = true;
    settings.CallbackRouteValues = new { Controller = "PriceBook", Action = "GridViewPartial" };
    settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "PriceBook", Action = "GridViewPartialAddNew" };
    settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "PriceBook", Action = "GridViewPartialUpdate" };
    settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "PriceBook", Action = "GridViewPartialDelete" };
    settings.SettingsBehavior.ConfirmDelete = true;
    settings.CommandColumn.Visible = true;
    settings.CommandColumn.ShowSelectCheckbox = true;
    settings.ClientSideEvents.SelectionChanged = "OnSelectionChanged";
    settings.ClientSideEvents.BeginCallback = "OnBeginCallback";
    settings.CommandColumn.ButtonType = GridViewCommandButtonType.Image;
    settings.CommandColumn.EditButton.Image.Url = "../../Content/images/edit.png" ;
    settings.CommandColumn.NewButton.Image.Url = "../../Content/images/new.png" ;
    settings.CommandColumn.UpdateButton.Image.Url = "../../Content/images/update.png";
    settings.CommandColumn.DeleteButton.Image.Url = "../../Content/images/delete.png";
    settings.CommandColumn.CancelButton.Image.Url = "../../Content/images/cancel.png";
    settings.CommandColumn.ShowNewButtonInHeader = false;
    settings.CommandColumn.ShowDeleteButton = false;
    settings.CommandColumn.ShowEditButton = false;
    settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;
    settings.KeyFieldName = "PriceBookId";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

    settings.SettingsPager.Visible = true;
    settings.Settings.ShowGroupPanel = true;
    settings.Settings.ShowFilterRow = true;
    settings.SettingsBehavior.AllowSelectByRowClick = true;
    settings.Columns.Add("PriceBookName");
    settings.Columns["PriceBookName"].Caption = "Price Book Name";
    settings.Columns.Add("StatusName");
    settings.Columns["StatusName"].Caption = "Active";
    settings.Columns.Add("CurrencyName");
    settings.Columns["CurrencyName"].Caption = "Currency";
    
    settings.Columns.Add(column =>
    {
        column.Caption = "#";
        column.SetDataItemTemplateContent(c =>
        {
            ViewContext.Writer.Write("<a href=\"/PriceBook/ExternalEditFormEdit?PriceBookId={0}\"><img src=\"../../Content/images/edit.png\" alt=\"My Image\" /></a>", DataBinder.Eval(c.DataItem, "PriceBookId"));
            ViewContext.Writer.Write("&nbsp;");
            ViewContext.Writer.Write("<a href=\"/PriceBook/GridViewPartialDelete?PriceBookId={0}\" onclick =\"return confirm('Do you really want to delete this record?');\"><img src=\"../../Content/images/delete.png\" alt=\"My Image\" /></a>", DataBinder.Eval(c.DataItem, "PriceBookId"));
            //ViewContext.Writer.Write(
            //    Html.ActionLink("Edit", "ExternalEditFormEdit", new { LeadId = DataBinder.Eval(c.DataItem, "LeadId") }) + "&nbsp;" +
            //    Html.ActionLink("Delete", "GridViewPartialDelete", new { LeadId = DataBinder.Eval(c.DataItem, "LeadId") },
            //        new { onclick = "return confirm('Do you really want to delete this record?')" })
            //);
        });
        column.Settings.AllowDragDrop = DefaultBoolean.False;
        column.Settings.AllowSort = DefaultBoolean.False;
        column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
    });


    settings.SetEditFormTemplateContent(c =>
    {
    Html.RenderPartial("PriceBookEditFormPartial",
    !c.Grid.IsNewRowEditing ?
    Model.FirstOrDefault(m => m.PriceBookId == Convert.ToInt32(DataBinder.Eval(c.DataItem, "PriceBookId"))) :
    new CRM.Core.Entities.PriceBook.Crm_PriceBook()
    {
    PriceBookId = Model.OrderByDescending(p => p.PriceBookId)
    .First()
    .PriceBookId + 1
    });
    });
    });
    if (ViewData["EditError"] != null)
    {
    grid.SetEditErrorText((string)ViewData["EditError"]);
    }
                                                                                                                    }
    @grid.Bind(Model).GetHtml()
