@model CRM.Core.Entities.PriceBook.Crm_PriceBook
@using (Html.BeginForm("GridViewPartialUpdate", "PriceBook", FormMethod.Post, new { id = "frmPerson" }))
{
<table style="border-spacing: 10px;">
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "PriceBookName";
                s.Text = "Price Book Name";
            }).GetHtml()
        </td>
        <td>
           @Html.DevExpress().TextBox(s =>
            {
                s.Name = "PriceBookName";
                s.ShowModelErrors = true;

            }).Bind(Model.PriceBookName).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
            s.AssociatedControlName = "Currency";
            s.Text = "Currency";
            }).GetHtml()
        </td>
        <td>
           @Html.Partial("CurrencyPartial", Model)
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
           @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Description";
                s.Text = "Description";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Memo(
            settings =>
            {
                settings.Name = "Description";
                settings.ControlStyle.CssClass = "editor";
                settings.Height = System.Web.UI.WebControls.Unit.Pixel(200);
                settings.Width = System.Web.UI.WebControls.Unit.Pixel(200);
          }
         ).Bind(Model.Description).GetHtml()
        </td>
        <td>
            
        </td>
        <td>
          
        </td>
    </tr>
   


    <tr class="spaceUnder">
        <td></td>
        <td></td>
        <td></td>
        <td>
            @if (ViewData["IsAuthorized"] != null && (bool) ViewData["IsAuthorized"])
            {
                @Html.DevExpress().HyperLink(s =>
                {
                    s.Name = "SaveProduct";
                    s.Properties.Text = "Save";
                    s.NavigateUrl = "javascript:UpdateGridView();";
                }).GetHtml()
            }
            

            @Html.DevExpress().HyperLink(s => {
            s.Name = "CancelProduct";
            s.Properties.Text = "Cancel";
            s.NavigateUrl = "javascript:GridView.CancelEdit();";
            }).GetHtml()
        </td>
    </tr>

</table>
}