﻿@using System.Web.Mvc.Html
@{
    ViewBag.Title = "Quote";
    ViewBag.Heading = "Quote";
}
<style type="text/css">
        tr.spaceUnder > td
    {
      padding-bottom: 1em;
    }
</style>
<script type="text/javascript">
    function UpdateGridView() {
        InitializeMVCValidationScript();

        var form = GetEditableForm();
        if (form.validationCallbacks[0]())
            GridView.UpdateEdit();
    }
    function InitializeMVCValidationScript() {
        var validationRulesScript = GetEditableForm().nextSibling;
        if (validationRulesScript && !validationRulesScript.executed) {
            validationRulesScript.executed = true;
            eval(validationRulesScript.text);
            Sys.Mvc.FormContext._Application_Load();
        }
    }
    function GetEditableForm() {
        return document.getElementById("frmPerson");
    }
</script>

@Html.Action("GridViewPartial")