@model CRM.Core.Entities.Quote.Projects_Quote
@using (Html.BeginForm("GridViewPartialUpdate", "Quote", FormMethod.Post, new { id = "frmPerson" }))
{
<table style="border-spacing: 10px;">
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Project";
                s.Text = "Project";
            }).GetHtml()
        </td>
        <td>
           @Html.Partial("ProjectPartial", Model)
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
            s.AssociatedControlName = "QuoteTime";
            s.Text = "Quote Time";
            }).GetHtml()
        </td>
        <td>
           @Html.DevExpress().DateEdit(s =>
                {
                    s.Name = "QuoteTime";
                    s.ShowModelErrors = true;
                }).Bind(Model.QuoteTime).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "LastStatusDescription";
                s.Text = "Last Status Description";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "LastStatusDescription";
                s.ShowModelErrors = true;

            }).Bind(Model.LastStatusDescription).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Contact";
                s.Text = "Contact";
            }).GetHtml()
        </td>
        <td>
            @Html.Partial("ContactPartial", Model)
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Lead";
                s.Text = "Lead";
            }).GetHtml()
        </td>
        <td>
            @Html.Partial("LeadPartial", Model)
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Stage";
                s.Text = "Stage";
            }).GetHtml()
        </td>
        <td>
            @Html.Partial("StagePartial", Model)
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Shipping";
                s.Text = "Shipping";
            }).GetHtml()
        </td>
        <td>
            @Html.Partial("ShippingPartial", Model)
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "BillingAddress";
                s.Text = "Billing Address";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "BillingAddress";
                s.ShowModelErrors = true;

            }).Bind(Model.BillingAddress).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "ShippingAddress";
                s.Text = "Shipping Address";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "ShippingAddress";
                s.ShowModelErrors = true;

            }).Bind(Model.ShippingAddress).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "ItemsTotal";
                s.Text = "Items Total";
            }).GetHtml()
        </td>
        <td>
                        @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "ItemsTotal";
                                settings.Properties.NumberType = SpinEditNumberType.Integer;
                                settings.Number = 0;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 1000000000;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.ItemsTotal).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Discount";
                s.Text = "Discount";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "Discount";
                                settings.Properties.DisplayFormatString = "C";
                                settings.Number = 799.95M;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 999;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.Discount).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "ShippingCharges";
                s.Text = "Shipping Charges";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "ShippingCharges";
                                settings.Properties.DisplayFormatString = "C";
                                settings.Number = 799.95M;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 999;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.ShippingCharges).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "PreTaxTotal";
                s.Text = "Pre Tax Total";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "PreTaxTotal";
                                settings.Properties.DisplayFormatString = "C";
                                settings.Number = 799.95M;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 999;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.PreTaxTotal).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Tax";
                s.Text = "Tax";
            }).GetHtml()
        </td>
        <td>
                        @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "Tax";
                                settings.Properties.NumberType = SpinEditNumberType.Float;
                                settings.Number = 0;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 1000000000;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.Tax).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Adjustment";
                s.Text = "Adjustment";
            }).GetHtml()
        </td>
        <td>
                        @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "Adjustment";
                                settings.Properties.NumberType = SpinEditNumberType.Float;
                                settings.Number = 0;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 1000000000;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.Adjustment).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "TaxesForShipping";
                s.Text = "Taxes For Shipping";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "TaxesForShipping";
                                settings.Properties.DisplayFormatString = "C";
                                settings.Number = 799.95M;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 999;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.TaxesForShipping).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "GrandTotal";
                    s.Text = "Grand Total";
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "GrandTotal";
                                settings.Properties.DisplayFormatString = "C";
                                settings.Number = 799.95M;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 999;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.GrandTotal).GetHtml()
        </td>
        <td>
           
        </td>
        <td>
           
        </td>
    </tr>


    <tr class="spaceUnder">
        <td></td>
        <td></td>
        <td></td>
        <td>
            @if (ViewData["IsAuthorized"] != null && (bool) ViewData["IsAuthorized"])
            {
                @Html.DevExpress().HyperLink(s =>
                {
                    s.Name = "SaveProduct";
                    s.Properties.Text = "Save";
                    s.NavigateUrl = "javascript:UpdateGridView();";
                }).GetHtml()
            }
            

            @Html.DevExpress().HyperLink(s => {
            s.Name = "CancelProduct";
            s.Properties.Text = "Cancel";
            s.NavigateUrl = "javascript:GridView.CancelEdit();";
            }).GetHtml()
        </td>
    </tr>

</table>
}