@model IList<CRM.Core.Entities.Contact.Members_Contact>
    @{

        var grid = Html.DevExpress().GridView(settings =>
        {
            settings.Name = "GridView";
            settings.SettingsEditing.ShowModelErrorsForEditors = true;
            settings.CallbackRouteValues = new { Controller = "Contact", Action = "GridViewPartial" };
            settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "Contact", Action = "GridViewPartialAddNew" };
            settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Contact", Action = "GridViewPartialUpdate" };
            settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "Contact", Action = "GridViewPartialDelete" };
            settings.SettingsBehavior.ConfirmDelete = true;
            settings.CommandColumn.Visible = true;
            settings.CommandColumn.ShowSelectCheckbox = true;
            settings.ClientSideEvents.SelectionChanged = "OnSelectionChanged";
            settings.ClientSideEvents.BeginCallback = "OnBeginCallback";
            settings.CommandColumn.ButtonType = GridViewCommandButtonType.Image;
            settings.CommandColumn.EditButton.Image.Url = "../../Content/images/edit.png";
            settings.CommandColumn.NewButton.Image.Url = "../../Content/images/new.png";
            settings.CommandColumn.UpdateButton.Image.Url = "../../Content/images/update.png";
            settings.CommandColumn.DeleteButton.Image.Url = "../../Content/images/delete.png";
            settings.CommandColumn.CancelButton.Image.Url = "../../Content/images/cancel.png";
            settings.CommandColumn.ShowNewButtonInHeader = false;
            settings.CommandColumn.ShowDeleteButton = false;
            settings.CommandColumn.ShowEditButton = false;
            settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;
            settings.KeyFieldName = "ContactId";
            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

            settings.SettingsPager.Visible = true;
            settings.Settings.ShowGroupPanel = true;
            settings.Settings.ShowFilterRow = true;
            settings.SettingsBehavior.AllowSelectByRowClick = true;
            settings.Columns.Add("FirstName");
            settings.Columns["FirstName"].Caption = "First Name";
            settings.Columns.Add("LastName");
            settings.Columns["LastName"].Caption = "Last Name";
            settings.Columns.Add("Title");
            settings.Columns.Add("CustomerName");
            settings.Columns["CustomerName"].Caption = "Customer Name";
            settings.Columns.Add("PrimaryEmail");
            settings.Columns["PrimaryEmail"].Caption = "Email";
            settings.Columns.Add("OfficePhone");
            settings.Columns["OfficePhone"].Caption = "Office Phone";
            settings.Columns.Add("AssignPerson");
            settings.Columns["AssignPerson"].Caption = "Assign Person";
            settings.Columns.Add(column =>
            {
                column.Caption = "#";
                column.SetDataItemTemplateContent(c =>
                {
                    ViewContext.Writer.Write("<a href=\"/Contact/ExternalEditFormEdit?ContactId={0}\"><img src=\"../../Content/images/edit.png\" alt=\"My Image\" /></a>", DataBinder.Eval(c.DataItem, "ContactId"));
                    ViewContext.Writer.Write("&nbsp;");
                    ViewContext.Writer.Write("<a href=\"/Contact/GridViewPartialDelete?ContactId={0}\" onclick =\"return confirm('Do you really want to delete this record?');\"><img src=\"../../Content/images/delete.png\" alt=\"My Image\" /></a>", DataBinder.Eval(c.DataItem, "ContactId"));
                    //ViewContext.Writer.Write(
                    //    Html.ActionLink("Edit", "ExternalEditFormEdit", new { LeadId = DataBinder.Eval(c.DataItem, "LeadId") }) + "&nbsp;" +
                    //    Html.ActionLink("Delete", "GridViewPartialDelete", new { LeadId = DataBinder.Eval(c.DataItem, "LeadId") },
                    //        new { onclick = "return confirm('Do you really want to delete this record?')" })
                    //);
                });
                column.Settings.AllowDragDrop = DefaultBoolean.False;
                column.Settings.AllowSort = DefaultBoolean.False;
                column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
            });


            settings.SetEditFormTemplateContent(c =>
            {
                Html.RenderPartial("ContactEditFormPartial",
                !c.Grid.IsNewRowEditing ?
                Model.FirstOrDefault(m => m.ContactId == Convert.ToInt32(DataBinder.Eval(c.DataItem, "ContactId"))) :
                new CRM.Core.Entities.Contact.Members_Contact()
                {
                    ContactId = Model.OrderByDescending(p => p.ContactId)
                    .First()
                    .ContactId + 1
                });
            });
        });
        if (ViewData["EditError"] != null)
        {
            grid.SetEditErrorText((string)ViewData["EditError"]);
        }
    }
    @grid.Bind(Model).GetHtml()
