@model CRM.Core.Entities.Contact.Members_Contact
@using (Html.BeginForm("GridViewPartialUpdate", "Contact", FormMethod.Post, new { id = "frmPerson" }))
{
<table style="border-spacing: 10px;">
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "FirstName";
                s.Text = "First Name";
            }).GetHtml()
        </td>
        <td>
           @Html.DevExpress().TextBox(s =>
            {
                s.Name = "FirstName";
                s.ShowModelErrors = true;

            }).Bind(Model.FirstName).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
            s.AssociatedControlName = "LastName";
            s.Text = "Last Name";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "LastName";
                s.ShowModelErrors = true;

            }).Bind(Model.LastName).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "PrimaryEmail";
                s.Text = "PrimaryEmail";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "PrimaryEmail";
                s.ShowModelErrors = true;

            }).Bind(Model.PrimaryEmail).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "OfficePhone";
                s.Text = "OfficePhone";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "OfficePhone";
                s.ShowModelErrors = true;

            }).Bind(Model.OfficePhone).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "MobilePhone";
                s.Text = "Mobile Phone";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "MobilePhone";
                s.ShowModelErrors = true;

            }).Bind(Model.MobilePhone).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "DateOfBirth";
                s.Text = "DateOfBirth";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().DateEdit(s =>
                {
                    s.Name = "DateOfBirth";
                    s.ShowModelErrors = true;
                }).Bind(Model.DateOfBirth).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Fax";
                s.Text = "Fax";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Fax";
                s.ShowModelErrors = true;

            }).Bind(Model.Fax).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Customer";
                s.Text = "Customer";
            }).GetHtml()
        </td>
        <td>
           @Html.Partial("CustomerPartial", Model)
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Title";
                s.Text = "Title";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Title";
                s.ShowModelErrors = true;

            }).Bind(Model.Title).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Department";
                s.Text = "Department";
            }).GetHtml()
        </td>
        <td>@Html.DevExpress().TextBox(s =>
            {
                s.Name = "Department";
                s.ShowModelErrors = true;

            }).Bind(Model.Department).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Referance";
                s.Text = "Referance";
            }).GetHtml()
        </td>
        <td>
           @Html.DevExpress().CheckBox(
            settings => {
                settings.Name = "Referance";
            }
        ).Bind(Model.Referance).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "LeadSourceId";
                s.Text = "LeadSource";
            }).GetHtml()
        </td>
        <td>
            @Html.Partial("LeadSourcePartial", Model)
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "DoNotCall";
                s.Text = "Do Not Call";
            }).GetHtml()
        </td>
        <td>
           @Html.DevExpress().CheckBox(
            settings => {
                settings.Name = "DoNotCall";
            }
        ).Bind(Model.DoNotCall).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "NotifyOwner";
                s.Text = "Notify Owner";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().CheckBox(
            settings => {
                settings.Name = "NotifyOwner";
            }
            ).Bind(Model.NotifyOwner).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "EmailOptionOut";
                s.Text = "Email Option Out";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().CheckBox(
            settings => {
                settings.Name = "EmailOptionOut";
            }
            ).Bind(Model.EmailOptionOut).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "PortalUser";
                s.Text = "Portal User";
            }).GetHtml()
        </td>
        <td>
           @Html.DevExpress().CheckBox(
            settings => {
                settings.Name = "PortalUser";
            }
            ).Bind(Model.PortalUser).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "SupportStartDate";
                    s.Text = "Support Start Date";
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().DateEdit(s =>
                {
                    s.Name = "SupportStartDate";
                    s.ShowModelErrors = true;
                }).Bind(Model.SupportStartDate).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "SupportEndDate";
                    s.Text = "Support End Date";
                }).GetHtml()
        </td>
        <td>
           @Html.DevExpress().DateEdit(s =>
                {
                    s.Name = "SupportEndDate";
                    s.ShowModelErrors = true;
                }).Bind(Model.SupportEndDate).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "MailingStreet";
                s.Text = "Mailing Street";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "MailingStreet";
                s.ShowModelErrors = true;

            }).Bind(Model.MailingStreet).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "MailingPOBox";
                s.Text = "Mailing POBox";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "MailingPOBox";
                s.ShowModelErrors = true;

            }).Bind(Model.MailingPOBox).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "MailingCity";
                s.Text = "Mailing City";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "MailingCity";
                s.ShowModelErrors = true;

            }).Bind(Model.MailingCity).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "MailingState";
                s.Text = "Mailing State";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "MailingState";
                s.ShowModelErrors = true;

            }).Bind(Model.MailingState).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "MailingZip";
                s.Text = "Mailing Zip";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "MailingZip";
                s.ShowModelErrors = true;

            }).Bind(Model.MailingZip).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "MailingCountry";
                s.Text = "Mailing Country";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "MailingCountry";
                s.ShowModelErrors = true;

            }).Bind(Model.MailingCountry).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "OtherStreet";
                s.Text = "Other Street";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "OtherStreet";
                s.ShowModelErrors = true;

            }).Bind(Model.OtherStreet).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "OtherPOBox";
                s.Text = "Other POBox";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "OtherPOBox";
                s.ShowModelErrors = true;

            }).Bind(Model.OtherPOBox).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "OtherCity";
                s.Text = "Other City";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "OtherCity";
                s.ShowModelErrors = true;

            }).Bind(Model.OtherCity).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "OtherState";
                s.Text = "Other State";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "OtherState";
                s.ShowModelErrors = true;

            }).Bind(Model.OtherState).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "OtherZip";
                s.Text = "Other Zip";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "OtherZip";
                s.ShowModelErrors = true;

            }).Bind(Model.OtherZip).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "OtherCountry";
                s.Text = "Other Country";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "OtherCountry";
                s.ShowModelErrors = true;

            }).Bind(Model.OtherCountry).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "Description";
                    s.Text = "Description";
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Memo(
            settings =>
            {
                settings.Name = "Description";
                settings.ControlStyle.CssClass = "editor";
                settings.Height = System.Web.UI.WebControls.Unit.Pixel(200);
                settings.Width = System.Web.UI.WebControls.Unit.Pixel(200);
          }
         ).Bind(Model.Description).GetHtml()
        </td>
        <td>

        </td>
        <td>

        </td>
    </tr>

    <tr class="spaceUnder">
        <td></td>
        <td></td>
        <td></td>
        <td>
            @if (ViewData["IsAuthorized"] != null && (bool) ViewData["IsAuthorized"])
            {
                @Html.DevExpress().HyperLink(s =>
                {
                    s.Name = "SaveProduct";
                    s.Properties.Text = "Save";
                    s.NavigateUrl = "javascript:UpdateGridView();";
                }).GetHtml()
            }
            

            @Html.DevExpress().HyperLink(s => {
            s.Name = "CancelProduct";
            s.Properties.Text = "Cancel";
            s.NavigateUrl = "javascript:GridView.CancelEdit();";
            }).GetHtml()
        </td>
    </tr>

</table>
}