﻿@using System.Web.Mvc.Html
@{
    ViewBag.Title = "Contacts";
    ViewBag.Heading = "Contacts";
}
<style type="text/css">
    tr.spaceUnder > td {
        padding-bottom: 1em;
    }

    a.classname {
        background: url(../../Content/images/edit.png) no-repeat center left;
        display: block;
        text-indent: -9999px;
    }

    a.classnamedelete {
        background: url(../../Content/images/delete.png) no-repeat center right;
        display: block;
        text-indent: -9999px;
    }
</style>
<script type="text/javascript">
    function UpdateGridView() {
        InitializeMVCValidationScript();

        var form = GetEditableForm();
        if (form.validationCallbacks[0]())
            GridView.UpdateEdit();
    }
    function InitializeMVCValidationScript() {
        var validationRulesScript = GetEditableForm().nextSibling;
        if (validationRulesScript && !validationRulesScript.executed) {
            validationRulesScript.executed = true;
            eval(validationRulesScript.text);
            Sys.Mvc.FormContext._Application_Load();
        }
    }
    function GetEditableForm() {
        return document.getElementById("frmPerson");
    }
</script>

<script type="text/javascript">
    var selectedIDs;

    function OnBeginCallback(s, e) {
        //Pass all selected keys to GridView callback action
        e.customArgs["selectedIDs"] = selectedIDs;
    }

    function OnSelectionChanged(s, e) {
        s.GetSelectedFieldValues("ContactId", GetSelectedFieldValuesCallback);
    }

    function GetSelectedFieldValuesCallback(values) {
        //Capture all selected keys
        selectedIDs = values.join(',');
    }

    function OnClick(s, e) {
        //Show all selected keys on client side
        if (e.item.name == 'Edit') {
            selectedIDs = e.item.name + ',' + selectedIDs;
            SelectedId();
            //txtTest.SetValue(selectedIDs);
            popupControl.Show();
        }
        else if (e.item.name == 'Delete') {
            var r = confirm("Do you want to delete selected Contacts!");
            if (r == true) {
                selectedIDs = e.item.name + ',' + selectedIDs;
                BulkDelete();
                GridView.UnselectRows();
                GridView.Refresh();
            }
        }

    }

    function OnSubmitClick(s, e) {
        //Write all selected keys to hidden input. Pass them on post action.

        $("#selectedIDsHF").val(selectedIDs);
    }

    function SelectedId() {
        var data = {
            selectedIDsHF: selectedIDs,
        };

        ProductName.SetValue(selectedIDs);
        $.ajax({
            url: "/Contact/GetSelectedValuesFromGrid",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(data)
        });
    }

    function BulkDelete() {
        var data = {
            selectedIDsHF: selectedIDs,
        };

        $.ajax({
            url: "/Contact/BulkDelete",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(data)
        });
    }

    function PostFooter() {
        var editData = ProductName.GetValue();
        CurrentOperation.SetValue(editData);
        $('#frmTab').submit();
    }

</script>
<style type="text/css">
    .dxmLite.dxm-ltr {
        margin-top: -34px;
        height: 70px;
    }
</style>

@using (Html.BeginForm("ContactsNewForm", "Contact", FormMethod.Post, new { id = "frmPerson" }))
{
    <div class="row">
        <div class="col-sm-12 text-center">
            <button class="btn btn-block btn-primary btn-md center-block" style="width: 150px; margin-left: 140px; height: 35px;">Add New Contact</button>
            @Html.DevExpress().Menu(
                settings =>
                {
                    settings.Name = "mFeatures";
                    settings.AllowSelectItem = true;
                    settings.EnableHotTrack = true;
                    settings.EnableAnimation = true;
                    settings.MaximumDisplayLevels = 0;
                    settings.ShowPopOutImages = DefaultBoolean.True;
                    settings.ClientSideEvents.ItemClick = "OnClick";
                    settings.Height = 35;
                    settings.Width = 100;

                    settings.Items.Add(item =>
                    {
                        item.Text = "Actions";
                        item.Name = "Actions";
                        item.Items.Add("Edit", "Edit");
                        item.Items.Add("Delete", "Delete");
                    });
                }).GetHtml()


        </div>
    </div>

}

@Html.Partial("LoadOnDemandPartial")

@Html.Action("GridViewPartial")

@using (Html.BeginForm("GetSelectedValuesFromGrid", "Contact"))
{
    @Html.Hidden("selectedIDsHF");
}

deneme