﻿@using System.Configuration
@model CRM.Core.Entities.Contact.Members_Contact
<script src="~/Content/Template/plugins/jQuery/jQuery-2.1.3.min.js"></script>
<script src="~/Content/Template/plugins/input-mask/jquery.inputmask.js"></script>
<script src="~/Content/Template/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="~/Content/Template/plugins/input-mask/jquery.inputmask.extensions.js"></script>

@using (Html.BeginForm("GridViewPartialAddNew", "Contact", FormMethod.Post, new { id = "frmPerson" }))
{

    <!-- Content Header (Page header) -->
     <section class="content-header">
          <h1>
              Creating New Contact
            <small></small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li class="active">Contacts</li>
          </ol>
        </section>
    <!-- Main content -->
<section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-danger'>
                <div class='box-header'>
                    <h3 class='box-title'>Contact Details <small></small></h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-info btn-sm" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-plus"></i>Save</button>
                        <button type="button" onclick="@("window.location.href='" + @Url.Action("Contacts", "Contact") + "'");" class="btn btn-info btn-sm" data-widget='remove' data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i>Cancel</button>
                    </div><!-- /. tools -->
                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <label style="width: 105px; height: 10px;">First Name: </label>
                                </div>
                                @Html.DevExpress().TextBox(s =>
                                {
                                    s.Name = "FirstName";
                                    s.ShowModelErrors = true;
                                    s.ControlStyle.CssClass = "form-control";
                                }).Bind(Model.FirstName).GetHtml()
                            </div><!-- /.input group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px;">Last Name:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "LastName";
                                        s.ControlStyle.CssClass = "form-control";
                                        s.ShowModelErrors = true;
                                    }).Bind(Model.LastName).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px;">Office Phone:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(
                                        settings => {
                                            settings.Name = "OfficePhone";


                                                        settings.Properties.MaskSettings.Mask = "(999) 000-00-00";
                                                        settings.Properties.MaskSettings.IncludeLiterals = MaskIncludeLiteralsMode.None;
                                                        settings.ControlStyle.CssClass = "form-control";
                                                        settings.ShowModelErrors = true;
                                        }
                                        ).Bind(Model.OfficePhone).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px;">Customer:</label>
                                    </div>
                                    @Html.Partial("CustomerPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px;">Mobile Phone:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(
                                        settings => {
                                                        settings.Name = "MobilePhone";


                                                        settings.Properties.MaskSettings.Mask = "(999) 000-00-00";
                                                        settings.Properties.MaskSettings.IncludeLiterals = MaskIncludeLiteralsMode.None;
                                                        settings.ControlStyle.CssClass = "form-control";
                                        }
                                        ).Bind(Model.MobilePhone).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px;">Lead Source:</label>
                                    </div>
                                    @Html.Partial("LeadSourcePartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px;">Home Phone:</label>
                                    </div>
                                   @Html.DevExpress().TextBox(
                                        settings =>
                                        {
                                            settings.Name = "HomePhone";


                                            settings.Properties.MaskSettings.Mask = "(999) 000-00-00";
                                            settings.Properties.MaskSettings.IncludeLiterals = MaskIncludeLiteralsMode.None;
                                            settings.ControlStyle.CssClass = "form-control";
                                        }
                                    ).Bind(Model.HomePhone).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px; height: 10px;">Title:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "Title";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.Title).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px;">Other Phone:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(
                                        settings =>
                                        {
                                            settings.Name = "OtherPhone";


                                            settings.Properties.MaskSettings.Mask = "(999) 000-00-00";
                                            settings.Properties.MaskSettings.IncludeLiterals = MaskIncludeLiteralsMode.None;
                                            settings.ControlStyle.CssClass = "form-control";
                                        }
                                    ).Bind(Model.OtherPhone).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px; height: 10px;">Department:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "Department";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.Department).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px;">Fax:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(
                                        settings =>
                                        {
                                            settings.Name = "Fax";


                                            settings.Properties.MaskSettings.Mask = "(999) 000-00-00";
                                            settings.Properties.MaskSettings.IncludeLiterals = MaskIncludeLiteralsMode.None;
                                            settings.ControlStyle.CssClass = "form-control";
                                        }
                                    ).Bind(Model.Fax).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px; height: 10px;">E-Mail:</label>
                                    </div>
                                   @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "PrimaryEmail";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.PrimaryEmail).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px; height: 10px;">Date Of Birth:</label>
                                    </div>
                                    @Html.DevExpress().DateEdit(s =>
                                    {
                                        s.Name = "DateOfBirth";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";
                                        s.Width = 177;
                                    }).Bind(Model.DateOfBirth).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px; height: 10px;">Assistant:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "Assistant";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.Assistant).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px; height: 10px;">Dialog Reference:</label>
                                    </div>
                                    @Html.Partial("DialogReferencePartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px;">Assistant Phone:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(
                                        settings =>
                                        {
                                            settings.Name = "AssistantPhone";


                                            settings.Properties.MaskSettings.Mask = "(999) 000-00-00";
                                            settings.Properties.MaskSettings.IncludeLiterals = MaskIncludeLiteralsMode.None;
                                            settings.ControlStyle.CssClass = "form-control";
                                        }
                                    ).Bind(Model.AssistantPhone).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px; height: 10px;">Secondary Email:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "SecondaryEmail";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.SecondaryEmail).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px; height: 10px;">Email Opt Out:</label>
                                    </div>
                                    @Html.DevExpress().CheckBox(
                                        settings => {
                                                        settings.Name = "EmailOptOut";
                                                        settings .ControlStyle.CssClass = "form-control";
                                                        settings.Width = 177;
                                        }
                                        ).Bind(Model.EmailOptionOut).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px; height: 10px;">Do Not Call:</label>
                                    </div>
                                    @Html.DevExpress().CheckBox(
                                        settings =>
                                        {
                                            settings.Name = "DoNotCall";
                                        }
                                        ).Bind(Model.DoNotCall).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px; height: 10px;">Referance:</label>
                                    </div>
                                    @Html.DevExpress().CheckBox(
                                        settings =>
                                        {
                                            settings.Name = "Referance";
                                        }
                                        ).Bind(Model.Referance).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px; height: 10px;">Assigned To:</label>
                                    </div>
                                    @Html.Partial("AssignToPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px; height: 10px;">Notify Owner:</label>
                                    </div>
                                    @Html.DevExpress().CheckBox(
                                    settings =>
                                    {
                                        settings.Name = "NotifyOwner";
                                    }
                                    ).Bind(Model.NotifyOwner).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section><!-- /.content -->
<section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-info'>
                <div class='box-header'>
                    <h3 class='box-title'>Customer Portal Details <small></small></h3>
                    <!-- tools box -->
                  
                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px;">Portal User:</label>
                                    </div>
                                    @Html.DevExpress().CheckBox(
                                    settings =>
                                    {
                                        settings.Name = "PortalUser";
                                    }
                                    ).Bind(Model.PortalUser).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px;">Support Start Date:</label>
                                    </div>
                                    @Html.DevExpress().DateEdit(s =>
                                    {
                                        s.Name = "SupportStartDate";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";
                                        s.Width = 177;
                                    }).Bind(Model.SupportStartDate).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px;">Support End Date:</label>
                                    </div>
                                    @Html.DevExpress().DateEdit(s =>
                                    {
                                        s.Name = "SupportEndDate";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";
                                        s.Width = 177;
                                    }).Bind(Model.SupportEndDate).GetHtml()
                                </div>
                            </div><!-- /.form group -->
                        </div>
                       
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section><!-- /.content -->
    <section class="content">
        <div class='row'>
            <div class='col-md-12'>
                <div class='box box-info'>
                    <div class='box-header'>
                        <h3 class='box-title'>Address Details <small></small></h3>
                        <!-- tools box -->

                    </div><!-- /.box-header -->
                    <div class='box-body pad'>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 105px;">Mailing Street:</label>
                                        </div>
                                       @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "MailingStreet";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.MailingStreet).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 105px;">Other Street:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "OtherStreet";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.OtherStreet).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 105px;">Mailing PO Box:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "MailingPOBox";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.MailingPOBox).GetHtml()
                                    </div>
                                </div><!-- /.form group -->
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 105px;">Other PO Box:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "OtherPOBox";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.OtherPOBox).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 105px;">Mailing City:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "MailingCity";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.MailingCity).GetHtml()
                                    </div>
                                </div><!-- /.form group -->
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 105px;">Other City:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "OtherCity";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.OtherCity).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 105px;">Mailing State:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "MailingState";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.MailingState).GetHtml()
                                    </div>
                                </div><!-- /.form group -->
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 105px;">Other State:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "OtherState";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.OtherState).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 105px;">Mailing Zip:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "MailingZip";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.MailingZip).GetHtml()
                                    </div>
                                </div><!-- /.form group -->
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 105px;">Other Zip:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "OtherZip";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.OtherZip).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 105px;">Mailing Country:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "MailingCountry";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.MailingCountry).GetHtml()
                                    </div>
                                </div><!-- /.form group -->
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 105px;">Other Country:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "OtherCountry";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.OtherCountry).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                        </div>
                    </div>
                </div><!-- /.box -->
            </div><!-- /.col-->
        </div><!-- ./row -->
    </section><!-- /.content -->
<section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-primary'>
                <div class='box-header'>
                    <h3 class='box-title'>Description Details <small></small></h3>
                    <!-- tools box -->

                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <label>Description:</label>
                                @Html.DevExpress().Memo(
                                    settings =>
                                    {
                                        settings.Name = "Description";
                                        settings.ControlStyle.CssClass = "editor";
                                        settings.Width = 550;
                                        settings.Height = 50;

                                    }
                                    ).Bind(Model.Description).GetHtml()
                                @Html.DevExpress().TextBox(s =>
                                {
                                    s.Name = "ContactId";
                                    s.ShowModelErrors = true;
                                    s.ControlStyle.CssClass = "form-control";
                                    s.ClientVisible = false;
                                }).Bind(Model.ContactId).GetHtml()
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">

                        </div>
                        <div class="col-md-6 form-group">
                            <div class="pull-right box-tools">
                                <button class="btn btn-info btn-sm" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-plus"></i>Save</button>
                                <button type="button" onclick="@("window.location.href='" + @Url.Action("Contacts", "Contact") + "'");" class="btn btn-info btn-sm" data-widget='remove' data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i>Cancel</button>
                            </div><!-- /. tools -->
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section><!-- /.content -->
}
<script type="text/javascript">
      $(function () {
        //Datemask dd/mm/yyyy
        $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
        //Datemask2 mm/dd/yyyy
        $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
        //Money Euro
        $("[data-mask]").inputmask();

        //Date range picker
        $('#reservation').daterangepicker();
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
        //Date range as a button
        $('#daterange-btn').daterangepicker(
                {
                  ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                  },
                  startDate: moment().subtract('days', 29),
                  endDate: moment()
                },
        function (start, end) {
          $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
        );

        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
          checkboxClass: 'icheckbox_minimal-blue',
          radioClass: 'iradio_minimal-blue'
        });
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
          checkboxClass: 'icheckbox_minimal-red',
          radioClass: 'iradio_minimal-red'
        });
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
          checkboxClass: 'icheckbox_flat-green',
          radioClass: 'iradio_flat-green'
        });

        //Colorpicker
        $(".my-colorpicker1").colorpicker();
        //color picker with addon
        $(".my-colorpicker2").colorpicker();

        //Timepicker
        $(".timepicker").timepicker({
          showInputs: false
        });
      });
</script>