@model CRM.Core.Entities.Contact.Members_Contact
<script type="text/javascript">
    function PostEditForm() {

        SelectedId();
        var data = {
            param: $(this).serialize()
        };

        $.ajax({
            url: "/Lead/GridViewPartialAddNew",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(data)
        });
    }
</script>
@*@using (Html.BeginForm("GridViewPartialAddNew", "Lead", FormMethod.Post, new {id = "frmTab"}))
{*@
    <section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-info'>
                <div class='box-header'>
                    <h3 class='box-title'>Customer Portal Details <small></small></h3>
                    <!-- tools box -->

                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;;">Portal User:</label>
                                    </div>
                                    @Html.DevExpress().CheckBox(
                                    settings =>
                                    {
                                        settings.Name = "PortalUser";
                                    }
                                    ).Bind(Model.PortalUser).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;;">Support Start Date:</label>
                                    </div>
                                    @Html.DevExpress().DateEdit(s =>
                                    {
                                        s.Name = "SupportStartDate";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";
                                        s.Width = 177;
                                    }).Bind(Model.SupportStartDate).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;;">Support End Date:</label>
                                    </div>
                                    @Html.DevExpress().DateEdit(s =>
                                    {
                                        s.Name = "SupportEndDate";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";
                                        s.Width = 177;
                                    }).Bind(Model.SupportEndDate).GetHtml()
                                </div>
                            </div><!-- /.form group -->
                        </div>

                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section><!-- /.content -->
    <!-- /.content -->
@*}*@