@model CRM.Core.Entities.Contact.Members_Contact
<script type="text/javascript">
    function PostEditForm() {

        SelectedId();
        var data = {
            param: $(this).serialize()
        };

        $.ajax({
            url: "/Contact/GridViewPartialAddNew",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(data)
        });
    }
</script>
@*@using (Html.BeginForm("GridViewPartialAddNew", "Lead", FormMethod.Post, new {id = "frmTab"}))
{*@
    <section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-danger'>
                <div class='box-header'>
                    <h3 class='box-title'>Contact Details <small></small></h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                       
                    </div><!-- /. tools -->
                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <label style="width: 125px;; height: 10px;">First Name: </label>
                                </div>
                                @Html.DevExpress().TextBox(s =>
                                {
                                    s.Name = "FirstName";
                                    s.ShowModelErrors = true;
                                    s.ControlStyle.CssClass = "form-control";
                                }).Bind(Model.FirstName).GetHtml()
                            </div><!-- /.input group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;;">Last Name:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "LastName";
                                        s.ControlStyle.CssClass = "form-control";
                                        s.ShowModelErrors = true;
                                    }).Bind(Model.LastName).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;;">Office Phone:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(
                                        settings =>
                                        {
                                            settings.Name = "OfficePhone";


                                            settings.Properties.MaskSettings.Mask = "(999) 000-00-00";
                                            settings.Properties.MaskSettings.IncludeLiterals = MaskIncludeLiteralsMode.None;
                                            settings.ControlStyle.CssClass = "form-control";
                                            settings.ShowModelErrors = true;
                                        }
                                        ).Bind(Model.OfficePhone).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;;">Customer:</label>
                                    </div>
                                    @Html.Partial("CustomerPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;;">Mobile Phone:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(
                                        settings =>
                                        {
                                            settings.Name = "MobilePhone";


                                            settings.Properties.MaskSettings.Mask = "(999) 000-00-00";
                                            settings.Properties.MaskSettings.IncludeLiterals = MaskIncludeLiteralsMode.None;
                                            settings.ControlStyle.CssClass = "form-control";
                                        }
                                        ).Bind(Model.MobilePhone).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;;">Lead Source:</label>
                                    </div>
                                    @Html.Partial("LeadSourcePartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;;">Home Phone:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(
                                        settings =>
                                        {
                                            settings.Name = "HomePhone";


                                            settings.Properties.MaskSettings.Mask = "(999) 000-00-00";
                                            settings.Properties.MaskSettings.IncludeLiterals = MaskIncludeLiteralsMode.None;
                                            settings.ControlStyle.CssClass = "form-control";
                                        }
                                    ).Bind(Model.HomePhone).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;; height: 10px;">Title:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "Title";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.Title).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;;">Other Phone:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(
                                        settings =>
                                        {
                                            settings.Name = "OtherPhone";


                                            settings.Properties.MaskSettings.Mask = "(999) 000-00-00";
                                            settings.Properties.MaskSettings.IncludeLiterals = MaskIncludeLiteralsMode.None;
                                            settings.ControlStyle.CssClass = "form-control";
                                        }
                                    ).Bind(Model.OtherPhone).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;; height: 10px;">Department:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "Department";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.Department).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;;">Fax:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(
                                        settings =>
                                        {
                                            settings.Name = "Fax";


                                            settings.Properties.MaskSettings.Mask = "(999) 000-00-00";
                                            settings.Properties.MaskSettings.IncludeLiterals = MaskIncludeLiteralsMode.None;
                                            settings.ControlStyle.CssClass = "form-control";
                                        }
                                    ).Bind(Model.Fax).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;; height: 10px;">E-Mail:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "PrimaryEmail";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.PrimaryEmail).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;; height: 10px;">Date Of Birth:</label>
                                    </div>
                                    @Html.DevExpress().DateEdit(s =>
                                    {
                                        s.Name = "DateOfBirth";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";
                                        s.Width = 177;
                                    }).Bind(Model.DateOfBirth).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;; height: 10px;">Assistant:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "Assistant";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.Assistant).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;; height: 10px;">Dialog Reference:</label>
                                    </div>
                                    @Html.Partial("DialogReferencePartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;;">Assistant Phone:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(
                                        settings =>
                                        {
                                            settings.Name = "AssistantPhone";


                                            settings.Properties.MaskSettings.Mask = "(999) 000-00-00";
                                            settings.Properties.MaskSettings.IncludeLiterals = MaskIncludeLiteralsMode.None;
                                            settings.ControlStyle.CssClass = "form-control";
                                        }
                                    ).Bind(Model.AssistantPhone).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;; height: 10px;">Secondary Email:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "SecondaryEmail";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.SecondaryEmail).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;; height: 10px;">Email Opt Out:</label>
                                    </div>
                                    @Html.DevExpress().CheckBox(
                                        settings =>
                                        {
                                            settings.Name = "EmailOptOut";
                                            settings.ControlStyle.CssClass = "form-control";
                                            settings.Width = 177;
                                        }
                                        ).Bind(Model.EmailOptionOut).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;; height: 10px;">Do Not Call:</label>
                                    </div>
                                    @Html.DevExpress().CheckBox(
                                        settings =>
                                        {
                                            settings.Name = "DoNotCall";
                                        }
                                        ).Bind(Model.DoNotCall).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;; height: 10px;">Referance:</label>
                                    </div>
                                    @Html.DevExpress().CheckBox(
                                        settings =>
                                        {
                                            settings.Name = "Referance";
                                        }
                                        ).Bind(Model.Referance).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;; height: 10px;">Assigned To:</label>
                                    </div>
                                    @Html.Partial("AssignToPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;; height: 10px;">Notify Owner:</label>
                                    </div>
                                    @Html.DevExpress().CheckBox(
                                    settings =>
                                    {
                                        settings.Name = "NotifyOwner";
                                    }
                                    ).Bind(Model.NotifyOwner).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section><!-- /.content -->
    <!-- /.content -->
@*}*@