@model CRM.Core.Entities.Contact.Members_Contact
<script type="text/javascript">
    function PostEditForm() {

        SelectedId();
        var data = {
            param: $(this).serialize()
        };

        $.ajax({
            url: "/Lead/GridViewPartialAddNew",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(data)
        });
    }
</script>
@*@using (Html.BeginForm("GridViewPartialAddNew", "Lead", FormMethod.Post, new {id = "frmTab"}))
{*@
    <section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-info'>
                <div class='box-header'>
                    <h3 class='box-title'>Address Details <small></small></h3>
                    <!-- tools box -->

                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px;">Mailing Street:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "MailingStreet";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.MailingStreet).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px;">Other Street:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "OtherStreet";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.OtherStreet).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px;">Mailing PO Box:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "MailingPOBox";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.MailingPOBox).GetHtml()
                                </div>
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px;">Other PO Box:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "OtherPOBox";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.OtherPOBox).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px;">Mailing City:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "MailingCity";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.MailingCity).GetHtml()
                                </div>
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px;">Other City:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "OtherCity";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.OtherCity).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px;">Mailing State:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "MailingState";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.MailingState).GetHtml()
                                </div>
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px;">Other State:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "OtherState";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.OtherState).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px;">Mailing Zip:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "MailingZip";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.MailingZip).GetHtml()
                                </div>
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px;">Other Zip:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "OtherZip";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.OtherZip).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px;">Mailing Country:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "MailingCountry";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.MailingCountry).GetHtml()
                                </div>
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 105px;">Other Country:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "OtherCountry";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.OtherCountry).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section><!-- /.content -->
    <!-- /.content -->
@*}*@