@model CRM.Core.Entities.SaleOrder.Crm_SaleOrder
@using (Html.BeginForm("GridViewPartialUpdate", "SaleOrder", FormMethod.Post, new { id = "frmPerson" }))
{
<table style="border-spacing: 10px;">
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Subject";
                s.Text = "Subject";
            }).GetHtml()
        </td>
        <td>
           @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Subject";
                s.ShowModelErrors = true;

            }).Bind(Model.Subject).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
            s.AssociatedControlName = "Customer";
            s.Text = "Customer";
            }).GetHtml()
        </td>
        <td>
           @Html.Partial("CustomerPartial", Model)
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "PurchaseOrder";
                s.Text = "Purchase Order";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "PurchaseOrder";
                s.ShowModelErrors = true;

            }).Bind(Model.PurchaseOrder).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "DueDate";
                s.Text = "Due Date";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().DateEdit(s =>
            {
                s.Name = "DueDate";
                s.ShowModelErrors = true;
            }).Bind(Model.DueDate).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Pending";
                s.Text = "Pending";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Pending";
                s.ShowModelErrors = true;

            }).Bind(Model.Pending).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "SalesCommission";
                s.Text = "SalesCommission";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "SalesCommission";
                                settings.Properties.DisplayFormatString = "C";
                                settings.Number = 799.95M;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 999;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.SalesCommission).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Organization";
                s.Text = "Organization";
            }).GetHtml()
        </td>
        <td>
            @Html.Partial("OrganizationPartial", Model)
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Opportunity";
                s.Text = "Opportunity";
            }).GetHtml()
        </td>
        <td>
            @Html.Partial("OpportunityPartial", Model)
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Contact";
                s.Text = "Contact";
            }).GetHtml()
        </td>
        <td>
            @Html.Partial("ContactPartial", Model)
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Carrier Shipping Type";
                s.Text = "Carrier Shipping Type";
            }).GetHtml()
        </td>
        <td>
            @Html.Partial("ShippingPartial", Model)
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "ExciseDuty";
                s.Text = "Excise Duty";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "ExciseDuty";
                s.ShowModelErrors = true;

            }).Bind(Model.ExciseDuty).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "EnableRecurring";
                s.Text = "Enable Recurring";
            }).GetHtml()
        </td>
        <td>
                                    @Html.DevExpress().CheckBox(
                settings => {
                                settings.Name = "EnableRecurring";
                                 settings.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { var checked = s.GetChecked();if(checked){StartPeriod.SetEnabled(true);PaymentDuration.SetEnabled(true);}else{StartPeriod.SetEnabled(false);PaymentDuration.SetEnabled(false);} }";
                }
                ).Bind(Model.EnableRecurring).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "StartPeriodlbl";
                s.Text = "Start Period";
            }).GetHtml()
        </td>
        <td>
                        @Html.DevExpress().DateEdit(s =>
            {
                s.Name = "StartPeriod";
                s.ShowModelErrors = true;
                s.ClientEnabled = false;
            }).Bind(Model.StartPeriod).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "PaymentDurationlbl";
                s.Text = "Payment Duration";
            }).GetHtml()
        </td>
        <td>
           @Html.DevExpress().ComboBox(settings => {
        settings.Name = "PaymentDuration";
        settings.CallbackRouteValues = new { Controller = "SaleOrder", Action = "TaxModeTypePartial" };
        settings.Properties.ValueType = typeof(int);
        settings.Properties.TextField = "Name";
        settings.Properties.ValueField = "PaymentDurationId";
        settings.Properties.EnableCallbackMode = true;
        settings.Properties.CallbackPageSize = 20;
        settings.ShowModelErrors = true;
        settings.ClientEnabled = false;
           }).BindList(CRM.Models.SaleOrder.GetPaymenDurationtDtos()).Bind(Model.PaymentDuration).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "CopyBillingAddressFrom";
                s.Text = "Copy Billing Address From";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "CopyBillingAddressFrom";
                                settings.Properties.NumberType = SpinEditNumberType.Integer;
                                settings.Number = 0;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 1000000000;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.CopyBillingAddressFrom).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "BillingAddress";
                s.Text = "Billing Address";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "BillingAddress";
                s.ShowModelErrors = true;

            }).Bind(Model.BillingAddress).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "BillingPOBox";
                s.Text = "Billing PO Box";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "BillingPOBox";
                s.ShowModelErrors = true;

            }).Bind(Model.BillingPOBox).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "BillingCity";
                s.Text = "Billing City";
            }).GetHtml()
        </td>
        <td>
            @Html.Partial("CountryPartial", Model)
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "BillingState";
                s.Text = "Billing State";
            }).GetHtml()
        </td>
        <td>
            @Html.Partial("CityPartial", Model)
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "BillingPostalCode";
                s.Text = "Billing Postal Code";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "BillingPostalCode";
                s.ShowModelErrors = true;

            }).Bind(Model.BillingPostalCode).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "BillingCountry";
                s.Text = "Billing Country";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "BillingCountry";
                s.ShowModelErrors = true;

            }).Bind(Model.BillingCountry).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "ShippingAddress";
                s.Text = "Shipping Address";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "ShippingAddress";
                s.ShowModelErrors = true;

            }).Bind(Model.ShippingAddress).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "ShippingPOBox";
                s.Text = "Shipping PO Box";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "ShippingPOBox";
                s.ShowModelErrors = true;

            }).Bind(Model.ShippingPOBox).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "ShippingCity";
                s.Text = "Shipping City";
            }).GetHtml()
        </td>
        <td>
            @Html.Partial("ShippingCountryPartial", Model)
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "BillingState";
                s.Text = "Billing State";
            }).GetHtml()
        </td>
        <td>
            @Html.Partial("ShippingCityPartial", Model)
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "ShippingPostalCode";
                s.Text = "Shipping Postal Code";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "ShippingPostalCode";
                s.ShowModelErrors = true;

            }).Bind(Model.ShippingPostalCode).GetHtml()
        </td>

    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "ShippingCountry";
                s.Text = "Shipping Country";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "ShippingCountry";
                s.ShowModelErrors = true;

            }).Bind(Model.ShippingCountry).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "TermsConditions";
                s.Text = "Terms Conditions";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Memo(
            settings =>
            {
                settings.Name = "TermsConditions";
                settings.ControlStyle.CssClass = "editor";
                settings.Height = System.Web.UI.WebControls.Unit.Pixel(200);
                settings.Width = System.Web.UI.WebControls.Unit.Pixel(200);
          }
         ).Bind(Model.TermsConditions).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
            s.AssociatedControlName = "Description";
            s.Text = "Description";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
            s.Name = "Description";
            s.ShowModelErrors = true;

            }).Bind(Model.Description).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Currency";
                s.Text = "Currency";
            }).GetHtml()
        </td>
        <td>
           @Html.Partial("CurrencyPartial", Model)
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "TaxMode";
                s.Text = "Tax Mode";
            }).GetHtml()
        </td>
        <td>
            @Html.Partial("TaxModeTypePartial", Model)
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Quantitylbl";
                s.Text = "Quantity";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "Quantity";
                                settings.Properties.NumberType = SpinEditNumberType.Integer;
                                settings.Number = 0;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 1000000000;
                                settings.ShowModelErrors = true;
                                settings.Properties.ClientSideEvents.NumberChanged = "function(s, e) { var qua = Quantity.GetValue(); var prc = ListPrice.GetValue(); ItemsTotal.SetValue(qua*prc);  PreTaxTotal.SetValue(ItemsTotal.GetValue()+ShippingHandlingCharges.GetValue()); GrandTotal.SetValue(PreTaxTotal.GetValue()+Tax.GetValue()+TaxesForShippingAndHandling.GetValue()+Adjustment.GetValue());}";
                }
                ).Bind(Model.Quantity).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "ListPricelbl";
                s.Text = "List Price";
            }).GetHtml()
        </td>
        <td>
                        @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "ListPrice";
                                settings.Properties.DisplayFormatString = "C";
                                settings.Number = 799.95M;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 999;
                                settings.ShowModelErrors = true;
                                settings.Properties.ClientSideEvents.NumberChanged = "function(s, e) { var qua = Quantity.GetValue(); var prc = ListPrice.GetValue(); ItemsTotal.SetValue(qua*prc);  PreTaxTotal.SetValue(ItemsTotal.GetValue()+ShippingHandlingCharges.GetValue()); GrandTotal.SetValue(PreTaxTotal.GetValue()+Tax.GetValue()+TaxesForShippingAndHandling.GetValue()+Adjustment.GetValue());}";
                }
                ).Bind(Model.ListPrice).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "ItemsTotallbl";
                s.Text = "Items Total";
            }).GetHtml()
        </td>
        <td>
                        @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "ItemsTotal";
                                settings.Properties.DisplayFormatString = "C";
                                settings.Number = 799.95M;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 999;
                                settings.ShowModelErrors = true;
                                settings.Enabled = false;
                                settings.Properties.ClientSideEvents.ValueChanged = "function(s, e) {alert('Test');}";
                }
                ).Bind(Model.ItemsTotal).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "ShippingHandlingChargeslbl";
                s.Text = "Shipping Handling Charges";
            }).GetHtml()
        </td>
        <td>
                        @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "ShippingHandlingCharges";
                                settings.Properties.DisplayFormatString = "C";
                                settings.Number = 799.95M;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 999;
                                settings.ShowModelErrors = true;
                                settings.Properties.ClientSideEvents.NumberChanged = "function(s, e) { var qua = ItemsTotal.GetValue(); var prc = ShippingHandlingCharges.GetValue(); PreTaxTotal.SetValue(qua+prc); GrandTotal.SetValue(PreTaxTotal.GetValue()+Tax.GetValue()+TaxesForShippingAndHandling.GetValue()+Adjustment.GetValue());}";
                }
                ).Bind(Model.ShippingHandlingCharges).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "PreTaxTotallbl";
                s.Text = "Pre Tax Total";
            }).GetHtml()
        </td>
        <td>
                        @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "PreTaxTotal";
                                settings.Properties.DisplayFormatString = "C";
                                settings.Number = 799.95M;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 999;
                                settings.ShowModelErrors = true;
                                settings.Enabled = false;
                                settings.Properties.ClientSideEvents.ValueChanged = "function(s, e) { var qua = PreTaxTotal.GetValue(); var prc = Tax.GetValue(); var thi = TaxesForShippingAndHandling.GetValue(); var fou = Adjustment.GetValue(); GrandTotal.SetValue(qua+prc+fou+thi);}";
                }
                ).Bind(Model.PreTaxTotal).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Taxlbl";
                s.Text = "Tax";
            }).GetHtml()
        </td>
        <td>
                        @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "Tax";
                                settings.Properties.DisplayFormatString = "C";
                                settings.Number = 799.95M;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 999;
                                settings.ShowModelErrors = true;
                                settings.Properties.ClientSideEvents.NumberChanged = "function(s, e) { var qua = PreTaxTotal.GetValue(); var prc = Tax.GetValue(); var thi = TaxesForShippingAndHandling.GetValue(); var fou = Adjustment.GetValue(); GrandTotal.SetValue(qua+prc+fou+thi);}";
                }
                ).Bind(Model.Tax).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "TaxesForShippingAndHandlinglbl";
                s.Text = "Taxes For Shipping And Handling";
            }).GetHtml()
        </td>
        <td>
                                    @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "TaxesForShippingAndHandling";
                                settings.Properties.DisplayFormatString = "C";
                                settings.Number = 799.95M;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 999;
                                settings.ShowModelErrors = true;
                                settings.Properties.ClientSideEvents.NumberChanged = "function(s, e) { var qua = PreTaxTotal.GetValue(); var prc = Tax.GetValue(); var thi = TaxesForShippingAndHandling.GetValue(); var fou = Adjustment.GetValue(); GrandTotal.SetValue(qua+prc+fou+thi);}";
                }
                ).Bind(Model.TaxesForShippingAndHandling).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Adjustmentlbl";
                s.Text = "Adjustment";
            }).GetHtml()
        </td>
        <td>
                        @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "Adjustment";
                                settings.Properties.DisplayFormatString = "C";
                                settings.Number = 799.95M;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 999;
                                settings.ShowModelErrors = true;
                                settings.Properties.ClientSideEvents.NumberChanged = "function(s, e) { var qua = PreTaxTotal.GetValue(); var prc = Tax.GetValue(); var thi = TaxesForShippingAndHandling.GetValue(); var fou = Adjustment.GetValue(); GrandTotal.SetValue(qua+prc+fou+thi);}";
                }
                ).Bind(Model.Adjustment).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "GrandTotallbl";
                s.Text = "Grand Total";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "GrandTotal";
                                settings.Properties.DisplayFormatString = "C";
                                settings.Number = 799.95M;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 999;
                                settings.ShowModelErrors = true;
                                settings.Enabled = false;
                }
                ).Bind(Model.GrandTotal).GetHtml()
        </td>
    </tr>


    <tr class="spaceUnder">
        <td></td>
        <td></td>
        <td></td>
        <td>
            @if (ViewData["IsAuthorized"] != null && (bool) ViewData["IsAuthorized"])
            {
                @Html.DevExpress().HyperLink(s =>
                {
                    s.Name = "SaveProduct";
                    s.Properties.Text = "Save";
                    s.NavigateUrl = "javascript:UpdateGridView();";
                }).GetHtml()
            }
            

            @Html.DevExpress().HyperLink(s => {
            s.Name = "CancelProduct";
            s.Properties.Text = "Cancel";
            s.NavigateUrl = "javascript:GridView.CancelEdit();";
            }).GetHtml()
        </td>
    </tr>

</table>
}