@model CRM.Business.Dtoes.UserDtoes.CrmUserDto
@using (Html.BeginForm("GridViewPartialUpdate", "User", FormMethod.Post, new { id = "frmPerson" }))
{
    <table style="border-spacing: 10px;">
        <tr class="spaceUnder">
            <td>
                @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "FirstName";
                s.Text = "First Name";
            }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().TextBox(s =>
            {
                s.Name = "FirstName";
                s.ShowModelErrors = true;
            }).Bind(Model.FirstName).GetHtml()
            </td>
            <td>
                @Html.DevExpress().Label(s =>
            {
            s.AssociatedControlName = "LastName";
            s.Text = "Last Name";
            }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().TextBox(s =>
            {
            s.Name = "LastName";
            s.ShowModelErrors = true;

            }).Bind(Model.LastName).GetHtml()
            </td>
        </tr>
        <tr class="spaceUnder">
            <td>
                @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "Email";
                    s.Text = "Email";
                }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().TextBox(s =>
                {
                    s.Name = "Email";
                    s.ShowModelErrors = true;
                }).Bind(Model.Email).GetHtml()
            </td>
            <td>
                @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "PhoneNumber";
                    s.Text = "Phone Number";
                }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().TextBox(s =>
                {
                    s.Name = "PhoneNumber";
                    s.ShowModelErrors = true;

                }).Bind(Model.PhoneNumber).GetHtml()
            </td>
        </tr>
        <tr class="spaceUnder">
            <td>
                @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "UserName";
                    s.Text = "User Name";
                }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().TextBox(s =>
                {
                    s.Name = "UserName";
                    s.ShowModelErrors = true;
                }).Bind(Model.UserName).GetHtml()
            </td>
            <td>
                @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "RoleName";
                    s.Text = "Role Name";
                }).GetHtml()
            </td>
            <td>
                                @Html.DevExpress().ComboBox(
                    settings => {
                                    settings.Name = "RoleId";
                                    settings.Width = 180;
                                    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                    settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                    settings.Properties.TextField = "RoleName";
                                    settings.Properties.ValueField = "RoleId";
                                    settings.ShowModelErrors = true;
                    }
                    ).BindList(ViewData["Roles"]).Bind(Model.RoleId).GetHtml()
            </td>
        </tr>
        <tr class="spaceUnder">
            <td>
                @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "Password";
                    s.Text = "Password";
                }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().TextBox(s =>
                {
                    s.Properties.Password = true;
                    s.Name = "Password";
                    s.ShowModelErrors = true;
                }).Bind(Model.Password).GetHtml()
            </td>
            <td>
               
            </td>
            <td>
                
            </td>
        </tr>
       
        <tr class="spaceUnder">
            <td></td>
            <td></td>
            <td></td>
            <td>
                @if (ViewData["IsAuthorized"]!= null && (bool)ViewData["IsAuthorized"])
                {
                    @Html.DevExpress().HyperLink(s => {
                                                          s.Name = "SaveProduct";
                                                          s.Properties.Text = "Save";
                                                          s.NavigateUrl = "javascript:UpdateGridView();";
                    }).GetHtml()
                }
               
                @Html.DevExpress().HyperLink(s => {
                                                      s.Name = "CancelProduct";
                                                      s.Properties.Text = "Cancel";
                                                      s.NavigateUrl = "javascript:GridViewUsers.CancelEdit();";
                }).GetHtml()
            </td>
        </tr>

    </table>
}