@model CRM.Core.Entities.Member.Members_Customer
@using (Html.BeginForm("GridViewPartialUpdate", "Customer", FormMethod.Post, new { id = "frmPerson" }))
{
<table style="border-spacing: 10px;">
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "FirstName";
                s.Text = "First Name";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "FirstName";
                s.ShowModelErrors = true;
            }).Bind(Model.FirstName).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
            s.AssociatedControlName = "LastName";
            s.Text = "Last Name";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
            s.Name = "LastName";
            s.ShowModelErrors = true;

            }).Bind(Model.LastName).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "EMail";
                    s.Text = "EMail";
                }).GetHtml()
        </td>
        <td>
                        @Html.DevExpress().TextBox(s =>
                {
                    s.Name = "EMail";
                    s.ShowModelErrors = true;
                }).Bind(Model.EMail).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "Address";
                    s.Text = "Address";
                }).GetHtml()
        </td>
        <td>
             @Html.DevExpress().TextBox(s =>
                {
                    s.Name = "Address";
                    s.ShowModelErrors = true;
                }).Bind(Model.Address).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "Phone";
                    s.Text = "Phone";
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
                {
                    s.Name = "Phone";
                    s.ShowModelErrors = true;
                }).Bind(Model.Phone).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "Fax";
                    s.Text = "Fax";
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
                {
                    s.Name = "Fax";
                    s.ShowModelErrors = true;

                }).Bind(Model.Fax).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "TaxOffice";
                    s.Text = "TaxOffice";
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
                {
                    s.Name = "TaxOffice";
                    s.ShowModelErrors = true;
                }).Bind(Model.TaxOffice).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "TaxNumber";
                    s.Text = "Tax Number";
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
                {
                    s.Name = "TaxNumber";
                    s.ShowModelErrors = true;

                }).Bind(Model.TaxNumber).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "City";
                s.Text = "City";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().ComboBox(
                settings => {
                                settings.Name = "CityName";
                                settings.Width = 180;
                                settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                settings.Properties.TextField = "Name";
                                settings.Properties.ValueField = "Code";
                }
                ).BindList(ViewData["Cities"]).Bind(Model.CityName).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "CompanyName";
                s.Text = "Company Name";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "CompanyName";
                s.ShowModelErrors = true;

            }).Bind(Model.CompanyName).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "CommercialTitle";
                s.Text = "Commercial Title";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "CommercialTitle";
                s.ShowModelErrors = true;
            }).Bind(Model.CommercialTitle).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Contry";
                s.Text = "Contry";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Contry";
                s.ShowModelErrors = true;

            }).Bind(Model.Contry).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Contact1FirstName";
                s.Text = "Contact 1. First Name";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Contact1FirstName";
                s.ShowModelErrors = true;
            }).Bind(Model.Contact1FirstName).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Contact1LastName";
                s.Text = "Contact 1. Last Name";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Contact1LastName";
                s.ShowModelErrors = true;

            }).Bind(Model.Contact1LastName).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Contact1EMail";
                s.Text = "Contact 1. EMail";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Contact1EMail";
                s.ShowModelErrors = true;
            }).Bind(Model.Contact1EMail).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Contact1Phone";
                s.Text = "Contact 1. Phone";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Contact1Phone";
                s.ShowModelErrors = true;

            }).Bind(Model.Contact1Phone).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Contact2FirstName";
                s.Text = "Contact 2. First Name";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Contact2FirstName";
                s.ShowModelErrors = true;
            }).Bind(Model.Contact2FirstName).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Contact2LastName";
                s.Text = "Contact 2. Last Name";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Contact2LastName";
                s.ShowModelErrors = true;

            }).Bind(Model.Contact2LastName).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Contack2EMail";
                s.Text = "Contact 2. EMail";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Contack2EMail";
                s.ShowModelErrors = true;
            }).Bind(Model.Contack2EMail).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Contact2Phone";
                s.Text = "Contact 2. Phone";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Contact2Phone";
                s.ShowModelErrors = true;

            }).Bind(Model.Contact2Phone).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Type";
                s.Text = "Type";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().ComboBox(
                settings => {
                                settings.Name = "TypeName";
                                settings.Width = 180;
                                settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                settings.Properties.TextField = "Item2";
                                settings.Properties.ValueField = "Item1";
                }
                ).BindList(ViewData["Types"]).Bind(Model.TypeName).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "RegisterType";
                s.Text = "Register Type";
            }).GetHtml()
        </td>
        <td>
           @Html.DevExpress().ComboBox(
                settings => {
                                settings.Name = "RegisterTypeName";
                                settings.Width = 180;
                                settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                settings.Properties.TextField = "Item2";
                                settings.Properties.ValueField = "Item1";
                }
                ).BindList(ViewData["RegisterTypes"]).Bind(Model.RegisterTypeName).GetHtml()
        </td>
    </tr>

    <tr class="spaceUnder">
        <td></td>
        <td></td>
        <td></td>
        <td>
            @if (ViewData["IsAuthorized"] != null && (bool) ViewData["IsAuthorized"])
            {
                @Html.DevExpress().HyperLink(s =>
                {
                    s.Name = "SaveProduct";
                    s.Properties.Text = "Save";
                    s.NavigateUrl = "javascript:UpdateGridView();";
                }).GetHtml()
            }
            

            @Html.DevExpress().HyperLink(s => {
            s.Name = "CancelProduct";
            s.Properties.Text = "Cancel";
            s.NavigateUrl = "javascript:GridView.CancelEdit();";
            }).GetHtml()
        </td>
    </tr>

</table>
}