﻿@using System.Configuration
@model CRM.Core.Entities.Lead.Crm_Lead
<script src="~/Content/Template/plugins/jQuery/jQuery-2.1.3.min.js"></script>
<script src="~/Content/Template/plugins/input-mask/jquery.inputmask.js"></script>
<script src="~/Content/Template/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="~/Content/Template/plugins/input-mask/jquery.inputmask.extensions.js"></script>

@using (Html.BeginForm("GridViewPartialAddNew", "Lead", FormMethod.Post, new { id = "frmPerson" }))
{

    <!-- Content Header (Page header) -->
     <section class="content-header">
          <h1>
              Creating New Lead
            <small></small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li class="active">Leads</li>
          </ol>
        </section>
    <!-- Main content -->
<section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-danger'>
                <div class='box-header'>
                    <h3 class='box-title'>Lead Details <small></small></h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-info btn-sm" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-plus"></i>Save</button>
                        <button type="button" onclick="@("window.location.href='" + @Url.Action("Leads", "Lead") + "'");" class="btn btn-info btn-sm" data-widget='remove' data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i>Cancel</button>
                    </div><!-- /. tools -->
                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <label style="width: 95px; height: 10px;">First Name: </label>
                                </div>
                                @Html.DevExpress().TextBox(s =>
                                {
                                    s.Name = "FirstName";
                                    s.ShowModelErrors = true;
                                    s.ControlStyle.CssClass = "form-control";
                                }).Bind(Model.FirstName).GetHtml()
                            </div><!-- /.input group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px;">Last Name:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "LastName";
                                        s.ControlStyle.CssClass = "form-control";
                                        s.ShowModelErrors = true;
                                    }).Bind(Model.LastName).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px;">Primary Phone:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(
                                        settings => {
                                                        settings.Name = "PrimaryPhone";


                                                        settings.Properties.MaskSettings.Mask = "(999) 000-00-00";
                                                        settings.Properties.MaskSettings.IncludeLiterals = MaskIncludeLiteralsMode.None;
                                                        settings.ControlStyle.CssClass = "form-control";
                                                        settings.ShowModelErrors = true;
                                        }
                                        ).Bind(Model.PrimaryPhone).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px;">Company:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "Company";
                                        s.ControlStyle.CssClass = "form-control";
                                        s.ShowModelErrors = true;
                                    }).Bind(Model.Company).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px;">Mobile Phone:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(
                                        settings => {
                                                        settings.Name = "MobilePhone";


                                                        settings.Properties.MaskSettings.Mask = "(999) 000-00-00";
                                                        settings.Properties.MaskSettings.IncludeLiterals = MaskIncludeLiteralsMode.None;
                                                        settings.ControlStyle.CssClass = "form-control";
                                        }
                                        ).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px;">Designation:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "Designation";
                                        s.ControlStyle.CssClass = "form-control";
                                        s.ShowModelErrors = true;
                                    }).Bind(Model.Designation).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px;">Fax:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(
                                        settings => {
                                                        settings.Name = "Fax";


                                                        settings.Properties.MaskSettings.Mask = "(999) 000-00-00";
                                                        settings.Properties.MaskSettings.IncludeLiterals = MaskIncludeLiteralsMode.None;
                                                        settings.ControlStyle.CssClass = "form-control";
                                        }
                                        ).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px; height: 10px;">Lead Source:</label>
                                    </div>
                                    @Html.DevExpress().ComboBox(
                                        settings => {
                                                        settings.Name = "LeadSourceId";

                                                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                                        settings.Properties.TextField = "Description";
                                                        settings.Properties.ValueField = "LeadSourceId";
                                                        settings.ControlStyle.CssClass = "form-control";
                                                        settings.ShowModelErrors = true;
                                                        settings.Width = 177;
                                        }
                                        ).BindList(ViewData["Crm_LeadSource"]).Bind(Model.LeadSourceId.ToString()).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px;">Primary Email:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "PrimaryEmail";
                                        s.ControlStyle.CssClass = "form-control";
                                        s.ShowModelErrors = true;
                                    }).Bind(Model.FirstName).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px; height: 10px;">Industry:</label>
                                    </div>
                                    @Html.Partial("IndustryPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px;">Website:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "Website";
                                        s.ControlStyle.CssClass = "form-control";
                                        s.ShowModelErrors = true;
                                    }).Bind(Model.FirstName).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px; height: 10px;">Annual Revenue:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                        settings => {
                                                        settings.Name = "AnnualRevenue";
                                                        settings.Properties.DisplayFormatString = "C";
                                                        settings.Number = 799.95M;
                                                        settings.ControlStyle.CssClass = "form-control";;

                                                        settings.Properties.MinValue = 1;
                                                        settings.Properties.MaxValue = 1000000000;
                                                        settings.ShowModelErrors = true;
                                                        settings.Width = 177;
                                        }
                                        ).Bind(Model.AnnualRevenue).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px; height: 10px;">Lead Status:</label>
                                    </div>
                                    @Html.DevExpress().ComboBox(
                                        settings => {
                                                        settings.Name = "LeadStatusId";
                                                        settings.ControlStyle.CssClass = "form-control";

                                                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                                        settings.Properties.TextField = "Description";
                                                        settings.Properties.ValueField = "LeadStatusId";
                                                        settings.ControlStyle.CssClass = "form-control";
                                                        settings.ShowModelErrors = true;
                                                        settings.Width = 177;
                                        }
                                        ).BindList(ViewData["Crm_LeadStatu"]).Bind(Model.LeadStatusId.ToString()).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px; height: 10px;">Number of Employees:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                        settings => {
                                                        settings.Name = "NumberEmployees";
                                                        settings.Properties.NumberType = SpinEditNumberType.Integer;
                                                        settings.Number = 0;
                                                        settings.ControlStyle.CssClass = "form-control";

                                                        settings.ShowModelErrors = true;
                                                        settings.Properties.MinValue = 1;
                                                        settings.Properties.MaxValue = 1000000000;
                                                        settings.Width = 177;
                                        }
                                        ).Bind(Model.NumberEmployees).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px; height: 10px;">Rating:</label>
                                    </div>
                                    @Html.Partial("RatingTypePartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px;">Secondary Email:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "SecondaryEmail";
                                        s.ControlStyle.CssClass = "form-control";
                                        s.ShowModelErrors = true;
                                    }).Bind(Model.SecondaryEmail).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px; height: 10px;">Assigned To:</label>
                                    </div>
                                    @Html.Partial("AssignToPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px; height: 10px;">Email Opt Out:</label>
                                    </div>
                                    @Html.DevExpress().CheckBox(
                                    settings => {
                                                    settings.Name = "EmailOptOut";
                                                    settings .ControlStyle.CssClass = "form-control";
                                                    settings.Width = 177;
                                    }
                                    ).Bind(Model.EmailOptOut).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section><!-- /.content -->
<section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-info'>
                <div class='box-header'>
                    <h3 class='box-title'>Address Details <small></small></h3>
                    <!-- tools box -->
                  
                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px;">Street:</label>
                                    </div>
                                    @Html.DevExpress().Memo(
                                        settings =>
                                        {
                                            settings.Name = "Street";
                                            settings.ControlStyle.CssClass = "editor";
                                            settings.Width = 177;
                                        }
                                        ).Bind(Model.Street).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px;">PO Box:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "POBox";
                                        s.ControlStyle.CssClass = "form-control";
                                        s.ShowModelErrors = true;
                                    }).Bind(Model.POBox).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px;">Postal Code:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(settings =>
                                    {
                                        settings.Name = "SpinEdit";
                                        settings.Properties.SpinButtons.ShowLargeIncrementButtons = false;
                                        settings.Properties.SpinButtons.ShowIncrementButtons = false;
                                        settings.ControlStyle.CssClass = "form-control";

                                        settings.Properties.NumberType = SpinEditNumberType.Integer;
                                        settings.Properties.MaxValue = 99999;
                                        settings.Width = 177;
                                    }).GetHtml()
                                </div>
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px; height: 10px;">City:</label>
                                    </div>
                                    @Html.Partial("CountryPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px;">Country:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                {
                                    s.Name = "Country";
                                    s.ControlStyle.CssClass = "form-control";
                                    s.ShowModelErrors = true;
                                }).Bind(Model.FirstName).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px; height: 10px;">Town:</label>
                                    </div>
                                    @Html.Partial("CityPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section><!-- /.content -->
<section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-primary'>
                <div class='box-header'>
                    <h3 class='box-title'>Description Details <small></small></h3>
                    <!-- tools box -->

                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <label>Description:</label>
                                @Html.DevExpress().Memo(
                                    settings =>
                                    {
                                        settings.Name = "Description";
                                        settings.ControlStyle.CssClass = "editor";
                                        settings.Width = 550;
                                        settings.Height = 50;

                                    }
                                    ).Bind(Model.Description).GetHtml()
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">

                        </div>
                        <div class="col-md-6 form-group">
                            <div class="pull-right box-tools">
                                <button class="btn btn-info btn-sm" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-plus"></i>Save</button>
                                <button type="button" onclick="@("window.location.href='" + @Url.Action("Leads", "Lead") + "'");" class="btn btn-info btn-sm" data-widget='remove' data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i>Cancel</button>
                            </div><!-- /. tools -->
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section><!-- /.content -->
}
<script type="text/javascript">
      $(function () {
        //Datemask dd/mm/yyyy
        $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
        //Datemask2 mm/dd/yyyy
        $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
        //Money Euro
        $("[data-mask]").inputmask();

        //Date range picker
        $('#reservation').daterangepicker();
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
        //Date range as a button
        $('#daterange-btn').daterangepicker(
                {
                  ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                  },
                  startDate: moment().subtract('days', 29),
                  endDate: moment()
                },
        function (start, end) {
          $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
        );

        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
          checkboxClass: 'icheckbox_minimal-blue',
          radioClass: 'iradio_minimal-blue'
        });
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
          checkboxClass: 'icheckbox_minimal-red',
          radioClass: 'iradio_minimal-red'
        });
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
          checkboxClass: 'icheckbox_flat-green',
          radioClass: 'iradio_flat-green'
        });

        //Colorpicker
        $(".my-colorpicker1").colorpicker();
        //color picker with addon
        $(".my-colorpicker2").colorpicker();

        //Timepicker
        $(".timepicker").timepicker({
          showInputs: false
        });
      });
</script>