@model CRM.Core.Entities.Lead.Crm_Lead
@using (Html.BeginForm("GridViewPartialUpdate", "Lead", FormMethod.Post, new { id = "frmPerson" }))
{
<table style="border-spacing: 10px;">
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "FirstName";
                s.Text = "First Name";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "FirstName";
                s.ShowModelErrors = true;
            }).Bind(Model.FirstName).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
            s.AssociatedControlName = "LastName";
            s.Text = "Last Name";
            }).GetHtml()
        </td>
        <td>
           @Html.DevExpress().TextBox(s =>
            {
                s.Name = "LastName";
                s.ShowModelErrors = true;
            }).Bind(Model.LastName).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "Company";
                    s.Text = "Company";
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Company";
                s.ShowModelErrors = true;

            }).Bind(Model.Company).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "PrimaryEmail";
                    s.Text = "Primary Email";
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "PrimaryEmail";
                s.ShowModelErrors = true;

            }).Bind(Model.PrimaryEmail).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "PrimaryPhone";
                    s.Text = "Primary Phone";
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "PrimaryPhone";
                s.ShowModelErrors = true;

            }).Bind(Model.PrimaryPhone).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "Designation";
                    s.Text = "Designation";
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Designation";
                s.ShowModelErrors = true;

            }).Bind(Model.Designation).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "MobilePhone";
                    s.Text = "Mobile Phone";
                }).GetHtml()
        </td>
        <td>
           @Html.DevExpress().TextBox(s =>
            {
                s.Name = "MobilePhone";
                s.ShowModelErrors = true;

            }).Bind(Model.MobilePhone).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "IndustryId";
                    s.Text = "Industry";
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().ComboBox(
                settings => {
                                settings.Name = "IndustryNameId";
                                settings.Width = 180;
                                settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                settings.Properties.TextField = "Description";
                                settings.Properties.ValueField = "IndustryId";
                                settings.ShowModelErrors = true;
                }
                ).BindList(ViewData["This_Industry"]).Bind(Model.IndustryNameId).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Website";
                s.Text = "Website";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Website";
                s.ShowModelErrors = true;

            }).Bind(Model.Website).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "AnnualRevenue";
                s.Text = "Annual Revenue";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().SpinEdit(
                settings => {
                    settings.Name = "AnnualRevenue";
                    settings.Properties.DisplayFormatString = "C";
                    settings.Number = 799.95M;
                    settings.Properties.MinValue = 1;
                    settings.Properties.MaxValue = 1000000000;
                    settings.ShowModelErrors = true;
                }
            ).Bind(Model.AnnualRevenue).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "LeadSource";
                s.Text = "Lead Source";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().ComboBox(
                settings => {
                                settings.Name = "LeadSourceNameId";
                                settings.Width = 180;
                                settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                settings.Properties.TextField = "Description";
                                settings.Properties.ValueField = "LeadSourceId";
                                settings.ShowModelErrors = true;
                }
                ).BindList(ViewData["Crm_LeadSource"]).Bind(Model.LeadSourceNameId).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "LeadStatus";
                s.Text = "Lead Status";
            }).GetHtml()
        </td>
        <td>
           @Html.DevExpress().ComboBox(
                settings => {
                                settings.Name = "LeadStatuNameId";
                                settings.Width = 180;
                                settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                settings.Properties.TextField = "Description";
                                settings.Properties.ValueField = "LeadStatusId";
                                settings.ShowModelErrors = true;
                }
                ).BindList(ViewData["Crm_LeadStatu"]).Bind(Model.LeadStatuNameId).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Fax";
                s.Text = "Fax";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Fax";
                s.ShowModelErrors = true;
            }).Bind(Model.Fax).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "NumberEmployees";
                s.Text = "Number Employees";
            }).GetHtml()
        </td>
        <td>
                        @Html.DevExpress().SpinEdit(
            settings => {
                            settings.Name = "NumberEmployees";
                            settings.Properties.NumberType = SpinEditNumberType.Integer;
                            settings.Number = 0;
                            settings.ShowModelErrors = true;
                            settings.Properties.MinValue = 1;
                            settings.Properties.MaxValue = 1000000000;
            }
            ).Bind(Model.NumberEmployees).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Rating";
                s.Text = "Rating";
            }).GetHtml()
        </td>
        <td>
                        @Html.DevExpress().SpinEdit(
            settings => {
                            settings.Name = "Rating";
                            settings.Properties.NumberType = SpinEditNumberType.Integer;
                            settings.Number = 0;
                            settings.ShowModelErrors = true;
                            settings.Properties.MinValue = 1;
                            settings.Properties.MaxValue = 1000000000;
            }
            ).Bind(Model.Rating).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Street";
                s.Text = "Street";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Street";
                s.ShowModelErrors = true;
            }).Bind(Model.Street).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "POBox";
                s.Text = "POBox";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "POBox";
                s.ShowModelErrors = true;
            }).Bind(Model.POBox).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "PostalCode";
                s.Text = "Postal Code";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
            s.Name = "PostalCode";
            s.ShowModelErrors = true;
            }).Bind(Model.PostalCode).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "City";
                s.Text = "City";
            }).GetHtml()
        </td>
        <td>
            @Html.Partial("CountryPartial", Model)
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
            s.AssociatedControlName = "District";
            s.Text = "District";
            }).GetHtml()
        </td>
        <td>
           @Html.Partial("CityPartial", Model)
        </td>
    </tr>

    <tr class="spaceUnder">
        <td></td>
        <td></td>
        <td></td>
        <td>
            @if (ViewData["IsAuthorized"] != null && (bool) ViewData["IsAuthorized"])
            {
                @Html.DevExpress().HyperLink(s =>
                {
                    s.Name = "SaveProduct";
                    s.Properties.Text = "Save";
                    s.NavigateUrl = "javascript:UpdateGridView();";
                }).GetHtml()
            }
            

            @Html.DevExpress().HyperLink(s => {
            s.Name = "CancelProduct";
            s.Properties.Text = "Cancel";
            s.NavigateUrl = "javascript:GridView.CancelEdit();";
            }).GetHtml()
        </td>
    </tr>

</table>
}