﻿@using System.Web.UI.WebControls
@using CRM.Core.Entities.Lead


    @Html.DevExpress().PopupControl(settings =>
    {
        settings.Name = "popupControl";
        settings.CallbackRouteValues = new {Controller = "Lead", Action = "LoadOnDemandPartial"};
        settings.CloseAction = CloseAction.OuterMouseClick;
        settings.PopupVerticalAlign = PopupVerticalAlign.WindowCenter;
        settings.PopupHorizontalAlign = PopupHorizontalAlign.WindowCenter;
        settings.ShowFooter = true;
        settings.AllowDragging = true;
        settings.EnableHotTrack = true;
        settings.Height = Unit.Pixel(130);
        settings.Width = Unit.Pixel(920);
        settings.LoadContentViaCallback = LoadContentViaCallback.OnFirstShow;
        settings.PopupElementID = "ShowButton";
        settings.HeaderText = "Updatable content";
        settings.ClientSideEvents.CloseUp = "function(s, e) {  GridView.UnselectRows(); GridView.Refresh();  }";

        settings.SetContent(() => {
                                      Html.RenderPartial("TabPage", new Crm_Lead());
        });

        settings.SetFooterTemplateContent(c =>
        {
            Html.RenderPartial("TabPageFooter");
            @Html.DevExpress().TextBox(s => {
                s.Name = "ProductName";
                s.ClientVisible = false;
            }).GetHtml();
            //ViewContext.Writer.Write("<div style=\"overflow: hidden\"> <div style=\"padding: 26px; float right;\">");
            //ViewContext.Writer.Write("<div class=\"pull-right box-tools\"> <button class=\"btn btn-info btn-sm\" data-widget='collapse' data-toggle=\"tooltip\" title=\"Collapse\"><i class=\"fa fa-plus\"></i>Save</button><button type=\"button\" onclick=\"@(\"window.location.href='" + @Url.Action("Leads", "Lead") + "'\");\" class=\"btn btn-info btn-sm\" data-widget='remove' data-toggle=\"tooltip\" title=\"Remove\"><i class=\"fa fa-times\"></i>Cancel</button></div><!-- /. tools -->");
            //ViewContext.Writer.Write("</div></div>");
        });
    }).GetHtml()