@model CRM.Core.Entities.Lead.Crm_Lead
<script type="text/javascript">
    function PostEditForm() {

        SelectedId();
        var data = {
            param: $(this).serialize()
        };

        $.ajax({
            url: "/Lead/GridViewPartialAddNew",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(data)
        });
    }
</script>
@*@using (Html.BeginForm("GridViewPartialAddNew", "Lead", FormMethod.Post, new {id = "frmTab"}))
{*@
    <section class="content">
        <div class='row'>
            <div class='col-md-12'>
                <div class='box box-danger'>
                    <div class='box-header'>
                        <h3 class='box-title'>Lead Details <small></small></h3>
                        <!-- tools box -->

                    </div><!-- /.box-header -->
                    <div class='box-body pad'>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px; height: 10px;">First Name: </label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "FirstName";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";
                                    }).Bind(Model.FirstName).GetHtml()
                                </div><!-- /.input group -->
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">

                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 155px;">Last Name:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "LastName";
                                            s.ControlStyle.CssClass = "form-control";
                                            s.ShowModelErrors = true;
                                        }).Bind(Model.LastName).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 155px;">Primary Phone:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(
                                            settings =>
                                            {
                                                settings.Name = "PrimaryPhone";


                                                settings.Properties.MaskSettings.Mask = "(999) 000-00-00";
                                                settings.Properties.MaskSettings.IncludeLiterals = MaskIncludeLiteralsMode.None;
                                                settings.ControlStyle.CssClass = "form-control";
                                                settings.ShowModelErrors = true;
                                            }
                                            ).Bind(Model.PrimaryPhone).GetHtml()
                                        @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">

                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 155px;">Company:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "Company";
                                            s.ControlStyle.CssClass = "form-control";
                                            s.ShowModelErrors = true;
                                        }).Bind(Model.Company).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="form-group">

                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 155px;">Mobile Phone:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(
                                            settings =>
                                            {
                                                settings.Name = "MobilePhone";


                                                settings.Properties.MaskSettings.Mask = "(999) 000-00-00";
                                                settings.Properties.MaskSettings.IncludeLiterals = MaskIncludeLiteralsMode.None;
                                                settings.ControlStyle.CssClass = "form-control";
                                            }
                                            ).GetHtml()
                                        @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 155px;">Designation:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "Designation";
                                            s.ControlStyle.CssClass = "form-control";
                                            s.ShowModelErrors = true;
                                        }).Bind(Model.Designation).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="form-group">

                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 155px;">Fax:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(
                                            settings =>
                                            {
                                                settings.Name = "Fax";


                                                settings.Properties.MaskSettings.Mask = "(999) 000-00-00";
                                                settings.Properties.MaskSettings.IncludeLiterals = MaskIncludeLiteralsMode.None;
                                                settings.ControlStyle.CssClass = "form-control";
                                            }
                                            ).GetHtml()
                                        @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 155px; height: 10px;">Lead Source:</label>
                                        </div>
                                        @Html.DevExpress().ComboBox(
                                            settings =>
                                            {
                                                settings.Name = "LeadSourceId";

                                                settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                                settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                                settings.Properties.TextField = "Description";
                                                settings.Properties.ValueField = "LeadSourceId";
                                                settings.ControlStyle.CssClass = "form-control";
                                                settings.ShowModelErrors = true;
                                                settings.Width = 177;
                                            }
                                            ).BindList(ViewData["Crm_LeadSource"]).Bind(Model.LeadSourceId.ToString()).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="form-group">

                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 155px;">Primary Email:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "PrimaryEmail";
                                            s.ControlStyle.CssClass = "form-control";
                                            s.ShowModelErrors = true;
                                        }).Bind(Model.FirstName).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 155px; height: 10px;">Industry:</label>
                                        </div>
                                        @Html.Partial("IndustryPartial", Model)
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="form-group">

                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 155px;">Website:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "Website";
                                            s.ControlStyle.CssClass = "form-control";
                                            s.ShowModelErrors = true;
                                        }).Bind(Model.FirstName).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 155px; height: 10px;">Annual Revenue:</label>
                                        </div>
                                        @Html.DevExpress().SpinEdit(
                                            settings =>
                                            {
                                                settings.Name = "AnnualRevenue";
                                                settings.Properties.DisplayFormatString = "C";
                                                settings.Number = 799.95M;
                                                settings.ControlStyle.CssClass = "form-control";
                                                ;

                                                settings.Properties.MinValue = 1;
                                                settings.Properties.MaxValue = 1000000000;
                                                settings.ShowModelErrors = true;
                                                settings.Width = 177;
                                            }
                                            ).Bind(Model.AnnualRevenue).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="form-group">

                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 155px; height: 10px;">Lead Status:</label>
                                        </div>
                                        @Html.DevExpress().ComboBox(
                                            settings =>
                                            {
                                                settings.Name = "LeadStatusId";
                                                settings.ControlStyle.CssClass = "form-control";

                                                settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                                settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                                settings.Properties.TextField = "Description";
                                                settings.Properties.ValueField = "LeadStatusId";
                                                settings.ControlStyle.CssClass = "form-control";
                                                settings.ShowModelErrors = true;
                                                settings.Width = 177;
                                            }
                                            ).BindList(ViewData["Crm_LeadStatu"]).Bind(Model.LeadStatusId.ToString()).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 155px; height: 10px;">Number of Employees:</label>
                                        </div>
                                        @Html.DevExpress().SpinEdit(
                                            settings =>
                                            {
                                                settings.Name = "NumberEmployees";
                                                settings.Properties.NumberType = SpinEditNumberType.Integer;
                                                settings.Number = 0;
                                                settings.ControlStyle.CssClass = "form-control";

                                                settings.ShowModelErrors = true;
                                                settings.Properties.MinValue = 1;
                                                settings.Properties.MaxValue = 1000000000;
                                                settings.Width = 177;
                                            }
                                            ).Bind(Model.NumberEmployees).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 155px; height: 10px;">Rating:</label>
                                        </div>
                                        @Html.Partial("RatingTypePartial", Model)
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 155px;">Secondary Email:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "SecondaryEmail";
                                            s.ControlStyle.CssClass = "form-control";
                                            s.ShowModelErrors = true;
                                        }).Bind(Model.SecondaryEmail).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 155px; height: 10px;">Assigned To:</label>
                                        </div>
                                        @Html.Partial("AssignToPartial", Model)
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">

                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 155px; height: 10px;">Email Opt Out:</label>
                                        </div>
                                        @Html.DevExpress().CheckBox(
                                            settings =>
                                            {
                                                settings.Name = "EmailOptOut";
                                                settings.ControlStyle.CssClass = "form-control";
                                                settings.Width = 177;
                                            }
                                            ).Bind(Model.EmailOptOut).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                           
                        </div>
                    </div>
                </div><!-- /.box -->
            </div><!-- /.col-->
        </div><!-- ./row -->
    </section>
    <!-- /.content -->
@*}*@