@model CRM.Core.Entities.Lead.Crm_Lead
<script type="text/javascript">
    function PostEditForm() {

        SelectedId();
        var data = {
            param: $(this).serialize()
        };

        $.ajax({
            url: "/Lead/GridViewPartialAddNew",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(data)
        });
    }
</script>
@*@using (Html.BeginForm("GridViewPartialAddNew", "Lead", FormMethod.Post, new {id = "frmTab"}))
{*@
    <section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-info'>
                <div class='box-header'>
                    <h3 class='box-title'>Address Details <small></small></h3>
                    <!-- tools box -->

                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px;">Street:</label>
                                    </div>
                                    @Html.DevExpress().Memo(
                                        settings =>
                                        {
                                            settings.Name = "Street";
                                            settings.ControlStyle.CssClass = "editor";
                                            settings.Width = 177;
                                        }
                                        ).Bind(Model.Street).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px;">PO Box:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "POBox";
                                        s.ControlStyle.CssClass = "form-control";
                                        s.ShowModelErrors = true;
                                    }).Bind(Model.POBox).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px;">Postal Code:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(settings =>
                                    {
                                        settings.Name = "SpinEdit";
                                        settings.Properties.SpinButtons.ShowLargeIncrementButtons = false;
                                        settings.Properties.SpinButtons.ShowIncrementButtons = false;
                                        settings.ControlStyle.CssClass = "form-control";

                                        settings.Properties.NumberType = SpinEditNumberType.Integer;
                                        settings.Properties.MaxValue = 99999;
                                        settings.Width = 177;
                                    }).GetHtml()
                                </div>
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px; height: 10px;">City:</label>
                                    </div>
                                    @Html.Partial("CountryPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px;">Country:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                {
                                    s.Name = "Country";
                                    s.ControlStyle.CssClass = "form-control";
                                    s.ShowModelErrors = true;
                                }).Bind(Model.FirstName).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 95px; height: 10px;">Town:</label>
                                    </div>
                                    @Html.Partial("CityPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section><!-- /.content -->
    <!-- /.content -->
@*}*@