@model IList<CRM.Core.Entities.Opportunity.Crm_Opportunity>
                    @{

    var grid = Html.DevExpress().GridView(settings =>
    {
    settings.Name = "GridView";
    settings.SettingsEditing.ShowModelErrorsForEditors = true;
    settings.CallbackRouteValues = new { Controller = "Opportunity", Action = "GridViewPartialCallback" };
    settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "Opportunity", Action = "GridViewPartialAddNew" };
    settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Opportunity", Action = "GridViewPartialUpdate" };
    settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "Opportunity", Action = "GridViewPartialDelete" };
    settings.SettingsBehavior.ConfirmDelete = true;
    settings.CommandColumn.Visible = true;
    settings.CommandColumn.ShowSelectCheckbox = true;
    settings.ClientSideEvents.SelectionChanged = "OnSelectionChanged";
    settings.ClientSideEvents.BeginCallback = "OnBeginCallback";
    settings.CommandColumn.ButtonType = GridViewCommandButtonType.Image;
    settings.CommandColumn.EditButton.Image.Url = "../../Content/images/edit.png" ;
    settings.CommandColumn.NewButton.Image.Url = "../../Content/images/new.png" ;
    settings.CommandColumn.UpdateButton.Image.Url = "../../Content/images/update.png";
    settings.CommandColumn.DeleteButton.Image.Url = "../../Content/images/delete.png";
    settings.CommandColumn.CancelButton.Image.Url = "../../Content/images/cancel.png";
    settings.CommandColumn.ShowNewButtonInHeader = false;
    settings.CommandColumn.ShowDeleteButton = false;
    settings.CommandColumn.ShowEditButton = false;
    settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;
    settings.KeyFieldName = "OpportunityId";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

    settings.SettingsPager.Visible = true;
    settings.Settings.ShowGroupPanel = true;
    settings.Settings.ShowFilterRow = true;
    settings.SettingsBehavior.AllowSelectByRowClick = true;
    settings.Columns.Add("Name");
    settings.Columns["Name"].Caption = "Opportunity Name";
    settings.Columns.Add("ContactName");
    settings.Columns["ContactName"].Caption = "Related Person";
    settings.Columns.Add("SaleStageName");
    settings.Columns["SaleStageName"].Caption = "Sale Stage";
    settings.Columns.Add("LeadSourceName");
    settings.Columns["LeadSourceName"].Caption = "Lead Source";
    settings.Columns.Add("ExpectedCloseDate");
    settings.Columns["ExpectedCloseDate"].Caption = "Expected Close Date";
    settings.Columns.Add("Amount");
    settings.Columns["Amount"].Caption = "Amount";
    settings.Columns.Add("AssignedMember");
    settings.Columns["AssignedMember"].Caption = "Assigned Member";
    settings.Columns.Add("CustomerName");
    settings.Columns["CustomerName"].Caption = "Person Name";

    settings.Columns.Add(column =>
    {
        column.Caption = "#";
        column.SetDataItemTemplateContent(c =>
        {
            ViewContext.Writer.Write("<a href=\"/Opportunity/ExternalEditFormEdit?OpportunityId={0}\"><img src=\"../../Content/images/edit.png\" alt=\"My Image\" /></a>", DataBinder.Eval(c.DataItem, "OpportunityId"));
            ViewContext.Writer.Write("&nbsp;");
            ViewContext.Writer.Write("<a href=\"/Opportunity/GridViewPartialDelete?OpportunityId={0}\" onclick =\"return confirm('Do you really want to delete this record?');\"><img src=\"../../Content/images/delete.png\" alt=\"My Image\" /></a>", DataBinder.Eval(c.DataItem, "OpportunityId"));
            //ViewContext.Writer.Write(
            //    Html.ActionLink("Edit", "ExternalEditFormEdit", new { LeadId = DataBinder.Eval(c.DataItem, "LeadId") }) + "&nbsp;" +
            //    Html.ActionLink("Delete", "GridViewPartialDelete", new { LeadId = DataBinder.Eval(c.DataItem, "LeadId") },
            //        new { onclick = "return confirm('Do you really want to delete this record?')" })
            //);
        });
        column.Settings.AllowDragDrop = DefaultBoolean.False;
        column.Settings.AllowSort = DefaultBoolean.False;
        column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
    });
   

    settings.SetEditFormTemplateContent(c =>
    {
    Html.RenderPartial("OpportunityEditFormPartial",
    !c.Grid.IsNewRowEditing ?
    Model.FirstOrDefault(m => m.OpportunityId == Convert.ToInt32(DataBinder.Eval(c.DataItem, "OpportunityId"))) :
    new CRM.Core.Entities.Opportunity.Crm_Opportunity()
    {
    OpportunityId = Model.OrderByDescending(p => p.OpportunityId)
    .First()
    .OpportunityId + 1
    });
    });
    });
    if (ViewData["EditError"] != null)
    {
    grid.SetEditErrorText((string)ViewData["EditError"]);
    }
                    }
    @grid.Bind(Model).GetHtml()
