﻿@using System.Configuration
@model CRM.Core.Entities.Opportunity.Crm_Opportunity
<script src="~/Content/Template/plugins/jQuery/jQuery-2.1.3.min.js"></script>
<script src="~/Content/Template/plugins/input-mask/jquery.inputmask.js"></script>
<script src="~/Content/Template/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="~/Content/Template/plugins/input-mask/jquery.inputmask.extensions.js"></script>

@using (Html.BeginForm("GridViewPartialAddNew", "Opportunity", FormMethod.Post, new { id = "frmPerson" }))
{

    <!-- Content Header (Page header) -->
     <section class="content-header">
          <h1>
              Creating New Opportunity
            <small></small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li class="active">Opportunities</li>
          </ol>
        </section>
    <!-- Main content -->
<section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-danger'>
                <div class='box-header'>
                    <h3 class='box-title'>Opportunities Information <small></small></h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-info btn-sm" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-plus"></i>Save</button>
                        <button type="button" onclick="@("window.location.href='" + @Url.Action("Opportunities", "Opportunity") + "'");" class="btn btn-info btn-sm" data-widget='remove' data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i>Cancel</button>
                    </div><!-- /. tools -->
                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <label style="width: 135px; height: 10px;">Opportunity Name: </label>
                                </div>
                                @Html.DevExpress().TextBox(s =>
                                {
                                    s.Name = "Name";
                                    s.ShowModelErrors = true;
                                    s.ControlStyle.CssClass = "form-control";
                                }).Bind(Model.Name).GetHtml()
                            </div><!-- /.input group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;">Contact:</label>
                                    </div>
                                    @Html.Partial("ContactPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;">Amount:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                    settings =>
                                    {
                                        settings.Name = "Amount";
                                        settings.Properties.DisplayFormatString = "C";
                                        settings.Number = 799.95M;
                                        settings.Properties.MinValue = 1;
                                        settings.Properties.MaxValue = 999;
                                        settings.ShowModelErrors = true;
                                        settings.ControlStyle.CssClass = "form-control";
                                        settings.Width = 177;
                                    }
                                    ).Bind(Model.Amount).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;">Type:</label>
                                    </div>
                                    @Html.Partial("OpportinityTypePartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;">Expected Close Date:</label>
                                    </div>
                                    @Html.DevExpress().DateEdit(s =>
                                    {
                                        s.Name = "ExpectedCloseDate";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";
                                        s.Width = 177;
                                    }).Bind(Model.ExpectedCloseDate).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;">Lead Source:</label>
                                    </div>
                                    @Html.Partial("LeadSourcePartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;">Next Step:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "NextStep";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.NextStep).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px; height: 10px;">Assigned To:</label>
                                    </div>
                                    @Html.Partial("AssignToPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;">Sale Stage:</label>
                                    </div>
                                    @Html.Partial("SaleStagePartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px; height: 10px;">Campaign:</label>
                                    </div>
                                    @Html.Partial("CampaignPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;">Probability:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                    settings =>
                                    {
                                        settings.Name = "Probability";
                                        settings.Properties.NumberType = SpinEditNumberType.Float;
                                        settings.Number = 0;
                                        settings.Properties.MinValue = 1;
                                        settings.Properties.MaxValue = 1000000000;
                                        settings.ShowModelErrors = true;
                                        settings.ControlStyle.CssClass = "form-control";
                                        settings.Width = 177;
                                    }
                                    ).Bind(Model.Probability).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px; height: 10px;">Forecast Amount:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                    settings =>
                                    {
                                        settings.Name = "ForecastAmount";
                                        settings.Properties.DisplayFormatString = "C";
                                        settings.Number = 799.95M;
                                        settings.Properties.MinValue = 1;
                                        settings.Properties.MaxValue = 999;
                                        settings.ShowModelErrors = true;
                                        settings.ControlStyle.CssClass = "form-control";
                                        settings.Width = 177;
                                    }
                                    ).Bind(Model.ForecastAmount).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px; height: 10px;">Customer:</label>
                                    </div>
                                   @Html.Partial("CustomerPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section><!-- /.content -->
<section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-primary'>
                <div class='box-header'>
                    <h3 class='box-title'>Description Details <small></small></h3>
                    <!-- tools box -->

                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <label>Description:</label>
                                @Html.DevExpress().Memo(
                                    settings =>
                                    {
                                        settings.Name = "Description";
                                        settings.ControlStyle.CssClass = "editor";
                                        settings.Width = 550;
                                        settings.Height = 50;

                                    }
                                    ).Bind(Model.Description).GetHtml()
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">

                        </div>
                        <div class="col-md-6 form-group">
                            <div class="pull-right box-tools">
                                <button class="btn btn-info btn-sm" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-plus"></i>Save</button>
                                <button type="button" onclick="@("window.location.href='" + @Url.Action("Opportunities", "Opportunity") + "'");" class="btn btn-info btn-sm" data-widget='remove' data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i>Cancel</button>
                            </div><!-- /. tools -->
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section><!-- /.content -->
}
<script type="text/javascript">
      $(function () {
        //Datemask dd/mm/yyyy
        $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
        //Datemask2 mm/dd/yyyy
        $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
        //Money Euro
        $("[data-mask]").inputmask();

        //Date range picker
        $('#reservation').daterangepicker();
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
        //Date range as a button
        $('#daterange-btn').daterangepicker(
                {
                  ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                  },
                  startDate: moment().subtract('days', 29),
                  endDate: moment()
                },
        function (start, end) {
          $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
        );

        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
          checkboxClass: 'icheckbox_minimal-blue',
          radioClass: 'iradio_minimal-blue'
        });
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
          checkboxClass: 'icheckbox_minimal-red',
          radioClass: 'iradio_minimal-red'
        });
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
          checkboxClass: 'icheckbox_flat-green',
          radioClass: 'iradio_flat-green'
        });

        //Colorpicker
        $(".my-colorpicker1").colorpicker();
        //color picker with addon
        $(".my-colorpicker2").colorpicker();

        //Timepicker
        $(".timepicker").timepicker({
          showInputs: false
        });
      });
</script>