@model CRM.Core.Entities.Opportunity.Crm_Opportunity
@using (Html.BeginForm("GridViewPartialUpdate", "Opportunity", FormMethod.Post, new { id = "frmPerson" }))
{
<table style="border-spacing: 10px;">
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Name";
                s.Text = "Name";
            }).GetHtml()
        </td>
        <td>
           @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Name";
                s.ShowModelErrors = true;

            }).Bind(Model.Name).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
            s.AssociatedControlName = "Amount";
            s.Text = "Amount";
            }).GetHtml()
        </td>
        <td>
           @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "Amount";
                                settings.Properties.DisplayFormatString = "C";
                                settings.Number = 799.95M;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 999;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.Amount).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Customer";
                s.Text = "Customer";
            }).GetHtml()
        </td>
        <td>
            @Html.Partial("CustomerPartial", Model)
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Contact";
                s.Text = "Contact";
            }).GetHtml()
        </td>
        <td>
            @Html.Partial("ContactPartial", Model)
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "ExpectedCloseDate";
                s.Text = "Expected Close Date";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().DateEdit(s =>
                {
                    s.Name = "ExpectedCloseDate";
                    s.ShowModelErrors = true;
                }).Bind(Model.ExpectedCloseDate).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Stage";
                s.Text = "Stage";
            }).GetHtml()
        </td>
        <td>
            @Html.Partial("SaleStagePartial", Model)
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "LeadSource";
                s.Text = "LeadSource";
            }).GetHtml()
        </td>
        <td>
            @Html.Partial("LeadSourcePartial", Model)
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "NextStep";
                s.Text = "Next Step";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "NextStep";
                s.ShowModelErrors = true;

            }).Bind(Model.NextStep).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Type";
                s.Text = "Type";
            }).GetHtml()
        </td>
        <td>
           @Html.Partial("OpportinityTypePartial", Model)
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Probability";
                s.Text = "Probability";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "Probability";
                                settings.Properties.NumberType = SpinEditNumberType.Float;
                                settings.Number = 0;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 1000000000;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.Probability).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Campaign";
                s.Text = "Campaign";
            }).GetHtml()
        </td>
        <td>
           @Html.Partial("CampaignPartial", Model)
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "ForecastAmount";
                s.Text = "Forecast Amount";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "ForecastAmount";
                                settings.Properties.DisplayFormatString = "C";
                                settings.Number = 799.95M;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 999;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.ForecastAmount).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "PrimaryEmail";
                s.Text = "Primary Email";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "PrimaryEmail";
                s.ShowModelErrors = true;

            }).Bind(Model.PrimaryEmail).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Description";
                s.Text = "Description";
            }).GetHtml()
        </td>
        <td>
                        @Html.DevExpress().Memo(
            settings =>
            {
                settings.Name = "Description";
                settings.ControlStyle.CssClass = "editor";
                settings.Height = System.Web.UI.WebControls.Unit.Pixel(200);
                settings.Width = System.Web.UI.WebControls.Unit.Pixel(200);
          }
         ).Bind(Model.Description).GetHtml()
        </td>
    </tr>


    <tr class="spaceUnder">
        <td></td>
        <td></td>
        <td></td>
        <td>
            @if (ViewData["IsAuthorized"] != null && (bool) ViewData["IsAuthorized"])
            {
                @Html.DevExpress().HyperLink(s =>
                {
                    s.Name = "SaveProduct";
                    s.Properties.Text = "Save";
                    s.NavigateUrl = "javascript:UpdateGridView();";
                }).GetHtml()
            }
            

            @Html.DevExpress().HyperLink(s => {
            s.Name = "CancelProduct";
            s.Properties.Text = "Cancel";
            s.NavigateUrl = "javascript:GridView.CancelEdit();";
            }).GetHtml()
        </td>
    </tr>

</table>
}