﻿@using System.Configuration
@model CRM.Core.Entities.Organization.Crm_Organization
<script src="~/Content/Template/plugins/jQuery/jQuery-2.1.3.min.js"></script>
<script src="~/Content/Template/plugins/input-mask/jquery.inputmask.js"></script>
<script src="~/Content/Template/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="~/Content/Template/plugins/input-mask/jquery.inputmask.extensions.js"></script>

@using (Html.BeginForm("GridViewPartialAddNew", "Organization", FormMethod.Post, new { id = "frmPerson" }))
{

    <!-- Content Header (Page header) -->
     <section class="content-header">
          <h1>
              Creating New Organization
            <small></small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li class="active">Organizations</li>
          </ol>
        </section>
    <!-- Main content -->
<section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-danger'>
                <div class='box-header'>
                    <h3 class='box-title'>Organizations Information <small></small></h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-info btn-sm" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-plus"></i>Save</button>
                        <button type="button" onclick="@("window.location.href='" + @Url.Action("Organizations", "Organization") + "'");" class="btn btn-info btn-sm" data-widget='remove' data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i>Cancel</button>
                    </div><!-- /. tools -->
                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <label style="width: 135px; height: 10px;">Organization Name: </label>
                                </div>
                                @Html.DevExpress().TextBox(s =>
                                {
                                    s.Name = "OrganizationName";
                                    s.ShowModelErrors = true;
                                    s.ControlStyle.CssClass = "form-control";

                                }).Bind(Model.OrganizationName).GetHtml()
                            </div><!-- /.input group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;">Website:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "Website";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.Website).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;">Primary Phone:</label>
                                    </div>
                                  @Html.DevExpress().TextBox(
                                        settings =>
                                        {
                                            settings.Name = "PrimaryPhone";
                                            settings.Properties.MaskSettings.Mask = "(999) 000-00-00";
                                            settings.Properties.MaskSettings.IncludeLiterals = MaskIncludeLiteralsMode.None;
                                            settings.ControlStyle.CssClass = "form-control";
                                            settings.ShowModelErrors = true;
                                        }
                                        ).Bind(Model.PrimaryPhone).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;">Ticker Symbol:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "TickerSymbol";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.TickerSymbol).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;">Fax:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "Fax";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.Fax).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;">Main Organization:</label>
                                    </div>
                                    @Html.Partial("OrganizationPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;">Secondary Phone:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "SecondaryPhone";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.SecondaryPhone).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px; height: 10px;">Employees:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                settings =>
                                {
                                    settings.Name = "Employees";
                                    settings.Properties.NumberType = SpinEditNumberType.Integer;
                                    settings.Number = 0;
                                    settings.Properties.MinValue = 1;
                                    settings.Properties.MaxValue = 1000000000;
                                    settings.ShowModelErrors = true;
                                    settings.ControlStyle.CssClass = "form-control";
                                    settings.Width = 177;
                                }
                                ).Bind(Model.Employees).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;">Primary Email:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "PrimaryEmail";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.PrimaryEmail).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px; height: 10px;">Secondary Email:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "SecondaryEmail";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.SecondaryEmail).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;">Ownership:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "Ownership";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.Ownership).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px; height: 10px;">Industry:</label>
                                    </div>
                                    @Html.Partial("IndustryPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px; height: 10px;">Rating:</label>
                                    </div>
                                   @Html.Partial("RatingTypePartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px; height: 10px;">Type:</label>
                                    </div>
                                    @Html.Partial("OrganizationTypePartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px; height: 10px;">SIC Code:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "SICCode";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.SICCode).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px; height: 10px;">Email Opt. Out:</label>
                                    </div>
                                    @Html.DevExpress().CheckBox(
                                        settings =>
                                        {
                                            settings.Name = "EmailOptOut";
                                            settings.ControlStyle.CssClass = "form-control";
                                        }
                                        ).Bind(Model.EmailOptOut).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px; height: 10px;">Annual Revenue:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                        settings =>
                                        {
                                            settings.Name = "AnnualRevenue";
                                            settings.Properties.DisplayFormatString = "C";
                                            settings.Number = 799.95M;
                                            settings.Properties.MinValue = 1;
                                            settings.Properties.MaxValue = 999;
                                            settings.ShowModelErrors = true;
                                            settings.ControlStyle.CssClass = "form-control";
                                            settings.Width = 177;
                                        }
                                        ).Bind(Model.AnnualRevenue).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px; height: 10px;">Assigned To::</label>
                                    </div>
                                    @Html.Partial("AssignToPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px; height: 10px;">Notify Owner:</label>
                                    </div>
                                    @Html.DevExpress().CheckBox(
                                    settings =>
                                    {
                                        settings.Name = "NotifyOwner";
                                        settings.ControlStyle.CssClass = "form-control";
                                    }
                                ).Bind(Model.NotifyOwner).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section><!-- /.content -->
    <section class="content">
        <div class='row'>
            <div class='col-md-12'>
                <div class='box box-info'>
                    <div class='box-header'>
                        <h3 class='box-title'>Address Details <small></small></h3>
                        <!-- tools box -->

                    </div><!-- /.box-header -->
                    <div class='box-body pad'>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 135px;">Billing Address:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "BillingAddress";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.BillingAddress).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 135px;">Shipping Address:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "ShippingAddress";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.ShippingAddress).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 135px;">Billing PO Box:</label>
                                        </div>
                                       @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "BillingPOBox";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.BillingPOBox).GetHtml()
                                    </div>
                                </div><!-- /.form group -->
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 135px; height: 10px;">Shipping PO Box:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "ShippingPOBox";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.ShippingPOBox).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 135px;">Billing City:</label>
                                        </div>
                                        @Html.Partial("CountryPartial", Model)
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 135px; height: 10px;">Shipping City:</label>
                                        </div>
                                        @Html.Partial("ShippingCountryPartial", Model)
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 135px;">Billing State:</label>
                                        </div>
                                        @Html.Partial("CityPartial", Model)
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 135px; height: 10px;">Shipping State:</label>
                                        </div>
                                        @Html.Partial("ShippingCityPartial", Model)
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 135px;">Billing Postal Code:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "BillingPostalCode";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.BillingPostalCode).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 135px; height: 10px;">Shipping Postal Code:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "ShippingPostalCode";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.ShippingPostalCode).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 135px;">Billing Country:</label>
                                        </div>
                                       @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "BillingCountry";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.BillingCountry).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                            <div class="col-md-6 form-group">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <label style="width: 135px; height: 10px;">Shipping Country:</label>
                                        </div>
                                        @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "ShippingCountry";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.ShippingCountry).GetHtml()
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div>
                        </div>
                    </div>
                </div><!-- /.box -->
            </div><!-- /.col-->
        </div><!-- ./row -->
    </section><!-- /.content -->
<section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-primary'>
                <div class='box-header'>
                    <h3 class='box-title'>Description Details <small></small></h3>
                    <!-- tools box -->

                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <label>Description:</label>
                                @Html.DevExpress().Memo(
                                    settings =>
                                    {
                                        settings.Name = "Description";
                                        settings.ControlStyle.CssClass = "editor";
                                        settings.Width = 550;
                                        settings.Height = 50;

                                    }
                                    ).Bind(Model.Description).GetHtml()
                                @Html.DevExpress().TextBox(s =>
                                {
                                    s.Name = "Id";
                                    s.ShowModelErrors = true;
                                    s.ControlStyle.CssClass = "form-control";
                                    s.ClientVisible = false;
                                }).Bind(Model.Id).GetHtml()
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">

                        </div>
                        <div class="col-md-6 form-group">
                            <div class="pull-right box-tools">
                                <button class="btn btn-info btn-sm" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-plus"></i>Save</button>
                                <button type="button" onclick="@("window.location.href='" + @Url.Action("Organizations", "Organization") + "'");" class="btn btn-info btn-sm" data-widget='remove' data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i>Cancel</button>
                            </div><!-- /. tools -->
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section><!-- /.content -->
}
<script type="text/javascript">
      $(function () {
        //Datemask dd/mm/yyyy
        $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
        //Datemask2 mm/dd/yyyy
        $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
        //Money Euro
        $("[data-mask]").inputmask();

        //Date range picker
        $('#reservation').daterangepicker();
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
        //Date range as a button
        $('#daterange-btn').daterangepicker(
                {
                  ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                  },
                  startDate: moment().subtract('days', 29),
                  endDate: moment()
                },
        function (start, end) {
          $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
        );

        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
          checkboxClass: 'icheckbox_minimal-blue',
          radioClass: 'iradio_minimal-blue'
        });
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
          checkboxClass: 'icheckbox_minimal-red',
          radioClass: 'iradio_minimal-red'
        });
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
          checkboxClass: 'icheckbox_flat-green',
          radioClass: 'iradio_flat-green'
        });

        //Colorpicker
        $(".my-colorpicker1").colorpicker();
        //color picker with addon
        $(".my-colorpicker2").colorpicker();

        //Timepicker
        $(".timepicker").timepicker({
          showInputs: false
        });
      });
</script>