@model CRM.Core.Entities.Organization.Crm_Organization
@using (Html.BeginForm("GridViewPartialUpdate", "Organization", FormMethod.Post, new { id = "frmPerson" }))
{
<table style="border-spacing: 10px;">
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "OrganizationName";
                s.Text = "Organization Name";
            }).GetHtml()
        </td>
        <td>
           @Html.DevExpress().TextBox(s =>
            {
                s.Name = "OrganizationName";
                s.ShowModelErrors = true;

            }).Bind(Model.OrganizationName).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
            s.AssociatedControlName = "PrimaryPhone";
            s.Text = "Primary Phone";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "PrimaryPhone";
                s.ShowModelErrors = true;

            }).Bind(Model.PrimaryPhone).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Fax";
                s.Text = "Fax";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Fax";
                s.ShowModelErrors = true;

            }).Bind(Model.Fax).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "SecondaryPhone";
                s.Text = "Secondary Phone";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "SecondaryPhone";
                s.ShowModelErrors = true;

            }).Bind(Model.SecondaryPhone).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "PrimaryEmail";
                s.Text = "Primary Email";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "PrimaryEmail";
                s.ShowModelErrors = true;

            }).Bind(Model.PrimaryEmail).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Ownership";
                s.Text = "Ownership";
            }).GetHtml()
        </td>
        <td>
           @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Ownership";
                s.ShowModelErrors = true;

            }).Bind(Model.Ownership).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Rating";
                s.Text = "Rating";
            }).GetHtml()
        </td>
        <td>
           @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "Rating";
                                settings.Properties.NumberType = SpinEditNumberType.Integer;
                                settings.Number = 0;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 1000000000;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.Rating).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "SICCode";
                s.Text = "SIC Code";
            }).GetHtml()
        </td>
        <td>
          @Html.DevExpress().TextBox(s =>
            {
                s.Name = "SICCode";
                s.ShowModelErrors = true;

            }).Bind(Model.SICCode).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "AnnualRevenue";
                s.Text = "Annual Revenue";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "AnnualRevenue";
                                settings.Properties.DisplayFormatString = "C";
                                settings.Number = 799.95M;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 999;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.AnnualRevenue).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "NotifyOwner";
                s.Text = "NotifyOwner";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().CheckBox(
            settings => {
                settings.Name = "NotifyOwner";
            }
        ).Bind(Model.NotifyOwner).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Website";
                s.Text = "Website";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Website";
                s.ShowModelErrors = true;

            }).Bind(Model.Website).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "TickerSymbol";
                s.Text = "Ticker Symbol";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "TickerSymbol";
                s.ShowModelErrors = true;

            }).Bind(Model.TickerSymbol).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "MemberOf";
                s.Text = "MemberOf";
            }).GetHtml()
        </td>
        <td>
           @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "MemberOf";
                                settings.Properties.NumberType = SpinEditNumberType.Integer;
                                settings.Number = 0;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 1000000000;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.MemberOf).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Employees";
                s.Text = "Employees";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "Employees";
                                settings.Properties.NumberType = SpinEditNumberType.Integer;
                                settings.Number = 0;
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 1000000000;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.Employees).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "SecondaryEmail";
                s.Text = "Secondary Email";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "SecondaryEmail";
                s.ShowModelErrors = true;

            }).Bind(Model.SecondaryEmail).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Industry";
                s.Text = "Industry";
            }).GetHtml()
        </td>
        <td>
          @Html.Partial("IndustryPartial", Model)
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "Type";
                    s.Text = "Type";
                }).GetHtml()
        </td>
        <td>
            @Html.Partial("TypePartial", Model)
        </td>
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "EmailOptOut";
                    s.Text = "Email Opt. Out";
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().CheckBox(
            settings => {
                settings.Name = "EmailOptOut";
            }
        ).Bind(Model.EmailOptOut).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "BillingAddress";
                s.Text = "Billing Address";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "BillingAddress";
                s.ShowModelErrors = true;

            }).Bind(Model.BillingAddress).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "BillingPOBox";
                s.Text = "Billing PO Box";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "BillingPOBox";
                s.ShowModelErrors = true;

            }).Bind(Model.BillingPOBox).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "BillingCity";
                s.Text = "Billing City";
            }).GetHtml()
        </td>
        <td>
           @Html.Partial("CountryPartial", Model)
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "BillingState";
                s.Text = "Billing State";
            }).GetHtml()
        </td>
        <td>
            @Html.Partial("CityPartial", Model)
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "BillingPostalCode";
                s.Text = "Billing Postal Code";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "BillingPostalCode";
                s.ShowModelErrors = true;

            }).Bind(Model.BillingPostalCode).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "BillingCountry";
                s.Text = "Billing Country";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "BillingCountry";
                s.ShowModelErrors = true;

            }).Bind(Model.BillingCountry).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "ShippingAddress";
                s.Text = "Shipping Address";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "ShippingAddress";
                s.ShowModelErrors = true;

            }).Bind(Model.ShippingAddress).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "ShippingPOBox";
                s.Text = "Shipping PO Box";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "ShippingPOBox";
                s.ShowModelErrors = true;

            }).Bind(Model.ShippingPOBox).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "ShippingCity";
                s.Text = "Shipping City";
            }).GetHtml()
        </td>
        <td>
            @Html.Partial("ShippingCountryPartial", Model)
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "BillingState";
                s.Text = "Billing State";
            }).GetHtml()
        </td>
        <td>
            @Html.Partial("ShippingCityPartial", Model)
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
            s.AssociatedControlName = "ShippingPostalCode";
            s.Text = "Shipping Postal Code";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
            s.Name = "ShippingPostalCode";
            s.ShowModelErrors = true;

            }).Bind(Model.ShippingPostalCode).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
            s.AssociatedControlName = "ShippingCountry";
            s.Text = "Shipping Country";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
            s.Name = "ShippingCountry";
            s.ShowModelErrors = true;

            }).Bind(Model.ShippingCountry).GetHtml()
        </td>
    </tr>
    

    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "Description";
                    s.Text = "Description";
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Memo(
            settings =>
            {
                settings.Name = "Description";
                settings.ControlStyle.CssClass = "editor";
                settings.Height = System.Web.UI.WebControls.Unit.Pixel(200);
                settings.Width = System.Web.UI.WebControls.Unit.Pixel(200);
          }
         ).Bind(Model.Description).GetHtml()
        </td>
        <td>

        </td>
        <td>

        </td>
    </tr>

    <tr class="spaceUnder">
        <td></td>
        <td></td>
        <td></td>
        <td>
            @if (ViewData["IsAuthorized"] != null && (bool) ViewData["IsAuthorized"])
            {
                @Html.DevExpress().HyperLink(s =>
                {
                    s.Name = "SaveProduct";
                    s.Properties.Text = "Save";
                    s.NavigateUrl = "javascript:UpdateGridView();";
                }).GetHtml()
            }
            

            @Html.DevExpress().HyperLink(s => {
            s.Name = "CancelProduct";
            s.Properties.Text = "Cancel";
            s.NavigateUrl = "javascript:GridView.CancelEdit();";
            }).GetHtml()
        </td>
    </tr>

</table>
}