<div class="row">
    <div class="col-md-6 form-group">

    </div>
    <div class="col-md-6 form-group">
        <div class="pull-right box-tools">
            <button class="btn btn-info btn-sm" data-widget='collapse' data-toggle="tooltip" onclick="PostFooter()" title="Collapse"><i class="fa fa-plus"></i>Save</button>
            <button type="button" onclick="@("window.location.href='" + @Url.Action("Organizations", "Organization") + "'");" class="btn btn-info btn-sm" data-widget='remove' data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i>Cancel</button>
        </div><!-- /. tools -->
    </div>
</div>