@model CRM.Core.Entities.Organization.Crm_Organization
<script type="text/javascript">
    function PostEditForm() {

        SelectedId();
        var data = {
            param: $(this).serialize()
        };

        $.ajax({
            url: "/Organization/GridViewPartialAddNew",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(data)
        });
    }
</script>
@*@using (Html.BeginForm("GridViewPartialAddNew", "Lead", FormMethod.Post, new {id = "frmTab"}))
{*@
    <section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-info'>
                <div class='box-header'>
                    <h3 class='box-title'>Address Details <small></small></h3>
                    <!-- tools box -->

                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;">Billing Address:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "BillingAddress";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.BillingAddress).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;">Shipping Address:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "ShippingAddress";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.ShippingAddress).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;">Billing PO Box:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "BillingPOBox";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.BillingPOBox).GetHtml()
                                </div>
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px; height: 10px;">Shipping PO Box:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "ShippingPOBox";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.ShippingPOBox).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;">Billing City:</label>
                                    </div>
                                    @Html.Partial("CountryPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px; height: 10px;">Shipping City:</label>
                                    </div>
                                    @Html.Partial("ShippingCountryPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;">Billing State:</label>
                                    </div>
                                    @Html.Partial("CityPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px; height: 10px;">Shipping State:</label>
                                    </div>
                                    @Html.Partial("ShippingCityPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;">Billing Postal Code:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "BillingPostalCode";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.BillingPostalCode).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px; height: 10px;">Shipping Postal Code:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "ShippingPostalCode";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.ShippingPostalCode).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px;">Billing Country:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "BillingCountry";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.BillingCountry).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 135px; height: 10px;">Shipping Country:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                        {
                                            s.Name = "ShippingCountry";
                                            s.ShowModelErrors = true;
                                            s.ControlStyle.CssClass = "form-control";

                                        }).Bind(Model.ShippingCountry).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section><!-- /.content -->
    <!-- /.content -->
@*}*@