@model IList<CRM.Business.Dtoes.CampaignDtoes.CrmCampaignDto>
                    @{

    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "GridView";
        settings.SettingsEditing.ShowModelErrorsForEditors = true;
        settings.CallbackRouteValues = new { Controller = "Campaign", Action = "GridViewPartial" };
        settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "Campaign", Action = "GridViewPartialAddNew" };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Campaign", Action = "GridViewPartialUpdate" };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "Campaign", Action = "GridViewPartialDelete" };
        settings.SettingsBehavior.ConfirmDelete = true;
        settings.CommandColumn.Visible = true;
        settings.CommandColumn.ShowSelectCheckbox = true;
        settings.ClientSideEvents.SelectionChanged = "OnSelectionChanged";
        settings.ClientSideEvents.BeginCallback = "OnBeginCallback";
        settings.CommandColumn.ButtonType = GridViewCommandButtonType.Image;
        settings.CommandColumn.EditButton.Image.Url = "../../Content/images/edit.png" ;
        settings.CommandColumn.NewButton.Image.Url = "../../Content/images/new.png" ;
        settings.CommandColumn.UpdateButton.Image.Url = "../../Content/images/update.png";
        settings.CommandColumn.DeleteButton.Image.Url = "../../Content/images/delete.png";
        settings.CommandColumn.CancelButton.Image.Url = "../../Content/images/cancel.png";
        settings.CommandColumn.ShowNewButtonInHeader = false;
        settings.CommandColumn.ShowDeleteButton = false;
        settings.CommandColumn.ShowEditButton = false;
        settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;
        settings.KeyFieldName = "CampaignId";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.SettingsBehavior.AllowSelectByRowClick = true;

        settings.Columns.Add("CampaignName");
        settings.Columns["CampaignName"].Caption = "Campaign Name";
        settings.Columns.Add("TypeName");
        settings.Columns["TypeName"].Caption = "Campaign Type";
        settings.Columns.Add("Status");
        settings.Columns.Add("ExpectedRevenue");
        settings.Columns["ExpectedRevenue"].Caption = "Expected Revenue";
        settings.Columns.Add("ExpectedCloseDate");
        settings.Columns["ExpectedCloseDate"].Caption = "CloseDate";
        settings.Columns.Add("AssignPerson");
        settings.Columns["AssignPerson"].Caption = "Assign Person";

settings.Columns.Add(column =>
{
    column.Caption = "#";
    column.SetDataItemTemplateContent(c =>
    {
        ViewContext.Writer.Write("<a href=\"/Campaign/ExternalEditFormEdit?CampaignId={0}\"><img src=\"../../Content/images/edit.png\" alt=\"My Image\" /></a>", DataBinder.Eval(c.DataItem, "CampaignId"));
        ViewContext.Writer.Write("&nbsp;");
        ViewContext.Writer.Write("<a href=\"/Campaign/GridViewPartialDelete?CampaignId={0}\" onclick =\"return confirm('Do you really want to delete this record?');\"><img src=\"../../Content/images/delete.png\" alt=\"My Image\" /></a>", DataBinder.Eval(c.DataItem, "CampaignId"));
        //ViewContext.Writer.Write(
        //    Html.ActionLink("Edit", "ExternalEditFormEdit", new { LeadId = DataBinder.Eval(c.DataItem, "LeadId") }) + "&nbsp;" +
        //    Html.ActionLink("Delete", "GridViewPartialDelete", new { LeadId = DataBinder.Eval(c.DataItem, "LeadId") },
        //        new { onclick = "return confirm('Do you really want to delete this record?')" })
        //);
    });
    column.Settings.AllowDragDrop = DefaultBoolean.False;
    column.Settings.AllowSort = DefaultBoolean.False;
    column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
});
settings.SetEditFormTemplateContent(c =>
        {
            Html.RenderPartial("EditFormPartial",
           !c.Grid.IsNewRowEditing ?
               Model.FirstOrDefault(m => m.CampaignId == Convert.ToInt32(DataBinder.Eval(c.DataItem, "CampaignId"))) :
               new CRM.Business.Dtoes.CampaignDtoes.CrmCampaignDto()
               {
                   CampaignId = Model.OrderByDescending(p => p.CampaignId)
                      .First()
                      .CampaignId + 1
               });
        });
    });
    if (ViewData["EditError"] != null)
    {
        grid.SetEditErrorText((string)ViewData["EditError"]);
    }
                    }
    @grid.Bind(Model).GetHtml()
