﻿@using System.Configuration
@model CRM.Business.Dtoes.CampaignDtoes.CrmCampaignDto
<script src="~/Content/Template/plugins/jQuery/jQuery-2.1.3.min.js"></script>
<script src="~/Content/Template/plugins/input-mask/jquery.inputmask.js"></script>
<script src="~/Content/Template/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="~/Content/Template/plugins/input-mask/jquery.inputmask.extensions.js"></script>

@using (Html.BeginForm("GridViewPartialAddNew", "Campaign", FormMethod.Post, new { id = "frmPerson" }))
{

    <!-- Content Header (Page header) -->
     <section class="content-header">
          <h1>
              Creating New Campaign
            <small></small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li class="active">Campaigns</li>
          </ol>
        </section>
    <!-- Main content -->
<section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-danger'>
                <div class='box-header'>
                    <h3 class='box-title'>Campaign Information <small></small></h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-info btn-sm" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-plus"></i>Save</button>
                        <button type="button" onclick="@("window.location.href='" + @Url.Action("Test", "Campaign") + "'");" class="btn btn-info btn-sm" data-widget='remove' data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i>Cancel</button>
                    </div><!-- /. tools -->
                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <label style="width: 155px; height: 10px;">Campaign Name: </label>
                                </div>
                               @Html.DevExpress().TextBox(s =>
                                {
                                    s.Name = "CampaignName";
                                    s.ShowModelErrors = true;
                                    s.ControlStyle.CssClass = "form-control";
                                }).Bind(Model.CampaignName).GetHtml()
                            </div><!-- /.input group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">AssignTo:</label>
                                    </div>
                                    @Html.Partial("AssignToPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">Campaign Status:</label>
                                    </div>
                                    @Html.DevExpress().ComboBox(
                                    settings =>
                                    {
                                        settings.Name = "StatusNameId";
                                        settings.Width = 177;
                                        settings.SelectedIndex = 0;
                                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                        settings.Properties.TextField = "Description";
                                        settings.Properties.ValueField = "CampaignStatusId";
                                        settings.ControlStyle.CssClass = "form-control";
                                    }
                                    ).BindList(ViewData["Status"]).Bind(Model.StatusNameId).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">Campaign Type:</label>
                                    </div>
                                    @Html.DevExpress().ComboBox(
                                    settings =>
                                    {
                                        settings.Name = "TypeName";
                                        settings.Width = 177;
                                        settings.SelectedIndex = 0;
                                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                        settings.Properties.TextField = "TypeName";
                                        settings.Properties.ValueField = "TypeNameId";
                                        settings.ControlStyle.CssClass = "form-control";
                                    }
                                    ).BindList(ViewData["Types"]).Bind(Model.TypeName).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">Products:</label>
                                    </div>
                                   @Html.DevExpress().ComboBox(
                                    settings =>
                                    {
                                        settings.Name = "ProductNameId";
                                        settings.Width = 177;
                                        settings.SelectedIndex = 0;
                                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                        settings.Properties.TextField = "ProductName";
                                        settings.Properties.ValueField = "ProductNameId";
                                        settings.ControlStyle.CssClass = "form-control";
                                    }
                                    ).BindList(ViewData["Products"]).Bind(Model.ProductNameId).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">Related Target:</label>
                                    </div>
                                   @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "TargetAudience";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";
                                    }).Bind(Model.TargetAudience).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">End Date:</label>
                                    </div>
                                    @Html.DevExpress().DateEdit(s =>
                                    {
                                        s.Name = "ExpectedCloseDate";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";
                                        s.Width = 177;
                                    }).Bind(Model.ExpectedCloseDate).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px; height: 10px;">Sponsor:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "Sponsor";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.Sponsor).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">Target Size:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(settings =>
                                    {
                                        settings.Name = "TargetSize";
                                        settings.Properties.SpinButtons.ShowLargeIncrementButtons = false;
                                        settings.Properties.SpinButtons.ShowIncrementButtons = false;
                                        settings.ControlStyle.CssClass = "form-control";

                                        settings.Properties.NumberType = SpinEditNumberType.Integer;
                                        settings.Properties.MaxValue = 99999;
                                        settings.Width = 177;
                                    }).Bind(Model.TargetSize).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px; height: 10px;">Number Sent:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(settings =>
                                    {
                                        settings.Name = "NumberSent";
                                        settings.Properties.SpinButtons.ShowLargeIncrementButtons = false;
                                        settings.Properties.SpinButtons.ShowIncrementButtons = false;
                                        settings.ControlStyle.CssClass = "form-control";

                                        settings.Properties.NumberType = SpinEditNumberType.Integer;
                                        settings.Properties.MaxValue = 99999;
                                        settings.Width = 177;
                                    }).Bind(Model.NumberSent).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section><!-- /.content -->
<section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-info'>
                <div class='box-header'>
                    <h3 class='box-title'>Expected & Actual <small></small></h3>
                    <!-- tools box -->
                  
                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">Budget Cost:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                        settings =>
                                        {
                                            settings.Name = "BudgetCost";
                                            settings.Properties.DisplayFormatString = "C";
                                            settings.Number = 799.95M;
                                            settings.ControlStyle.CssClass = "form-control"; ;

                                            settings.Properties.MinValue = 1;
                                            settings.Properties.MaxValue = 1000000000;
                                            settings.ShowModelErrors = true;
                                            settings.Width = 177;
                                        }
                                        ).Bind(Model.BudgetCost).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">Actual Cost:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                        settings =>
                                        {
                                            settings.Name = "ActualCost";
                                            settings.Properties.DisplayFormatString = "C";
                                            settings.Number = 799.95M;
                                            settings.ControlStyle.CssClass = "form-control"; ;

                                            settings.Properties.MinValue = 1;
                                            settings.Properties.MaxValue = 1000000000;
                                            settings.ShowModelErrors = true;
                                            settings.Width = 177;
                                        }
                                        ).Bind(Model.ActualCost).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">Expected Response:</label>
                                    </div>
                                    @Html.DevExpress().ComboBox(
                                    settings =>
                                    {
                                        settings.Name = "ExpectedResponseTypeName";
                                        settings.Width = 177;
                                        settings.SelectedIndex = 0;
                                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                        settings.Properties.TextField = "ExpectedResponseTypeName";
                                        settings.Properties.ValueField = "ExpectedResponseTypeId";
                                        settings.ControlStyle.CssClass = "form-control"; ;
                                    }
                                    ).BindList(ViewData["Responses"]).Bind(Model.ExpectedResponseTypeName).GetHtml()
                                </div>
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px; height: 10px;">Expected Revenue:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                        settings =>
                                        {
                                            settings.Name = "ExpectedRevenue";
                                            settings.Properties.DisplayFormatString = "C";
                                            settings.Number = 799.95M;
                                            settings.ControlStyle.CssClass = "form-control"; ;

                                            settings.Properties.MinValue = 1;
                                            settings.Properties.MaxValue = 1000000000;
                                            settings.ShowModelErrors = true;
                                            settings.Width = 177;
                                        }
                                        ).Bind(Model.ExpectedRevenue).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">Expected Sales Count:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(settings =>
                                    {
                                        settings.Name = "ExpectedSalesCount";
                                        settings.Properties.SpinButtons.ShowLargeIncrementButtons = false;
                                        settings.Properties.SpinButtons.ShowIncrementButtons = false;
                                        settings.ControlStyle.CssClass = "form-control";

                                        settings.Properties.NumberType = SpinEditNumberType.Integer;
                                        settings.Properties.MaxValue = 99999;
                                        settings.Width = 177;
                                    }).Bind(Model.ExpectedSalesCount).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px; height: 10px;">Actual Sales Count: </label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(settings =>
                                    {
                                        settings.Name = "ActualSalesCount";
                                        settings.Properties.SpinButtons.ShowLargeIncrementButtons = false;
                                        settings.Properties.SpinButtons.ShowIncrementButtons = false;
                                        settings.ControlStyle.CssClass = "form-control";

                                        settings.Properties.NumberType = SpinEditNumberType.Integer;
                                        settings.Properties.MaxValue = 99999;
                                        settings.Width = 177;
                                    }).Bind(Model.ActualSalesCount).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">Expected Response Count:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(settings =>
                                    {
                                        settings.Name = "ExpectedResponseCount";
                                        settings.Properties.SpinButtons.ShowLargeIncrementButtons = false;
                                        settings.Properties.SpinButtons.ShowIncrementButtons = false;
                                        settings.ControlStyle.CssClass = "form-control";

                                        settings.Properties.NumberType = SpinEditNumberType.Integer;
                                        settings.Properties.MaxValue = 99999;
                                        settings.Width = 177;
                                    }).Bind(Model.ExpectedResponseCount).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px; height: 10px;">Actual Response Count: </label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(settings =>
                                    {
                                        settings.Name = "ActualResponseCount";
                                        settings.Properties.SpinButtons.ShowLargeIncrementButtons = false;
                                        settings.Properties.SpinButtons.ShowIncrementButtons = false;
                                        settings.ControlStyle.CssClass = "form-control";

                                        settings.Properties.NumberType = SpinEditNumberType.Integer;
                                        settings.Properties.MaxValue = 99999;
                                        settings.Width = 177;
                                    }).Bind(Model.ActualResponseCount).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">Expected ROI:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                        settings =>
                                        {
                                            settings.Name = "ExpectedROI";
                                            settings.Properties.DisplayFormatString = "C";
                                            settings.Number = 799.95M;
                                            settings.ControlStyle.CssClass = "form-control"; ;

                                            settings.Properties.MinValue = 1;
                                            settings.Properties.MaxValue = 1000000000;
                                            settings.ShowModelErrors = true;
                                            settings.Width = 177;
                                        }
                                        ).Bind(Model.ExpectedROI).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px; height: 10px;">Actual ROI: </label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                        settings =>
                                        {
                                            settings.Name = "ActualROI";
                                            settings.Properties.DisplayFormatString = "C";
                                            settings.Number = 799.95M;
                                            settings.ControlStyle.CssClass = "form-control"; ;

                                            settings.Properties.MinValue = 1;
                                            settings.Properties.MaxValue = 1000000000;
                                            settings.ShowModelErrors = true;
                                            settings.Width = 177;
                                        }
                                        ).Bind(Model.ActualROI).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section><!-- /.content -->
<section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-primary'>
                <div class='box-header'>
                    <h3 class='box-title'>Description Details <small></small></h3>
                    <!-- tools box -->

                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <label>Description:</label>
                                @Html.DevExpress().Memo(
                                    settings =>
                                    {
                                        settings.Name = "Description";
                                        settings.ControlStyle.CssClass = "editor";
                                        settings.Width = 550;
                                        settings.Height = 50;

                                    }
                                    ).Bind(Model.Description).GetHtml()
                                @Html.DevExpress().TextBox(s =>
                                {
                                    s.Name = "CampaignId";
                                    s.ShowModelErrors = true;
                                    s.ControlStyle.CssClass = "form-control";
                                    s.ClientVisible = false;
                                }).Bind(Model.CampaignId).GetHtml()
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">

                        </div>
                        <div class="col-md-6 form-group">
                            <div class="pull-right box-tools">
                                <button class="btn btn-info btn-sm" data-widget='collapse' data-toggle="tooltip" title="Collapse"><i class="fa fa-plus"></i>Save</button>
                                <button type="button" onclick="@("window.location.href='" + @Url.Action("Test", "Campaign") + "'");" class="btn btn-info btn-sm" data-widget='remove' data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i>Cancel</button>
                            </div><!-- /. tools -->
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section><!-- /.content -->
}
<script type="text/javascript">
      $(function () {
        //Datemask dd/mm/yyyy
        $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
        //Datemask2 mm/dd/yyyy
        $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
        //Money Euro
        $("[data-mask]").inputmask();

        //Date range picker
        $('#reservation').daterangepicker();
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});
        //Date range as a button
        $('#daterange-btn').daterangepicker(
                {
                  ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                    'Last 7 Days': [moment().subtract('days', 6), moment()],
                    'Last 30 Days': [moment().subtract('days', 29), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                  },
                  startDate: moment().subtract('days', 29),
                  endDate: moment()
                },
        function (start, end) {
          $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
        );

        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
          checkboxClass: 'icheckbox_minimal-blue',
          radioClass: 'iradio_minimal-blue'
        });
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
          checkboxClass: 'icheckbox_minimal-red',
          radioClass: 'iradio_minimal-red'
        });
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
          checkboxClass: 'icheckbox_flat-green',
          radioClass: 'iradio_flat-green'
        });

        //Colorpicker
        $(".my-colorpicker1").colorpicker();
        //color picker with addon
        $(".my-colorpicker2").colorpicker();

        //Timepicker
        $(".timepicker").timepicker({
          showInputs: false
        });
      });
</script>