@model CRM.Business.Dtoes.CampaignDtoes.CrmCampaignDto
@using (Html.BeginForm("GridViewPartialUpdate", "Campaign", FormMethod.Post, new { id = "frmPerson" }))
{
    <table style="border-spacing: 10px;">
        <tr class="spaceUnder">
            <td>
                @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "CampaignName";
                s.Text = "CampaignName";
            }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().TextBox(s =>
            {
                s.Name = "CampaignName";
                s.ShowModelErrors = true;
            }).Bind(Model.CampaignName).GetHtml()
            </td>
            <td>
                @Html.DevExpress().Label(s =>
            {
            s.AssociatedControlName = "Sponsor";
            s.Text = "Sponsor";
            }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().TextBox(s =>
            {
            s.Name = "Sponsor";
            s.ShowModelErrors = true;

            }).Bind(Model.Sponsor).GetHtml()
            </td>
        </tr>
        <tr class="spaceUnder">
            <td>
                @Html.DevExpress().Label(s =>
            {
            s.AssociatedControlName = "TargetAudience";
            s.Text = "TargetAudience";
            }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().TextBox(s =>
            {
                s.Name = "TargetAudience";
                s.ShowModelErrors = true;
            }).Bind(Model.TargetAudience).GetHtml()
            </td>
            <td>
                @Html.DevExpress().Label(s =>
            {
            s.AssociatedControlName = "ActualCost";
            s.Text = "Actual Cost";
            }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().SpinEdit(
                settings => {
                    settings.Name = "ActualCost";
                    settings.Properties.DisplayFormatString = "C";
                    settings.Number = 799.95M;
                }
            ).Bind(Model.ActualCost).GetHtml()
            </td>
        </tr>
        <tr class="spaceUnder">
            <td>
                @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "ExpectedCloseDate";
                    s.Text = "ExpectedCloseDate";
                }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().DateEdit(s =>
                {
                    s.Name = "ExpectedCloseDate";
                    s.ShowModelErrors = true;
                }).Bind(Model.ExpectedCloseDate).GetHtml()
            </td>
            <td>
                @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "ActualROI";
                    s.Text = "ActualROI";
                }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().SpinEdit(
                    settings => {
                                    settings.Name = "ActualROI";
                                    settings.Properties.NumberType = SpinEditNumberType.Float;
                                    settings.Number = 0;
                    }
                    ).Bind(Model.ActualROI).GetHtml()
            </td>
        </tr>
        <tr class="spaceUnder">
            <td>
                @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "MemberNameId";
                    s.Text = "Assign";
                }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().ComboBox(
                    settings => {
                                    settings.Name = "MemberNameId";
                                    settings.Width = 180;
                                    settings.SelectedIndex = 0;
                                    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                    settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                    settings.Properties.TextField = "MemberName";
                                    settings.Properties.ValueField = "MemberNameId";
                    }
                    ).BindList(ViewData["AssignMember"]).GetHtml()
            </td>
            <td>
                @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "TypeNameId";
                    s.Text = "Type";
                }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().ComboBox(
                    settings => {
                                    settings.Name = "TypeName";
                                    settings.Width = 180;
                                    settings.SelectedIndex = 0;
                                    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                    settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                    settings.Properties.TextField = "TypeName";
                                    settings.Properties.ValueField = "TypeNameId";
                    }
                    ).BindList(ViewData["Types"]).Bind(Model.TypeName).GetHtml()
            </td>
        </tr>
        <tr class="spaceUnder">
            <td>
                @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "CampaignStatusId";
                    s.Text = "Status";
                }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().ComboBox(
                    settings => {
                                    settings.Name = "StatusNameId";
                                    settings.Width = 180;
                                    settings.SelectedIndex = 0;
                                    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                    settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                    settings.Properties.TextField = "Description";
                                    settings.Properties.ValueField = "CampaignStatusId";
                    }
                    ).BindList(ViewData["Status"]).Bind(Model.StatusNameId).GetHtml()
            </td>
            <td>
                @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "ExpectedResponseTypeId";
                    s.Text = "Expected Response";
                }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().ComboBox(
                    settings => {
                                    settings.Name = "ExpectedResponseTypeName";
                                    settings.Width = 180;
                                    settings.SelectedIndex = 0;
                                    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                    settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                    settings.Properties.TextField = "ExpectedResponseTypeName";
                                    settings.Properties.ValueField = "ExpectedResponseTypeId";
                    }
                    ).BindList(ViewData["Responses"]).Bind(Model.ExpectedResponseTypeName).GetHtml()
            </td>
        </tr>
        <tr class="spaceUnder">
            <td>
                @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "ProductNameId";
                    s.Text = "Product";
                }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().ComboBox(
                    settings => {
                                    settings.Name = "ProductNameId";
                                    settings.Width = 180;
                                    settings.SelectedIndex = 0;
                                    settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                    settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                    settings.Properties.TextField = "ProductName";
                                    settings.Properties.ValueField = "ProductNameId";
                    }
                    ).BindList(ViewData["Products"]).GetHtml()
            </td>
            <td>
                @Html.DevExpress().Label(s =>
                {
                s.AssociatedControlName = "ActualResponseCount";
                s.Text = "Actual Response Count";
                }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().SpinEdit(
                    settings => {
                                    settings.Name = "ActualResponseCount";
                                    settings.Number = 0;
                    }
                    ).Bind(Model.ActualResponseCount).GetHtml()
            </td>
        </tr>
        <tr class="spaceUnder">
            <td>
                @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "NumberSent";
                    s.Text = "Number Sent";
                }).GetHtml()
            </td>
            <td>
                                                               @Html.DevExpress().SpinEdit(
               settings => {
                                settings.Name = "NumberSent";
                                settings.Properties.MinValue = 1;
                                settings.Properties.MaxValue = 100000;
                                settings.Properties.NumberType = SpinEditNumberType.Float;
                                settings.ShowModelErrors = true;
                                settings.Number = 0;
               }
               ).Bind(Model.NumberSent).GetHtml()
            </td>
            <td>
                @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "BudgetCost";
                    s.Text = "Budget Cost";
                }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().SpinEdit(
                    settings => {
                                    settings.Name = "BudgetCost";
                                    settings.Properties.DisplayFormatString = "C";
                                    settings.Number = 799.95M;
                    }
                    ).Bind(Model.BudgetCost).GetHtml()
            </td>
        </tr>
        <tr class="spaceUnder">
            <td>
                @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "ExpectedRevenue";
                    s.Text = "Expected Revenue";
                }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().SpinEdit(
                    settings => {
                                    settings.Name = "ExpectedRevenue";
                                    settings.Properties.DisplayFormatString = "C";
                                    settings.Number = 799.95M;
                    }
                    ).Bind(Model.ExpectedRevenue).GetHtml()
            </td>
            <td>
                @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "ExpectedSalesCount";
                    s.Text = "Expected Sales Count";
                }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().SpinEdit(
                    settings => {
                                    settings.Name = "ExpectedSalesCount";
                                    settings.Number = 0;
                    }
                    ).Bind(Model.ExpectedSalesCount).GetHtml()
            </td>
        </tr>
        <tr class="spaceUnder">
            <td>
                @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "ExpectedResponseCount";
                    s.Text = "Expected Response Count";
                }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().SpinEdit(
                    settings => {
                                    settings.Name = "ExpectedResponseCount";
                                    settings.Number = 0;
                    }
                    ).Bind(Model.ExpectedResponseCount).GetHtml()
            </td>
            <td>
                @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "ExpectedROI";
                    s.Text = "Expected ROI";
                }).GetHtml()
            </td>
            <td>
                @Html.DevExpress().SpinEdit(
                    settings => {
                                    settings.Name = "ExpectedROI";
                                    settings.Properties.NumberType = SpinEditNumberType.Float;
                                    settings.Properties.Increment = 0.1M;
                                    settings.Properties.LargeIncrement = 1;
                                    settings.Number = 0;
                    }
                    ).Bind(Model.ExpectedROI).GetHtml()
            </td>
        </tr>
        <tr class="spaceUnder">
            <td>
                @Html.DevExpress().Label(s =>
                {
                s.AssociatedControlName = "Description";
                s.Text = "Description";
                }).GetHtml()
            </td>
            <td>
            @Html.DevExpress().Memo(
            settings =>
            {
                settings.Name = "Description";
                settings.ControlStyle.CssClass = "editor";
                settings.Height = System.Web.UI.WebControls.Unit.Pixel(200);
                settings.Width = System.Web.UI.WebControls.Unit.Pixel(200);
          }
         ).Bind(Model.Description).GetHtml()
            </td>
        </tr>
        <tr class="spaceUnder">
            <td></td>
            <td></td>
            <td></td>
            <td>
                @if (ViewData["IsAuthorized"]!= null && (bool)ViewData["IsAuthorized"])
                {
                @Html.DevExpress().HyperLink(s => {
                                                      s.Name = "SaveProduct";
                                                      s.Properties.Text = "Save";
                                                      s.NavigateUrl = "javascript:UpdateGridView();";
                }).GetHtml()
                }
               
                @Html.DevExpress().HyperLink(s => {
                                                      s.Name = "CancelProduct";
                                                      s.Properties.Text = "Cancel";
                                                      s.NavigateUrl = "javascript:GridView.CancelEdit();";
                }).GetHtml()
            </td>
        </tr>

    </table>
}