@model CRM.Business.Dtoes.CampaignDtoes.CrmCampaignDto
<script type="text/javascript">
    function PostEditForm() {

        SelectedId();
        var data = {
            param: $(this).serialize()
        };

        $.ajax({
            url: "/Campaign/GridViewPartialAddNew",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(data)
        });
    }
</script>
@*@using (Html.BeginForm("GridViewPartialAddNew", "Lead", FormMethod.Post, new {id = "frmTab"}))
{*@
    <section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-danger'>
                <div class='box-header'>
                    <h3 class='box-title'>Campaign Information <small></small></h3>
                    <!-- tools box -->
                   
                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <label style="width: 155px; height: 10px;">Campaign Name: </label>
                                </div>
                                @Html.DevExpress().TextBox(s =>
                                {
                                    s.Name = "CampaignName";
                                    s.ShowModelErrors = true;
                                    s.ControlStyle.CssClass = "form-control";
                                }).Bind(Model.CampaignName).GetHtml()
                            </div><!-- /.input group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">AssignTo:</label>
                                    </div>
                                    @Html.Partial("AssignToPartial", Model)
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">Campaign Status:</label>
                                    </div>
                                    @Html.DevExpress().ComboBox(
                                    settings =>
                                    {
                                        settings.Name = "StatusNameId";
                                        settings.Width = 177;
                                        settings.SelectedIndex = 0;
                                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                        settings.Properties.TextField = "Description";
                                        settings.Properties.ValueField = "CampaignStatusId";
                                        settings.ControlStyle.CssClass = "form-control";
                                    }
                                    ).BindList(ViewData["Status"]).Bind(Model.StatusNameId).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">Campaign Type:</label>
                                    </div>
                                    @Html.DevExpress().ComboBox(
                                    settings =>
                                    {
                                        settings.Name = "TypeName";
                                        settings.Width = 177;
                                        settings.SelectedIndex = 0;
                                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                        settings.Properties.TextField = "TypeName";
                                        settings.Properties.ValueField = "TypeNameId";
                                        settings.ControlStyle.CssClass = "form-control";
                                    }
                                    ).BindList(ViewData["Types"]).Bind(Model.TypeName).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">Products:</label>
                                    </div>
                                    @Html.DevExpress().ComboBox(
                                    settings =>
                                    {
                                        settings.Name = "ProductNameId";
                                        settings.Width = 177;
                                        settings.SelectedIndex = 0;
                                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                        settings.Properties.TextField = "ProductName";
                                        settings.Properties.ValueField = "ProductNameId";
                                        settings.ControlStyle.CssClass = "form-control";
                                    }
                                    ).BindList(ViewData["Products"]).Bind(Model.ProductNameId).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">Related Target:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "TargetAudience";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";
                                    }).Bind(Model.TargetAudience).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">End Date:</label>
                                    </div>
                                    @Html.DevExpress().DateEdit(s =>
                                    {
                                        s.Name = "ExpectedCloseDate";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";
                                        s.Width = 177;
                                    }).Bind(Model.ExpectedCloseDate).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px; height: 10px;">Sponsor:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "Sponsor";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.Sponsor).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">Target Size:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(settings =>
                                    {
                                        settings.Name = "TargetSize";
                                        settings.Properties.SpinButtons.ShowLargeIncrementButtons = false;
                                        settings.Properties.SpinButtons.ShowIncrementButtons = false;
                                        settings.ControlStyle.CssClass = "form-control";

                                        settings.Properties.NumberType = SpinEditNumberType.Integer;
                                        settings.Properties.MaxValue = 99999;
                                        settings.Width = 177;
                                    }).Bind(Model.TargetSize).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px; height: 10px;">Number Sent:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(settings =>
                                    {
                                        settings.Name = "NumberSent";
                                        settings.Properties.SpinButtons.ShowLargeIncrementButtons = false;
                                        settings.Properties.SpinButtons.ShowIncrementButtons = false;
                                        settings.ControlStyle.CssClass = "form-control";

                                        settings.Properties.NumberType = SpinEditNumberType.Integer;
                                        settings.Properties.MaxValue = 99999;
                                        settings.Width = 177;
                                    }).Bind(Model.NumberSent).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section>
    <!-- /.content -->
@*}*@