@model CRM.Business.Dtoes.CampaignDtoes.CrmCampaignDto
<script type="text/javascript">
    function PostEditForm() {

        SelectedId();
        var data = {
            param: $(this).serialize()
        };

        $.ajax({
            url: "/Campaign/GridViewPartialAddNew",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(data)
        });
    }
</script>
@*@using (Html.BeginForm("GridViewPartialAddNew", "Lead", FormMethod.Post, new {id = "frmTab"}))
{*@
    <section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-info'>
                <div class='box-header'>
                    <h3 class='box-title'>Expected & Actual <small></small></h3>
                    <!-- tools box -->

                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">Budget Cost:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                        settings =>
                                        {
                                            settings.Name = "BudgetCost";
                                            settings.Properties.DisplayFormatString = "C";
                                            settings.Number = 799.95M;
                                            settings.ControlStyle.CssClass = "form-control"; ;

                                            settings.Properties.MinValue = 1;
                                            settings.Properties.MaxValue = 1000000000;
                                            settings.ShowModelErrors = true;
                                            settings.Width = 177;
                                        }
                                        ).Bind(Model.BudgetCost).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">Actual Cost:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                        settings =>
                                        {
                                            settings.Name = "ActualCost";
                                            settings.Properties.DisplayFormatString = "C";
                                            settings.Number = 799.95M;
                                            settings.ControlStyle.CssClass = "form-control"; ;

                                            settings.Properties.MinValue = 1;
                                            settings.Properties.MaxValue = 1000000000;
                                            settings.ShowModelErrors = true;
                                            settings.Width = 177;
                                        }
                                        ).Bind(Model.ActualCost).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">Expected Response:</label>
                                    </div>
                                    @Html.DevExpress().ComboBox(
                                    settings =>
                                    {
                                        settings.Name = "ExpectedResponseTypeName";
                                        settings.Width = 177;
                                        settings.SelectedIndex = 0;
                                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                        settings.Properties.TextField = "ExpectedResponseTypeName";
                                        settings.Properties.ValueField = "ExpectedResponseTypeId";
                                        settings.ControlStyle.CssClass = "form-control"; ;
                                    }
                                    ).BindList(ViewData["Responses"]).Bind(Model.ExpectedResponseTypeName).GetHtml()
                                </div>
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px; height: 10px;">Expected Revenue:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                        settings =>
                                        {
                                            settings.Name = "ExpectedRevenue";
                                            settings.Properties.DisplayFormatString = "C";
                                            settings.Number = 799.95M;
                                            settings.ControlStyle.CssClass = "form-control"; ;

                                            settings.Properties.MinValue = 1;
                                            settings.Properties.MaxValue = 1000000000;
                                            settings.ShowModelErrors = true;
                                            settings.Width = 177;
                                        }
                                        ).Bind(Model.ExpectedRevenue).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">Expected Sales Count:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(settings =>
                                    {
                                        settings.Name = "ExpectedSalesCount";
                                        settings.Properties.SpinButtons.ShowLargeIncrementButtons = false;
                                        settings.Properties.SpinButtons.ShowIncrementButtons = false;
                                        settings.ControlStyle.CssClass = "form-control";

                                        settings.Properties.NumberType = SpinEditNumberType.Integer;
                                        settings.Properties.MaxValue = 99999;
                                        settings.Width = 177;
                                    }).Bind(Model.ExpectedSalesCount).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px; height: 10px;">Actual Sales Count: </label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(settings =>
                                    {
                                        settings.Name = "ActualSalesCount";
                                        settings.Properties.SpinButtons.ShowLargeIncrementButtons = false;
                                        settings.Properties.SpinButtons.ShowIncrementButtons = false;
                                        settings.ControlStyle.CssClass = "form-control";

                                        settings.Properties.NumberType = SpinEditNumberType.Integer;
                                        settings.Properties.MaxValue = 99999;
                                        settings.Width = 177;
                                    }).Bind(Model.ActualSalesCount).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">Expected Response Count:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(settings =>
                                    {
                                        settings.Name = "ExpectedResponseCount";
                                        settings.Properties.SpinButtons.ShowLargeIncrementButtons = false;
                                        settings.Properties.SpinButtons.ShowIncrementButtons = false;
                                        settings.ControlStyle.CssClass = "form-control";

                                        settings.Properties.NumberType = SpinEditNumberType.Integer;
                                        settings.Properties.MaxValue = 99999;
                                        settings.Width = 177;
                                    }).Bind(Model.ExpectedResponseCount).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px; height: 10px;">Actual Response Count: </label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(settings =>
                                    {
                                        settings.Name = "ActualResponseCount";
                                        settings.Properties.SpinButtons.ShowLargeIncrementButtons = false;
                                        settings.Properties.SpinButtons.ShowIncrementButtons = false;
                                        settings.ControlStyle.CssClass = "form-control";

                                        settings.Properties.NumberType = SpinEditNumberType.Integer;
                                        settings.Properties.MaxValue = 99999;
                                        settings.Width = 177;
                                    }).Bind(Model.ActualResponseCount).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px;">Expected ROI:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                        settings =>
                                        {
                                            settings.Name = "ExpectedROI";
                                            settings.Properties.DisplayFormatString = "C";
                                            settings.Number = 799.95M;
                                            settings.ControlStyle.CssClass = "form-control"; ;

                                            settings.Properties.MinValue = 1;
                                            settings.Properties.MaxValue = 1000000000;
                                            settings.ShowModelErrors = true;
                                            settings.Width = 177;
                                        }
                                        ).Bind(Model.ExpectedROI).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 155px; height: 10px;">Actual ROI: </label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                        settings =>
                                        {
                                            settings.Name = "ActualROI";
                                            settings.Properties.DisplayFormatString = "C";
                                            settings.Number = 799.95M;
                                            settings.ControlStyle.CssClass = "form-control"; ;

                                            settings.Properties.MinValue = 1;
                                            settings.Properties.MaxValue = 1000000000;
                                            settings.ShowModelErrors = true;
                                            settings.Width = 177;
                                        }
                                        ).Bind(Model.ActualROI).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section>
    <!-- /.content -->
@*}*@