﻿@model CRM.Models.LoginModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html>

<head>
    <title>CRM Login</title>
    <meta charset="utf-8">
    <link href="../../Content/login-style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <!--//webfonts-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    <script>
        function onError(error, inputElement) {  // 'this' is the form element
    var container = $(this).find("[data-valmsg-for='" + inputElement[0].name + "']"),
        replace = $.parseJSON(container.attr("data-valmsg-replace")) !== false;

    container.removeClass("field-validation-valid").addClass("field-validation-error");
    error.data("unobtrusiveContainer", container);

    if (replace) {
        container.empty();
        error.removeClass("input-validation-error").appendTo(container);
    }
    else {
        error.hide();
    }
}
    </script>
</head>
<body>

    <div class="login-form">
        <h1>Sign In</h1>
        <h2>
            @Html.ActionLink("Create Account" , "Register","Login",null, new { @class = "dropdown-toggle" } )
         </h2>
        <h2>@*<a href="#">Create Account</a>*@</h2>
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false)
            <li>
                @Html.TextBoxFor(m => m.UserName, new { onfocus = "this.value = '';"})
                @*<input type="text" class="text" value="User Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User Name';}">*@<a href="#" class=" icon user"></a>
            </li>
            <li>
                @Html.PasswordFor(m => m.Password, new {onfocus = "this.value = '';"})
                @*<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">*@<a href="#" class=" icon lock"></a>
            </li>
            <div class="forgot">
                <h3><a href="#">Forgot Password?</a></h3>
                <input type="submit" value="Sign In"> <a href="#" class=" icon arrow"></a>
            </div>
        }
</div>

    <!-----start-main---->
    
    <!--//End-login-form-->


   

</body>
</html>