﻿@model CRM.Models.RegisterModel
@{
    Layout = "";
}
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <title>CRM Registration Form </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Login and Registration Form with HTML5 and CSS3" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="~/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="~/css/style.css" />
		<link rel="stylesheet" type="text/css" href="~/css/animate-custom.css" />
    </head>
    <body>
        <div class="container">
            <header>
                <h1>CRM <span>Registration Form </span></h1>
            </header>
            <section>				
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            @using (Html.BeginForm("Register", "Login", FormMethod.Post))
                            {
                                
                                    <h1> Sign up </h1>
                                    <p>
                                        <label for="usernamesignup" class="uname" data-icon="u">Your First Name</label>
                                        @Html.TextBoxFor(m => m.FirstName, new { id = "firstname", name="usernamesignup",@required="required", @placeholder = "enter your first name.."})
                                        @*<input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="mysuperusername690" />*@
                                    </p>
                                    <p>
                                        <label for="lastnamesignup" class="uname" data-icon="u">Your Last Name</label>
                                        @Html.TextBoxFor(m => m.LastName, new { id = "lastname", name="lastnamesignup",@required="required", @placeholder = "enter your last name.."})
                                        @*<input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="mysuperusername690" />*@
                                    </p>
                                    <p>
                                        <label for="usernamesignup" class="uname" data-icon="u">Your User Name</label>
                                        @Html.TextBoxFor(m => m.LastName, new { id = "username", name="usernamesignup",@required="required", @placeholder = "enter your user name.."})
                                        @*<input id="usernamesignup" name="usernamesignup" required="required" type="text" placeholder="mysuperusername690" />*@
                                    </p>
                                    <p>
                                        <label for="emailsignup" class="youmail" data-icon="e"> Your email</label>
                                        @Html.TextBoxFor(m => m.EMail, new { id = "emailsignup", name="emailsignup",@required="required", @type="email", @placeholder = "koraycrk@gmail.com"})
                                        @*<input id="emailsignup" name="emailsignup" required="required" type="email" placeholder="mysupermail@mail.com" />*@
                                    </p>
                                    <p>
                                        <label for="passwordsignup" class="youpasswd" data-icon="p">Your password </label>
                                        @Html.TextBoxFor(m => m.Password, new { id = "passwordsignup", name="passwordsignup",@required="required", @type="password", @placeholder = "eg. X8df!90EO"})
                                        @*<input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="eg. X8df!90EO" />*@
                                    </p>
                                    <p>
                                        <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Please confirm your password </label>
                                        @Html.TextBoxFor(m => m.ConfirmPassword, new { id = "passwordsignup_confirm", name="passwordsignup_confirm",@required="required", @type="password", @placeholder = "eg. X8df!90EO"})
                                        <script language='javascript' type='text/javascript'>
                                        var password = document.getElementById("passwordsignup")
                                      , confirm_password = document.getElementById("passwordsignup_confirm");

                                    function validatePassword(){
                                      if(password.value != confirm_password.value) {
                                        confirm_password.setCustomValidity("Passwords Don't Match");
                                      } else {
                                        confirm_password.setCustomValidity('');
                                      }
                                    }

                                    password.onchange = validatePassword;
                                    confirm_password.onkeyup = validatePassword;
                                        </script>
                                        @*<input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="eg. X8df!90EO" />*@
                                    </p>
                                    <p class="signin button">
                                        <input type="submit" value="Sign up" />
                                    </p>
                                
                            }
                        </div>

                        <div id="register" class="animate form">
                           
                        </div>
						
                    </div>
                </div>  
            </section>
        </div>
    </body>
</html>