@model IList<CRM.Core.Entities.Product.Crm_Product>
                                                    @{

    var grid = Html.DevExpress().GridView(settings =>
    {
    settings.Name = "GridView";
    settings.SettingsEditing.ShowModelErrorsForEditors = true;
    settings.CallbackRouteValues = new { Controller = "Product", Action = "GridViewPartial" };
    settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "Product", Action = "GridViewPartialAddNew" };
    settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Product", Action = "GridViewPartialUpdate" };
    settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "Product", Action = "GridViewPartialDelete" };
    settings.SettingsBehavior.ConfirmDelete = true;
    settings.CommandColumn.Visible = true;
    settings.CommandColumn.ShowSelectCheckbox = true;
    settings.ClientSideEvents.SelectionChanged = "OnSelectionChanged";
    settings.ClientSideEvents.BeginCallback = "OnBeginCallback";
    settings.CommandColumn.ButtonType = GridViewCommandButtonType.Image;
    settings.CommandColumn.EditButton.Image.Url = "../../Content/images/edit.png" ;
    settings.CommandColumn.NewButton.Image.Url = "../../Content/images/new.png" ;
    settings.CommandColumn.UpdateButton.Image.Url = "../../Content/images/update.png";
    settings.CommandColumn.DeleteButton.Image.Url = "../../Content/images/delete.png";
    settings.CommandColumn.CancelButton.Image.Url = "../../Content/images/cancel.png";
    settings.CommandColumn.ShowNewButtonInHeader = false;
    settings.CommandColumn.ShowDeleteButton = false;
    settings.CommandColumn.ShowEditButton = false;
    settings.SettingsEditing.Mode = GridViewEditingMode.PopupEditForm;
    settings.KeyFieldName = "ProductId";
    settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);

    settings.SettingsPager.Visible = true;
    settings.Settings.ShowGroupPanel = true;
    settings.Settings.ShowFilterRow = true;
    settings.SettingsBehavior.AllowSelectByRowClick = true;
    settings.Columns.Add("Name");
    settings.Columns["Name"].Caption = "Product Name";
    settings.Columns.Add("PartNo");
    settings.Columns["PartNo"].Caption = "Part No";
    settings.Columns.Add("CommissionRate");
    settings.Columns["CommissionRate"].Caption = "Commission Rate";
    settings.Columns.Add("QuantityInStock");
    settings.Columns["QuantityInStock"].Caption = "Quantity In Stock";
    settings.Columns.Add("QuantityPerUnit");
    settings.Columns["QuantityPerUnit"].Caption = "Quantity Per Unit";
    settings.Columns.Add("UnitPrice");
    settings.Columns["UnitPrice"].Caption = "Unit Price";
    settings.Columns.Add(column =>
    {
        column.Caption = "#";
        column.SetDataItemTemplateContent(c =>
        {
            ViewContext.Writer.Write("<a href=\"/Product/ExternalEditFormEdit?ProductId={0}\"><img src=\"../../Content/images/edit.png\" alt=\"My Image\" /></a>", DataBinder.Eval(c.DataItem, "ProductId"));
            ViewContext.Writer.Write("&nbsp;");
            ViewContext.Writer.Write("<a href=\"/Product/GridViewPartialDelete?ProductId={0}\" onclick =\"return confirm('Do you really want to delete this record?');\"><img src=\"../../Content/images/delete.png\" alt=\"My Image\" /></a>", DataBinder.Eval(c.DataItem, "ProductId"));
            //ViewContext.Writer.Write(
            //    Html.ActionLink("Edit", "ExternalEditFormEdit", new { LeadId = DataBinder.Eval(c.DataItem, "LeadId") }) + "&nbsp;" +
            //    Html.ActionLink("Delete", "GridViewPartialDelete", new { LeadId = DataBinder.Eval(c.DataItem, "LeadId") },
            //        new { onclick = "return confirm('Do you really want to delete this record?')" })
            //);
        });
        column.Settings.AllowDragDrop = DefaultBoolean.False;
        column.Settings.AllowSort = DefaultBoolean.False;
        column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
    });
    
    


    settings.SetEditFormTemplateContent(c =>
    {
    Html.RenderPartial("ProductEditFormPartial",
    !c.Grid.IsNewRowEditing ?
    Model.FirstOrDefault(m => m.ProductId == Convert.ToInt32(DataBinder.Eval(c.DataItem, "ProductId"))) :
    new CRM.Core.Entities.Product.Crm_Product()
    {
    ProductId = Model.OrderByDescending(p => p.ProductId)
    .First()
    .ProductId + 1
    });
    });
    });
    if (ViewData["EditError"] != null)
    {
    grid.SetEditErrorText((string)ViewData["EditError"]);
    }
                                                    }
    @grid.Bind(Model).GetHtml()
