@model CRM.Core.Entities.Product.Crm_Product
@using (Html.BeginForm("GridViewPartialUpdate", "Product", FormMethod.Post, new { id = "frmPerson" }))
{
<table style="border-spacing: 10px;">
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Name";
                s.Text = "Name";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Name";
                s.ShowModelErrors = true;
            }).Bind(Model.Name).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
            s.AssociatedControlName = "Category";
            s.Text = "Category";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().ComboBox(
                settings => {
                                settings.Name = "CategoryNameId";
                                settings.Width = 180;
                                settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                settings.Properties.TextField = "Item2";
                                settings.Properties.ValueField = "Item1";
                                settings.ShowModelErrors = true;
                }
                ).BindList(ViewData["Categories"]).Bind(Model.CategoryNameId).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "Vendor";
                    s.Text = "Vendor";
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().ComboBox(
                settings => {
                                settings.Name = "VendorNameId";
                                settings.Width = 180;
                                settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                settings.Properties.TextField = "Name";
                                settings.Properties.ValueField = "VendorId";
                                settings.ShowModelErrors = true;
                }
                ).BindList(ViewData["Vendors"]).Bind(Model.VendorNameId).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "Manufacturer";
                    s.Text = "Manufacturer";
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().ComboBox(
                settings => {
                                settings.Name = "ManufacturerNameId";
                                settings.Width = 180;
                                settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                settings.Properties.TextField = "Description";
                                settings.Properties.ValueField = "ManufacturerId";
                                settings.ShowModelErrors = true;
                }
                ).BindList(ViewData["Manufacturers"]).Bind(Model.ManufacturerNameId).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "SalesStartDate";
                    s.Text = "Sales Start Date";
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().DateEdit(s =>
                {
                    s.Name = "SalesStartDate";
                    s.ShowModelErrors = true;
                }).Bind(Model.SalesStartDate).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "SalesEndDate";
                    s.Text = "Sales End Date";
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().DateEdit(s =>
                {
                    s.Name = "SalesEndDate";
                    s.ShowModelErrors = true;
                }).Bind(Model.SalesEndDate).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "SupportStartDate";
                    s.Text = "Support Start Date";
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().DateEdit(s =>
                {
                    s.Name = "SupportStartDate";
                    s.ShowModelErrors = true;
                }).Bind(Model.SupportStartDate).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
                {
                    s.AssociatedControlName = "SupportExpiryDate";
                    s.Text = "Support Expiry Date";
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().DateEdit(s =>
                {
                    s.Name = "SupportExpiryDate";
                    s.ShowModelErrors = true;
                }).Bind(Model.SupportExpiryDate).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "SerialNo";
                s.Text = "Serial No";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "SerialNo";
                s.ShowModelErrors = true;

            }).Bind(Model.SerialNo).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "VendorPartNo";
                s.Text = "Vendor Part No";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "VendorPartNo";
                s.ShowModelErrors = true;

            }).Bind(Model.VendorPartNo).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "ManufacturPartNo";
                s.Text = "Manufactur Part No";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "ManufacturPartNo";
                s.ShowModelErrors = true;
            }).Bind(Model.ManufacturPartNo).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Website";
                s.Text = "Website";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "Website";
                s.ShowModelErrors = true;

            }).Bind(Model.Website).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "GLAccount";
                s.Text = "GLAccount";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().TextBox(s =>
            {
                s.Name = "GLAccount";
                s.ShowModelErrors = true;
            }).Bind(Model.GLAccount).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "UnitPrice";
                s.Text = "Unit Price";
            }).GetHtml()
        </td>
        <td>
                       @Html.DevExpress().SpinEdit(
                settings => {
                    settings.Name = "UnitPrice";
                    settings.Properties.DisplayFormatString = "C";
                    settings.Number = 799.95M;
                   settings.Properties.MinValue = 1;
                   settings.Properties.MaxValue = 999;
                                settings.ShowModelErrors = true;
                }
            ).Bind(Model.UnitPrice).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "PercentVAT";
                s.Text = "PercentVAT";
            }).GetHtml()
        </td>
        <td>
                       @Html.DevExpress().SpinEdit(
                    settings => {
                                    settings.Name = "PercentVAT";
                                    settings.Properties.NumberType = SpinEditNumberType.Float;
                                    settings.Number = 0;
                                    settings.ShowModelErrors = true;
                    }
                    ).Bind(Model.PercentVAT).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "PercentSales";
                s.Text = "Percent Sales";
            }).GetHtml()
        </td>
        <td>
                        @Html.DevExpress().SpinEdit(
                    settings => {
                                    settings.Name = "PercentSales";
                                    settings.Properties.NumberType = SpinEditNumberType.Float;
                                    settings.Number = 0;
                                    settings.ShowModelErrors = true;
                    }
                    ).Bind(Model.PercentSales).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "PercentService";
                s.Text = "Percent Service";
            }).GetHtml()
        </td>
        <td>
                       @Html.DevExpress().SpinEdit(
                    settings => {
                                    settings.Name = "PercentService";
                                    settings.Properties.NumberType = SpinEditNumberType.Float;
                                    settings.Number = 0;
                                    settings.ShowModelErrors = true;
                    }
                    ).Bind(Model.PercentService).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "PurchaseCost";
                s.Text = "Purchase Cost";
            }).GetHtml()
        </td>
        <td>
                        @Html.DevExpress().SpinEdit(
                settings => {
                    settings.Name = "PurchaseCost";
                    settings.Properties.DisplayFormatString = "C";
                    settings.Number = 799.95M;
                    settings.ShowModelErrors = true;
                }
            ).Bind(Model.PurchaseCost).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Unit";
                s.Text = "Unit";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().ComboBox(
                settings => {
                                settings.Name = "UnitNameId";
                                settings.Width = 180;
                                settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                settings.Properties.TextField = "Text";
                                settings.Properties.ValueField = "UnitId";
                                settings.ShowModelErrors = true;
                }
                ).BindList(ViewData["Units"]).Bind(Model.UnitNameId).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "CurrencyId";
                s.Text = "Currency";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().ComboBox(
                settings => {
                                settings.Name = "CurrencyNameId";
                                settings.Width = 180;
                                settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                settings.Properties.TextField = "Name";
                                settings.Properties.ValueField = "CurrencyId";
                                settings.ShowModelErrors = true;
                }
                ).BindList(ViewData["Currencies"]).Bind(Model.CurrencyNameId).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "CommissionRate";
                s.Text = "Commission Rate";
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "CommissionRate";
                                settings.Properties.NumberType = SpinEditNumberType.Float;
                                settings.Number = 0;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.CommissionRate).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "QuantityPerUnit";
                s.Text = "Quantity Per Unit";
            }).GetHtml()
        </td>
        <td>
                        @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "QuantityPerUnit";
                                settings.Properties.NumberType = SpinEditNumberType.Integer;
                                settings.Number = 0;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.QuantityPerUnit).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "QuantityInStock";
                s.Text = "Quantity In Stock";
            }).GetHtml()
        </td>
        <td>
                        @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "QuantityInStock";
                                settings.Properties.NumberType = SpinEditNumberType.Integer;
                                settings.Number = 0;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.QuantityInStock).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "ReorderLevel";
                s.Text = "Reorder Level";
            }).GetHtml()
        </td>
        <td>
                        @Html.DevExpress().SpinEdit(
                settings => {
                                settings.Name = "ReorderLevel";
                                settings.Properties.NumberType = SpinEditNumberType.Integer;
                                settings.Number = 0;
                                settings.ShowModelErrors = true;
                }
                ).Bind(Model.ReorderLevel).GetHtml()
        </td>
    </tr>
    <tr class="spaceUnder">
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "QuantityInDemand";
                s.Text = "Quantity In Demand";
            }).GetHtml()
        </td>
        <td>
                        @Html.DevExpress().SpinEdit(
                    settings => {
                                    settings.Name = "QuantityInDemand";
                                    settings.Properties.NumberType = SpinEditNumberType.Integer;
                                    settings.Number = 0;
                                    settings.ShowModelErrors = true;
                    }
                    ).Bind(Model.QuantityInDemand).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Label(s =>
            {
                s.AssociatedControlName = "Description";
                s.Text = "Description";
            }).GetHtml()
        </td>
        <td>
           @Html.DevExpress().Memo(
            settings =>
            {
                settings.Name = "Description";
                settings.ControlStyle.CssClass = "editor";
                settings.Height = System.Web.UI.WebControls.Unit.Pixel(200);
                settings.Width = System.Web.UI.WebControls.Unit.Pixel(200);
          }
         ).Bind(Model.Description).GetHtml()
        </td>
    </tr>

    <tr class="spaceUnder">
        <td></td>
        <td></td>
        <td></td>
        <td>
            @if (ViewData["IsAuthorized"] != null && (bool) ViewData["IsAuthorized"])
            {
                @Html.DevExpress().HyperLink(s =>
                {
                    s.Name = "SaveProduct";
                    s.Properties.Text = "Save";
                    s.NavigateUrl = "javascript:UpdateGridView();";
                }).GetHtml()
            }
            

            @Html.DevExpress().HyperLink(s => {
            s.Name = "CancelProduct";
            s.Properties.Text = "Cancel";
            s.NavigateUrl = "javascript:GridView.CancelEdit();";
            }).GetHtml()
        </td>
    </tr>

</table>
}