@model CRM.Core.Entities.Product.Crm_Product
<script type="text/javascript">
    function PostEditForm() {

        SelectedId();
        var data = {
            param: $(this).serialize()
        };

        $.ajax({
            url: "/Product/GridViewPartialAddNew",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(data)
        });
    }
</script>
@*@using (Html.BeginForm("GridViewPartialAddNew", "Lead", FormMethod.Post, new {id = "frmTab"}))
{*@
    <section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-primary'>
                <div class='box-header'>
                    <h3 class='box-title'>Product Image Details <small></small></h3>
                    <!-- tools box -->

                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <label>Product Image:</label>
                                @Html.DevExpress().UploadControl(settings =>
                                {
                                    settings.Name = "ucMultiSelection";
                                    settings.ShowAddRemoveButtons = true;
                                    settings.ShowProgressPanel = true;
                                    settings.ShowClearFileSelectionButton = true;
                                    settings.ShowUploadButton = true;
                                    settings.Size = 30;
                                }).GetHtml()
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">

                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section><!-- /.content -->
    <!-- /.content -->
@*}*@