@model CRM.Core.Entities.Product.Crm_Product
<script type="text/javascript">
    function PostEditForm() {

        SelectedId();
        var data = {
            param: $(this).serialize()
        };

        $.ajax({
            url: "/Product/GridViewPartialAddNew",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(data)
        });
    }
</script>
@*@using (Html.BeginForm("GridViewPartialAddNew", "Lead", FormMethod.Post, new {id = "frmTab"}))
{*@
    <section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-danger'>
                <div class='box-header'>
                    <h3 class='box-title'>Price Information<small></small></h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                    </div><!-- /. tools -->
                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <label style="width: 145px; height: 10px;">Unit Price: </label>
                                </div>
                                @Html.DevExpress().SpinEdit(
                                    settings =>
                                    {
                                        settings.Name = "Price";
                                        settings.Properties.DisplayFormatString = "C";
                                        settings.Number = 799.95M;
                                        settings.Properties.MinValue = 1;
                                        settings.Properties.MaxValue = 999;
                                        settings.ShowModelErrors = true;
                                        settings.ControlStyle.CssClass = "form-control";
                                        settings.Width = 177;
                                        settings.Height = 35;
                                    }
                                    ).Bind(Model.UnitPrice).GetHtml()
                            </div><!-- /.input group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 145px;">Commission Rate:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                        settings =>
                                        {
                                            settings.Name = "CommissionRate";
                                            settings.Properties.NumberType = SpinEditNumberType.Float;
                                            settings.Number = 0;
                                            settings.Properties.MinValue = 1;
                                            settings.Properties.MaxValue = 1000000000;
                                            settings.ShowModelErrors = true;
                                            settings.ControlStyle.CssClass = "form-control";
                                            settings.Width = 177;
                                            settings.Height = 35;
                                        }
                                        ).Bind(Model.CommissionRate).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;">Percent VAT:</label>
                                        @Html.DevExpress().CheckBox(
                                            settings =>
                                            {
                                                settings.Name = "EnablePercentVAT";
                                                settings.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { var checked = s.GetChecked();if(checked){PercentVAT.SetEnabled(true);}else{PercentVAT.SetEnabled(false);} }";
                                            }
                                            ).GetHtml()
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                        settings =>
                                        {
                                            settings.Name = "PercentVAT";
                                            settings.Properties.NumberType = SpinEditNumberType.Float;
                                            settings.Number = 0;
                                            settings.Properties.MinValue = 1;
                                            settings.Properties.MaxValue = 1000000000;
                                            settings.ShowModelErrors = true;
                                            settings.ClientEnabled = false;
                                            settings.ControlStyle.CssClass = "form-control";
                                            settings.Width = 177;
                                            settings.Height = 35;
                                        }
                                        ).Bind(Model.PercentVAT).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;">Percent Sales:</label>
                                        @Html.DevExpress().CheckBox(
                                            settings =>
                                            {
                                                settings.Name = "EnablePercentSales";
                                                settings.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { var checked = s.GetChecked();if(checked){PercentSales.SetEnabled(true);}else{PercentSales.SetEnabled(false);} }";
                                            }
                                            ).GetHtml()
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                        settings =>
                                        {
                                            settings.Name = "PercentSales";
                                            settings.Properties.NumberType = SpinEditNumberType.Float;
                                            settings.Number = 0;
                                            settings.Properties.MinValue = 1;
                                            settings.Properties.MaxValue = 1000000000;
                                            settings.ShowModelErrors = true;
                                            settings.ClientEnabled = false;
                                            settings.ControlStyle.CssClass = "form-control";
                                            settings.Width = 177;
                                            settings.Height = 35;
                                        }
                                        ).Bind(Model.PercentSales).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 125px;">Percent Service:</label>
                                        @Html.DevExpress().CheckBox(
                                            settings =>
                                            {
                                                settings.Name = "EnablePercentService";
                                                settings.Properties.ClientSideEvents.CheckedChanged = "function(s, e) { var checked = s.GetChecked();if(checked){PercentSales.SetEnabled(true);}else{PercentSales.SetEnabled(false);} }";
                                            }
                                            ).GetHtml()
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                        settings =>
                                        {
                                            settings.Name = "PercentService";
                                            settings.Properties.NumberType = SpinEditNumberType.Float;
                                            settings.Number = 0;
                                            settings.Properties.MinValue = 1;
                                            settings.Properties.MaxValue = 1000000000;
                                            settings.ShowModelErrors = true;
                                            settings.ClientEnabled = false;
                                            settings.ControlStyle.CssClass = "form-control";
                                            settings.Width = 177;
                                            settings.Height = 35;
                                        }
                                        ).Bind(Model.PercentService).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section><!-- /.content -->
    <!-- /.content -->
@*}*@