@model CRM.Core.Entities.Product.Crm_Product
<script type="text/javascript">
    function PostEditForm() {

        SelectedId();
        var data = {
            param: $(this).serialize()
        };

        $.ajax({
            url: "/Product/GridViewPartialAddNew",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(data)
        });
    }
</script>
@*@using (Html.BeginForm("GridViewPartialAddNew", "Lead", FormMethod.Post, new {id = "frmTab"}))
{*@
    <section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-danger'>
                <div class='box-header'>
                    <h3 class='box-title'>Stock Information<small></small></h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                    </div><!-- /. tools -->
                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <label style="width: 145px; height: 10px;">Unit: </label>
                                </div>
                                @Html.DevExpress().ComboBox(
                                    settings =>
                                    {
                                        settings.Name = "UnitNameId";
                                        settings.Width = 180;
                                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                        settings.Properties.TextField = "Text";
                                        settings.Properties.ValueField = "UnitId";
                                        settings.ShowModelErrors = true;
                                        settings.ControlStyle.CssClass = "form-control";
                                        settings.Width = 177;
                                    }
                                    ).BindList(ViewData["Units"]).Bind(Model.UnitNameId).GetHtml()
                            </div><!-- /.input group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 145px;">Quantity Per Unit:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                        settings =>
                                        {
                                            settings.Name = "QuantityPerUnit";
                                            settings.Properties.NumberType = SpinEditNumberType.Integer;
                                            settings.Number = 0;
                                            settings.ShowModelErrors = true;
                                            settings.ControlStyle.CssClass = "form-control";
                                            settings.Width = 177;
                                        }
                                        ).Bind(Model.QuantityPerUnit).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 145px;">Quantity In Stock:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                        settings =>
                                        {
                                            settings.Name = "QuantityInStock";
                                            settings.Properties.NumberType = SpinEditNumberType.Integer;
                                            settings.Number = 0;
                                            settings.ShowModelErrors = true;
                                            settings.ControlStyle.CssClass = "form-control";
                                            settings.Width = 177;
                                        }
                                        ).Bind(Model.QuantityInStock).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 145px;">Reorder Level:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                        settings =>
                                        {
                                            settings.Name = "ReorderLevel";
                                            settings.Properties.NumberType = SpinEditNumberType.Integer;
                                            settings.Number = 0;
                                            settings.ShowModelErrors = true;
                                            settings.ControlStyle.CssClass = "form-control";
                                            settings.Width = 177;
                                        }
                                        ).Bind(Model.ReorderLevel).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 145px;">Sales representative:</label>
                                    </div>
                                    @Html.Partial("AssignToPartial", Model)
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 145px;">Quantity In Demand:</label>
                                    </div>
                                    @Html.DevExpress().SpinEdit(
                                        settings =>
                                        {
                                            settings.Name = "QuantityInDemand";
                                            settings.Properties.NumberType = SpinEditNumberType.Integer;
                                            settings.Number = 0;
                                            settings.ShowModelErrors = true;
                                            settings.ControlStyle.CssClass = "form-control";
                                            settings.Width = 177;
                                        }
                                        ).Bind(Model.QuantityInDemand).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section><!-- /.content -->
    <!-- /.content -->
@*}*@