@model CRM.Core.Entities.Product.Crm_Product
<script type="text/javascript">
    function PostEditForm() {

        SelectedId();
        var data = {
            param: $(this).serialize()
        };

        $.ajax({
            url: "/Service/GridViewPartialAddNew",
            type: "POST",
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(data)
        });
    }
</script>
@*@using (Html.BeginForm("GridViewPartialAddNew", "Lead", FormMethod.Post, new {id = "frmTab"}))
{*@
    <section class="content">
    <div class='row'>
        <div class='col-md-12'>
            <div class='box box-danger'>
                <div class='box-header'>
                    <h3 class='box-title'>Products Information<small></small></h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                       
                    </div><!-- /. tools -->
                </div><!-- /.box-header -->
                <div class='box-body pad'>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <label style="width: 145px; height: 10px;">Product Name: </label>
                                </div>
                                @Html.DevExpress().TextBox(s =>
                                {
                                    s.Name = "Name";
                                    s.ShowModelErrors = true;
                                    s.ControlStyle.CssClass = "form-control";
                                }).Bind(Model.Name).GetHtml()
                            </div><!-- /.input group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 145px;">Active:</label>
                                    </div>
                                    @Html.DevExpress().CheckBox(
                                        settings =>
                                        {
                                            settings.Name = "IsActive";
                                            settings.ControlStyle.CssClass = "form-control";
                                            settings.Width = 177;
                                            settings.Height = 35;
                                        }
                                        ).Bind(Model.IsActive).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 145px;">Part No:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "PartNo";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.PartNo).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 145px;">Sales Start Date:</label>
                                    </div>
                                    @Html.DevExpress().DateEdit(s =>
                                    {
                                        s.Name = "SalesStartDate";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";
                                        s.Width = 177;
                                    }).Bind(Model.SalesStartDate).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 145px;">Manufacturer:</label>
                                    </div>
                                    @Html.DevExpress().ComboBox(
                                    settings =>
                                    {
                                        settings.Name = "ManufacturerNameId";
                                        settings.Width = 180;
                                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                        settings.Properties.TextField = "Description";
                                        settings.Properties.ValueField = "ManufacturerId";
                                        settings.ShowModelErrors = true;
                                        settings.ControlStyle.CssClass = "form-control";
                                        settings.Width = 177;
                                    }
                                    ).BindList(ViewData["Manufacturers"]).Bind(Model.ManufacturerNameId).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 145px;">Category:</label>
                                    </div>
                                    @Html.DevExpress().ComboBox(
                                    settings =>
                                    {
                                        settings.Name = "CategoryNameId";
                                        settings.Width = 180;
                                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                        settings.Properties.TextField = "Item2";
                                        settings.Properties.ValueField = "Item1";
                                        settings.ShowModelErrors = true;
                                        settings.ControlStyle.CssClass = "form-control";
                                        settings.Width = 177;
                                    }
                                    ).BindList(ViewData["Categories"]).Bind(Model.CategoryNameId).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 145px;">Support Start Date:</label>
                                    </div>
                                    @Html.DevExpress().DateEdit(s =>
                                    {
                                        s.Name = "SupportStartDate";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";
                                        s.Width = 177;
                                    }).Bind(Model.SupportStartDate).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 145px;">Sales End Date:</label>
                                    </div>
                                    @Html.DevExpress().DateEdit(s =>
                                    {
                                        s.Name = "SalesEndDate";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";
                                        s.Width = 177;
                                    }).Bind(Model.SalesEndDate).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 145px;">Support Expiry Date:</label>
                                    </div>
                                    @Html.DevExpress().DateEdit(s =>
                                    {
                                        s.Name = "SupportExpiryDate";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";
                                        s.Width = 177;
                                    }).Bind(Model.SupportExpiryDate).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">

                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 145px;">Vendor:</label>
                                    </div>
                                    @Html.DevExpress().ComboBox(
                                    settings =>
                                    {
                                        settings.Name = "VendorNameId";
                                        settings.Width = 180;
                                        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.StartsWith;
                                        settings.Properties.DropDownStyle = DropDownStyle.DropDown;
                                        settings.Properties.TextField = "Name";
                                        settings.Properties.ValueField = "VendorId";
                                        settings.ShowModelErrors = true;
                                        settings.ControlStyle.CssClass = "form-control";
                                        settings.Width = 177;
                                    }
                                    ).BindList(ViewData["Vendors"]).Bind(Model.VendorNameId).GetHtml()
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 145px;">Website:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "Website";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.Website).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 145px;">Manufactur Part No:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "ManufacturPartNo";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";
                                    }).Bind(Model.ManufacturPartNo).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 145px;">Vendor Part No:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "VendorPartNo";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.VendorPartNo).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 145px;">Product Page:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "ProductPage";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";
                                    }).Bind(Model.ProductPage).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 145px;">Serial No:</label>
                                    </div>
                                    @Html.DevExpress().TextBox(s =>
                                    {
                                        s.Name = "SerialNo";
                                        s.ShowModelErrors = true;
                                        s.ControlStyle.CssClass = "form-control";

                                    }).Bind(Model.SerialNo).GetHtml()
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                        <div class="col-md-6 form-group">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <label style="width: 145px;">Statu:</label>
                                    </div>
                                    @Html.Partial("GLAccountPartial", Model)
                                    @*<input type="text" class="form-control" data-inputmask='"mask": "(999) 999-9999"' data-mask />*@
                                </div><!-- /.input group -->
                            </div><!-- /.form group -->
                        </div>
                    </div>
                </div>
            </div><!-- /.box -->
        </div><!-- /.col-->
    </div><!-- ./row -->
</section><!-- /.content -->
    <!-- /.content -->
@*}*@